<!-- $Id: privilege_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th>ID</th>
    <th>供应商名</th>
    <th>添加时间</th>
	<th>操作</th>
  </tr>
  {foreach from=$applier_list item=list}
  <tr>
    <td class="first-cell" >{$list.applier_id}</td>
    <td align="left">{$list.applier_name}</td>
    <td align="center">{$list.add_date}</td>
	<td align="center"><a href="moviecode.php?act=edit&applier_id={$list.applier_id}">修改</a></td>
  </tr>
  {/foreach}
</table>

{if $full_page}
</div>
{include file="pagefooter.htm"}
{/if}