<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>双12年终盛典</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .shuang1212_all { width:100%; overflow:hidden; margin:0 auto; }
        .shuang1212_all .act_pic{ width:100%; text-align:center;}
        .shuang1212_all .act_pic a{ margin-bottom:10px; display:block;}
        .shuang1212_all .act_pic .j_img_top{ height: auto;max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px;width: 100%;margin-bottom:10px;}
        .shuang1212_all .act_pic .j_img{ max-height: 186px;max-width: 640px;min-height:93px;min-width: 320px;}

        .shuang1212_all .act_tit{ width:100%; text-align:center;}
        .shuang1212_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
        .shuang1212_all .act_tit img{ padding:5px 0 20px 0;}

        .shuang1212_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

        .shuang1212_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
        .shuang1212_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .shuang1212_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .shuang1212_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .shuang1212_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .shuang1212_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
        .shuang1212_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

        .shuang1212_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
        .shuang1212_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .shuang1212_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .shuang1212_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .shuang1212_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .shuang1212_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
        .shuang1212_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

    </style>
</head>
<body>

<!--start-->

<div class="shuang1212_all">
<div class="act_pic">
    <img class="j_img_top" src="../images/shuang1212_01.jpg" />
    <a href="http://www.wjike.com/mobile/goods.php?id=10036"><img class="j_img" src="../images/shuang1212_02.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=6533"><img class="j_img" src="../images/shuang1212_03.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=5266"><img class="j_img" src="../images/shuang1212_04.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=5153"><img class="j_img" src="../images/shuang1212_05.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=10093"><img class="j_img" src="../images/shuang1212_06.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=10177"><img class="j_img" src="../images/shuang1212_07.jpg" /></a>
    <a href="http://wjike.com/mobile/goods.php?id=9820"><img class="j_img" src="../images/shuang1212_08.jpg" /></a>
</div>

<!--列表产品start-->

<div class="act_list">
    <ul>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=10044">
                    <img src="http://www.wjike.com/images/201511/source_img/10044_G_1447717905663.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=10044">张君雅小妹妹 五合一捏碎面 40g×5</a>
            </div>
            <div class="al_pri">
                会员价<span>￥12.5</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=10044" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9737">
                    <img src="http://www.wjike.com/images/201510/source_img/9737_G_1445887610861.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9737">HAKUBAKU 黄金大地 宝宝有机营养面 荞麦细面条 270g</a>
            </div>
            <div class="al_pri">
                会员价<span>￥24.8</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9737" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9768">
                    <img src="http://www.wjike.com/images/201510/source_img/9768_G_1446000066298.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9768">小林制药  宝宝退热贴 蓝色 12枚入</a>
            </div>
            <div class="al_pri">
                会员价<span>￥37</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9768" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=10157">
                    <img src="http://www.wjike.com/images/201512/source_img/10157_G_1449439505910.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=10157">日本Blua便携空气净化器 豹纹2200L</a>
            </div>
            <div class="al_pri">
                会员价<span>￥178.2</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=10157" class="buying">立即购买</a>
            </div>
        </li>

    </ul>
</div>
<!--列表产品end-->


<!--进口食品start-->
<div class="act_tit">
    <h2>进口食品</h2>
    <img src="../images/m_wjk003.png" />
</div>

<div class="act_list">
    <ul>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9484">
                    <img src="http://www.wjike.com/images/201509/source_img/9484_G_1441683549741.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9484">泰国 芭提娅 听装芒果汁 230ml</a>
            </div>
            <div class="al_pri">
                会员价<span>￥5</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9484" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9482">
                    <img src="http://www.wjike.com/images/201509/source_img/9482_G_1442859948423.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9482">泰国 芭提娅 听装红葡萄汁 230ml</a>
            </div>
            <div class="al_pri">
                会员价<span>￥5</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9482" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9288">
                    <img src="http://www.wjike.com/images/201509/source_img/9288_G_1441480375107.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9288">西班牙 谷优 消化饼饼干 400g</a>
            </div>
            <div class="al_pri">
                会员价<span>￥11.2</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9288" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9500">
                    <img src="http://www.wjike.com/images/201509/source_img/9500_G_1441738675304.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9500">韩国 真鲜 蜂蜜柚子茶 蜂蜜柚子冲调饮料 550g</a>
            </div>
            <div class="al_pri">
                会员价<span>￥29</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9500" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9501">
                    <img src="http://www.wjike.com/images/201510/source_img/9501_G_1444691997208.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9501">韩国 真鲜 蜂蜜大枣茶 蜂蜜大枣冲调饮料 550g</a>
            </div>
            <div class="al_pri">
                会员价<span>￥33.9</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9501" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9476">
                    <img src="http://www.wjike.com/images/201509/source_img/9476_G_1441676018296.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9476">英国 莱斯特 汤姆叔叔拇指糖 190g</a>
            </div>
            <div class="al_pri">
                会员价<span>￥26</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9476" class="buying">立即购买</a>
            </div>
        </li>

    </ul>
</div>
<!--进口食品end-->


<!--家居日用start-->
<div class="act_tit">
    <h2>家居日用</h2>
    <img src="../images/m_wjk003.png" />
</div>

<div class="act_list">
    <ul>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9762">
                    <img src="http://www.wjike.com/images/201511/source_img/9762_G_1447614760667.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9762">Kids&mama 婴儿洗衣液 900ml</a>
            </div>
            <div class="al_pri">
                会员价<span>￥60</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9762" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9769">
                    <img src="http://www.wjike.com/images/201511/source_img/9769_G_1447788738868.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9769">Elmy 女性专用 泡沫内衣清洗剂 200ml</a>
            </div>
            <div class="al_pri">
                会员价<span>￥31</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9769" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9822">
                    <img src="http://www.wjike.com/images/201511/source_img/9822_G_1446413322930.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9822">狮王 TOP屋内晾干强力洗衣粉 0.9kg</a>
            </div>
            <div class="al_pri">
                会员价<span>￥28</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9822" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9865">
                    <img src="http://www.wjike.com/images/201511/source_img/9865_G_1446972594711.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9865">Gel Corporation 马桶清洁剂 300ml</a>
            </div>
            <div class="al_pri">
                会员价<span>￥10.3</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9865" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9781">
                    <img src="http://www.wjike.com/images/201510/source_img/9781_G_1446056896663.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9781">Scottie　fine　smart&dry　厨房用纸巾 4卷 每卷75张</a>
            </div>
            <div class="al_pri">
                会员价<span>￥22</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9781" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9790">
                    <img src="http://www.wjike.com/images/201510/source_img/9790_G_1446167812790.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9790">锦化成　史迪奇 四角收纳软桶 天蓝色 1个 SQ43</a>
            </div>
            <div class="al_pri">
                会员价<span>￥99</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9790" class="buying">立即购买</a>
            </div>
        </li>

    </ul>
</div>
<!--家居日用end-->


<!--手机start-->
<div class="act_tit">
    <h2>手机</h2>
    <img src="../images/m_wjk003.png" />
</div>

<div class="act_list">
    <ul>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9662">
                    <img src="http://www.wjike.com/images/201509/source_img/9662_G_1443069895882.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9662">苹果(apple)iphone 6S Plus 金色 A1699 移动联通电信4G 64GB</a>
            </div>
            <div class="al_pri">
                会员价<span>￥6560</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9662" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9656">
                    <img src="http://www.wjike.com/images/201509/source_img/9656_G_1443069666424.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9656">苹果(apple)iphone 6S 玫瑰金 A1700 移动联通电信4G 64GB</a>
            </div>
            <div class="al_pri">
                会员价<span>￥5759</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9656" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9373">
                    <img src="http://www.wjike.com/images/201509/source_img/9373_G_1441566057397.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9373">三星Samsung Galaxy S6 铂光金 G9200 移动联通电信4G 双卡双待 32GB</a>
            </div>
            <div class="al_pri">
                会员价<span>￥3788</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9373" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9889">
                    <img src="http://www.wjike.com/images/201511/source_img/9889_G_1446508802223.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9889">华为Huawei Ascend P8 标准版 皓月银 移动联通4G手机 双卡双待  16G</a>
            </div>
            <div class="al_pri">
                会员价<span>￥2175</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9889" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9894">
                    <img src="http://www.wjike.com/images/201511/source_img/9894_G_1446511168647.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9894">华为Huawei Mate S 臻享版 玫瑰金 CRR-UL00 移动联通双4G 双卡双待 64GB</a>
            </div>
            <div class="al_pri">
                会员价<span>￥3565</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9894" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9926">
                    <img src="http://www.wjike.com/images/201511/source_img/9926_G_1446657059325.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9926">魅族 魅蓝2 白色 移动联通双4G手机 双卡双待 16GB </a>
            </div>
            <div class="al_pri">
                会员价<span>￥635</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9926" class="buying">立即购买</a>
            </div>
        </li>
    </ul>
</div>
<!--手机end-->

<!--家用电器start-->
<div class="act_tit">
    <h2>家用电器</h2>
    <img src="../images/m_wjk003.png" />
</div>

<div class="act_list">
    <ul>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9601">
                    <img src="http://wjike.com/images/201509/source_img/9601_G_1441930925623.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9601">九阳（Joyoung）豆浆机无网易清洗 粉红色 DJ12B-A01SG</a>
            </div>
            <div class="al_pri">
                会员价<span>￥299</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9601" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9534">
                    <img src="http://wjike.com/images/201510/source_img/9534_G_1445362295599.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9534">东芝TOSHIBA 微电脑式 电脑煲4L RC-N15PNS</a>
            </div>
            <div class="al_pri">
                会员价<span>￥390</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9534" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=6875">
                    <img src="http://wjike.com/images/201504/source_img/6875_G_1428445193957.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=6875">东芝TOSHIBA 真空 吸尘器 净彩系列 VC-B50C</a>
            </div>
            <div class="al_pri">
                会员价<span>￥399</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=6875" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=10045">
                    <img src="http://wjike.com/images/201511/source_img/10045_G_1447784307251.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=10045">飞利浦（PHILIPS）移动电源（银色）DLP2050</a>
            </div>
            <div class="al_pri">
                会员价<span>￥130</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=10045" class="buying">立即购买</a>
            </div>
        </li>
        <li class="act_list_one">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=10148">
                    <img src="http://wjike.com/images/201512/source_img/10148_G_1449092687039.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=10148">韩国现代（HYUNDAI）电烤箱 HYKX-1902</a>
            </div>
            <div class="al_pri">
                会员价<span>￥669</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=10148" class="buying">立即购买</a>
            </div>
        </li>

        <li class="act_list_two">
            <div class="al_pic">
                <a href="http://www.wjike.com/mobile/goods.php?id=9600">
                    <img src="http://wjike.com/images/201509/source_img/9600_G_1441929913906.jpg" />
                </a>
            </div>
            <div class="al_txt">
                <a href="http://www.wjike.com/mobile/goods.php?id=9600">九安 血压计全自动上臂式 KD591</a>
            </div>
            <div class="al_pri">
                会员价<span>￥288</span>
            </div>
            <div class="al_btn">
                <a href="http://www.wjike.com/mobile/goods.php?id=9600" class="buying">立即购买</a>
            </div>
        </li>
    </ul>
</div>
<!--家用电器end-->


</div>
<!--end-->

</body>
</html>






















