<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>熟悉的“我爱你”，不同的“520惊喜”</title>
    <style>
        .woaini_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .woaini_m_all .act_pic{ width:100%; text-align:center;}
        .woaini_m_all .act_pic a{ display:block;}
        .woaini_m_all .act_pic li{ float:left;}

        .woaini_m_all .fenlei_all{ width:100%; height:auto; position:fixed; bottom:0;}
        .woaini_m_all .fenlei_all li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}
<!--start-->

<div class="woaini_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_03.jpg" />
<a name="1F"></a>
<a href="javascript:getbonus(4)">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_04.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_05.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10389">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_06.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10267">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_07.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10866">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_08.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10858">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_09.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11089">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_10.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10091">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_11.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11136">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_12.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9656">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_13.jpg" />
            </a>
        </li>
    </ul>
</div>

<a name="2F"></a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_14.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuW6t%2be7tOS7liI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM1OTA7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_15.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6Iuafr%2bWFi%2bWFsCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM2MDI7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_16.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuW3p%2bWFi%2bWKmyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM1NTk7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_17.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/category.php?c_id=574">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_18.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/category.php?c_id=572">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_19.jpg" />
</a>

<a name="3F"></a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_20.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6Iui1hOeUn%2bWggiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM1MDc7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_21.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IumrmOS4nSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM1Mjk7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_22.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IumdouiGnCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM0ODI7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_23.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuS5s%2ba2siI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM0OTU7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_24.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/category.php?c_id=710">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_25.jpg" />
</a>

<a name="4F"></a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_26.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6Iui0neS6siI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM0MTE7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_27.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuW4leeOm%2bawjyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzM0MzI7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_28.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/category.php?c_id=755">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_29.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/category.php?c_id=756">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_30.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/category.php?c_id=754">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_31.jpg" />
</a>

<a name="5F"></a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_32.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuW6t%2bWNmuebiiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzMxNTA7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_33.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuW6t%2bmmpeiOiSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzMxNjk7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_34.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/category.php?c_id=84">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_35.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/category.php?c_id=191">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_36.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/category.php?c_id=44">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_37.jpg" />
</a>

<a name="6F"></a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_38.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuiLueaenCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzI4MjI7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_39.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuWwj%2bexsyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzI5ODg7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_40.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuWNjuS4uiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzMwMDE7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_41.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IumtheaXjyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM0NzMwMTM7fQ==">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_42.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/category.php?c_id=139">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_43.jpg" />
</a>
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_44.jpg" />



<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_45.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/woaini/woaini_m_46.jpg" />

</div>


<div class="fenlei_all">
    <ul>
        <li style="width:16.66%">
            <a href="#1F" name="1F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_01.jpg" width="100%" />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#2F" name="2F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_02.jpg" width="100%" />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#3F" name="3F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_03.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#4F" name="4F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_04.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#5F" name="5F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_05.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#6F" name="6F">
                <img src="http://www.wjike.com/images/upload/Image/activity/woaini/fenlei_06.jpg" width="100%"  />
            </a>
        </li>
    </ul>
</div>

</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















