<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>母婴全球购,呵护宝宝健康成长</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        .baojianpin_all { width:100%; overflow:hidden; margin:0 auto; }
        .baojianpin_all .act_pic{ width:100%; text-align:center;}
        .baojianpin_all .act_pic a{ display:block;}
        .baojianpin_all .act_pic li{ float:left;}
    </style>
</head>
<body>

<!--start-->

<div class="baojianpin_all">
    <div class="act_pic">
        <img style="width:100%" src="../images/babymother_m_01.jpg" />
        <img style="width:100%" src="../images/babymother_m_02.jpg" />
        <img style="width:100%" src="../images/babymother_m_03.jpg" />
        <img style="width:100%" src="../images/babymother_m_04.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10519"><img style="width:100%" src="../images/babymother_m_05.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10644"><img style="width:100%" src="../images/babymother_m_06.jpg" /></a></li>
            </ul>
        </div>
        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10519"><img style="width:100%" src="../images/babymother_m_05.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10644"><img style="width:100%" src="../images/babymother_m_06.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/babymother_m_09.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10675"><img style="width:100%" src="../images/babymother_m_10.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10672"><img style="width:100%" src="../images/babymother_m_11.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10474"><img style="width:100%" src="../images/babymother_m_12.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10665"><img style="width:100%" src="../images/babymother_m_13.jpg" /></a></li>
            </ul>
        </div>
        <div style="width:100%;">
            <ul>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10664"><img style="width:100%" src="../images/babymother_m_14.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10663"><img style="width:100%" src="../images/babymother_m_15.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10475"><img style="width:100%" src="../images/babymother_m_16.jpg" /></a></li>
                <li style="width:25%"><a href="http://www.wjike.com/mobile/goods.php?id=10485"><img style="width:100%" src="../images/babymother_m_17.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/babymother_m_18.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10337"><img style="width:100%" src="../images/babymother_m_19.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10489"><img style="width:100%" src="../images/babymother_m_20.jpg" /></a></li>
            </ul>
        </div>
        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10355"><img style="width:100%" src="../images/babymother_m_21.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10352"><img style="width:100%" src="../images/babymother_m_22.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/babymother_m_23.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="../images/babymother_m_24.jpg" />
        </a>

        <img style="width:100%" src="../images/babymother_m_25.jpg" />

    </div>

</div>

<!--end-->
</body>
</html>






















