<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本和光堂,日本尤妮佳,法国妙思乐,日本贝亲,德国贝娜婷,日本花王,湿巾,护臀膏,婴儿纸尿裤,婴儿拉拉裤-万集客商城wjike.com" />
<meta name="Description" content="360度,五星级呵护宝宝的小PP,为婴儿专用湿巾,针对红屁屁、湿疹、烫伤的万能膏,原装进口,海关监管发货-万集客商城wjike.com" />
<title>360度,五星级呵护宝宝的小PP</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.babypp_m_all { width:100%; overflow:hidden; margin:0 auto; }
.babypp_m_all .act_pic{ width:100%; text-align:center;}
.babypp_m_all .act_pic a{ display:block;} 
.babypp_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="babypp_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11809" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_05.jpg" alt="" />
        </a>  
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_06.jpg" />                
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12098" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_07.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11810" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_08.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10788" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_09.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12100" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12101" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_11.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10894" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_13.jpg" />
        
         
        <a href="http://www.wjike.com/mobile/goods.php?id=10676" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_14.jpg" alt="" />
        </a>  
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_15.jpg" />
        
         
        <a href="http://www.wjike.com/mobile/goods.php?id=10673" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_16.jpg" alt="" />
        </a>  
        
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_17.jpg" />
        
         
        <a href="http://www.wjike.com/mobile/goods.php?id=11576" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_18.jpg" alt="" />
        </a>  
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_19.jpg" />
                         
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11575" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_20.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11574" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_21.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11463" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_22.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11316" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_23.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11571" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_24.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11572" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_25.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_26.jpg" />                  
             
        <a href="http://www.wjike.com/mobile/goods.php?id=11461" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_27.jpg" alt="" />
        </a>  
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_28.jpg" />
                                                  
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11565" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_29.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11564" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_30.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11567" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_31.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11460" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_32.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11561" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_33.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11563" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_34.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_35.jpg" />
                    
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11459" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_36.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11458" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_37.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11457" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_38.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
           
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_39.jpg" />
          
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babypp/babypp_m_40.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















