<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,尤妮佳,日本花王,大王,纸尿裤,拉拉裤,婴儿纸尿裤,妙而舒,KAO,GOO.N,moony-万集客商城" />
    <meta name="Description" content="日本进口纸尿裤,拉拉裤,弹性拉伸薄层材料,干爽透气;环保贴身腰围设计,尿量增大也不怕;全新双层结构表层,蓬松柔软表面;快速吸收便便中的水分,不会扩散到小屁屁,舒心睡眠一整晚-wjike.com" />
    <title>纸尿裤拉拉裤大联合,小屁屁的"贴身保镖",超凡呵护,极致安心,全场99元起-万集客商城_万集客 - 生活优选会员制商城 进口食品 美妆个护 日用居家 手机数码</title>
    <style>
        .babydiapers_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .babydiapers_m_all .act_pic{ width:100%; text-align:center;}
        .babydiapers_m_all .act_pic a{ display:block;}
        .babydiapers_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="babydiapers_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_04.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11311" title="日本尤妮佳（moony）婴儿纸尿裤 NB新生儿90片（0-5kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_05.jpg" alt="日本尤妮佳（moony）婴儿纸尿裤 NB新生儿90片（0-5kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11312" title="日本尤妮佳（moony）婴儿纸尿裤 S84片 （4-8kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_06.jpg" alt="日本尤妮佳（moony）婴儿纸尿裤 S84片 （4-8kg)" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11313" title="日本尤妮佳（moony）婴儿纸尿裤 M64片 （6-11kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_07.jpg" alt="日本尤妮佳（moony）婴儿纸尿裤 M64片 （6-11kg)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11314" title="日本尤妮佳（moony）拉拉裤L男44片(9-14kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_08.jpg" alt="日本尤妮佳（moony）拉拉裤L男44片(9-14kg）" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11315" title="日本尤妮佳（moony）拉拉裤L女44片(9-14kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_09.jpg" alt="日本尤妮佳（moony）拉拉裤L女44片(9-14kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11316" title="日本尤妮佳（moony）拉拉裤XXL女26片(13-25kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_10.jpg" alt="日本尤妮佳（moony）拉拉裤XXL女26片(13-25kg）" />
                    </a>
                </li>
            </ul>
        </div>


        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_11.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11395" title="日本花王(KAO)妙而舒merries系列婴儿纸尿裤新生儿NB90片（0-5kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_12.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿纸尿裤新生儿NB90片（0-5kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11396" title="日本花王(KAO)妙而舒merries系列婴儿纸尿裤小号S82片（4-8kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_13.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿纸尿裤小号S82片（4-8kg)" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11397" title="日本花王(KAO)妙而舒merries系列婴儿纸尿裤中号M64片（6-11kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_14.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿纸尿裤中号M64片（6-11kg)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11399" title="日本花王(KAO)妙而舒merries系列婴儿拉拉裤大号L44片（9-14kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_15.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿拉拉裤大号L44片（9-14kg)" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11398" title="日本花王(KAO)妙而舒merries系列婴儿纸尿裤大号L54片（9-14kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_16.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿纸尿裤大号L54片（9-14kg)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11400" title="日本花王(KAO)妙而舒merries系列婴儿拉拉裤超特大号XXL26片（15-28kg)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_17.jpg" alt="日本花王(KAO)妙而舒merries系列婴儿拉拉裤超特大号XXL26片（15-28kg)" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_18.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11321" title="日本大王（GOO.N）维E系列纸尿裤NB90片（0kg-5kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_19.jpg" alt="日本大王（GOO.N）维E系列纸尿裤NB90片（0kg-5kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11323" title="日本大王（GOO.N）维E系列纸尿裤M64片（6kg-11kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_20.jpg" alt="日本大王（GOO.N）维E系列纸尿裤M64片（6kg-11kg）" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11324" title="日本大王（GOO.N）维E系列纸尿裤L54片（9kg-14kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_21.jpg" alt="日本大王（GOO.N）维E系列纸尿裤L54片（9kg-14kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11326" title="日本大王（GOO.N）维E系列拉拉裤L女44片（9kg-14kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_22.jpg" alt="日本大王（GOO.N）维E系列拉拉裤L女44片（9kg-14kg）" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11319" title="日本大王（GOO.N）维E系列拉拉裤男L58（9kg-14kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_23.jpg" alt="日本大王（GOO.N）维E系列拉拉裤男L58（9kg-14kg）" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11317" title="日本大王（GOO.N）维E系列拉拉裤XXL男28片（13kg-25kg）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_24.jpg" alt="日本大王（GOO.N）维E系列拉拉裤XXL男28片（13kg-25kg）" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_25.jpg" />

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuWwv%2bijpCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjczNTU0OTg7fQ==">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_26.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_27.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/babydiapers/babydiapers_m_28.jpg" />
        </a>

    </div>

</div>

<!--end-->
</body>
</html>