<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>守护你的健康</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .baojianpin_all { width:100%; overflow:hidden; margin:0 auto; }
        .baojianpin_all .act_pic{ width:100%; text-align:center;}
        .baojianpin_all .act_pic a{ margin-bottom:0px; display:block;}
        .baojianpin_all .act_pic .j_img_top{ width:100%;}
    </style>
</head>
<body>

<!--start-->

<div class="baojianpin_all">
    <div class="act_pic">
        <img class="j_img_top" src="../images/baojianpin_m_01.jpg" />
        <img class="j_img_top" src="../images/baojianpin_m_02.jpg" />
        <img class="j_img_top" src="../images/baojianpin_m_03.jpg" />
        <img class="j_img_top" src="../images/baojianpin_m_04.jpg" />
        <img class="j_img_top" src="../images/baojianpin_m_05.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10523"><img class="j_img_top" src="../images/baojianpin_m_06.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10525"><img class="j_img_top" src="../images/baojianpin_m_07.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10511"><img class="j_img_top" src="../images/baojianpin_m_08.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10477"><img class="j_img_top" src="../images/baojianpin_m_09.jpg" /></a>
        <img class="j_img_top" src="../images/baojianpin_m_10.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10494"><img class="j_img_top" src="../images/baojianpin_m_11.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10496"><img class="j_img_top" src="../images/baojianpin_m_12.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10442"><img class="j_img_top" src="../images/baojianpin_m_13.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10528"><img class="j_img_top" src="../images/baojianpin_m_14.jpg" /></a>
        <img class="j_img_top" src="../images/baojianpin_m_15.jpg" />

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10526"><img class="j_img_top" src="../images/baojianpin_m_16.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10492"><img class="j_img_top" src="../images/baojianpin_m_17.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/baojianpin_m_18.jpg" />
        <img class="j_img_top" src="../images/baojianpin_m_19.jpg" />

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10530"><img class="j_img_top" src="../images/baojianpin_m_20.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10451"><img class="j_img_top" src="../images/baojianpin_m_21.jpg" /></a></td>
            </tr>
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10450"><img class="j_img_top" src="../images/baojianpin_m_22.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10508"><img class="j_img_top" src="../images/baojianpin_m_23.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/baojianpin_m_24.jpg" />

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10517"><img class="j_img_top" src="../images/baojianpin_m_25.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10516"><img class="j_img_top" src="../images/baojianpin_m_26.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10449"><img class="j_img_top" src="../images/baojianpin_m_27.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/baojianpin_m_28.jpg" />

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6Iua%2bs%2bS9s%2bWunSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTc2NzgwNzY7fQ=="><img class="j_img_top" src="../images/baojianpin_m_29.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6InN3aXNzZSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTc2NzgwOTc7fQ=="><img class="j_img_top" src="../images/baojianpin_m_30.jpg" /></a></td>
            </tr>
            <tr>
                <td><a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjEyOiJIZWFsdGh5IENhcmUiO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNDU3Njc4MTIxO30="><img class="j_img_top" src="../images/baojianpin_m_31.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IkVsZXZpdCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTc2NzgxNDI7fQ=="><img class="j_img_top" src="../images/baojianpin_m_32.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/baojianpin_m_33.jpg" />

    </div>

</div>

<!--end-->
</body>
</html>






















