<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>预见春妆 遇见美肌</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .beauty_all { width:100%; overflow:hidden; margin:0 auto; }
        .beauty_all .act_pic{ width:100%; text-align:center;}
        .beauty_all .act_pic a{ margin-bottom:0px; display:block;}
        .beauty_all .act_pic .j_img_top{ width:100%;}
    </style>
</head>
<body>
<!--start-->

<div class="beauty_all">

    <div class="act_pic">
        <img class="j_img_top" src="../images/beauty_m_01.jpg" />
        <img class="j_img_top" src="../images/beauty_m_02.jpg" />
        <img class="j_img_top" src="../images/beauty_m_03.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10303"><img class="j_img_top" src="../images/beauty_m_04.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10333"><img class="j_img_top" src="../images/beauty_m_05.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10370"><img class="j_img_top" src="../images/beauty_m_06.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10288"><img class="j_img_top" src="../images/beauty_m_07.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10349"><img class="j_img_top" src="../images/beauty_m_08.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10312"><img class="j_img_top" src="../images/beauty_m_09.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10468"><img class="j_img_top" src="../images/beauty_m_10.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10291"><img class="j_img_top" src="../images/beauty_m_11.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10348"><img class="j_img_top" src="../images/beauty_m_12.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10353"><img class="j_img_top" src="../images/beauty_m_13.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10310"><img class="j_img_top" src="../images/beauty_m_14.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10338"><img class="j_img_top" src="../images/beauty_m_15.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10368"><img class="j_img_top" src="../images/beauty_m_16.jpg" /></a>
        <img class="j_img_top" src="../images/beauty_m_17.jpg" />

    </div>

</div>

<!--end-->
</body>
</html>






















