<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,美国水宝宝,韩国赫拉,英国清妍,日本小林制药,台湾极美肌,日本纯药,台湾欣兰,隔离霜,防晒霜,白黑面膜,碳沐浴露-万集客商城wjike.com" />
<meta name="Description" content="夏季撞色,黑与白-自从有了它,晒黑就是过去式-万集客商城wjike.com" />
<title>夏季撞色,黑与白-自从有了它,晒黑就是过去式_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.blackwhite_m_all { width:100%; overflow:hidden; margin:0 auto; }
.blackwhite_m_all .act_pic{ width:100%; text-align:center;}
.blackwhite_m_all .act_pic a{ display:block;} 
.blackwhite_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="blackwhite_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_01.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12254" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_02.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11711" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_03.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12074" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_04.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11658" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_05.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_06.jpg" />
                
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10229" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_07.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10230" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10243" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_09.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10274" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_10.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12281" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_11.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12282" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12285" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_13.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12284" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>     
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/blackwhite/blackwhite_m_15.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















