<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,英国,美体小铺,清妍,博姿,芳芯,茶树精油,生姜洗发水,面膜,晚霜,女性私密处洗液-万集客商城wjike.com" />
    <meta name="Description" content="你们从小会唱Landon Bridge is Falling Down,你们多年和卷福一起侦探破案,你们对英国的热爱还因为-美肤界英伦风,拯救肌肤,留住时光-万集客商城wjike.com" />
    <title>美肤界英伦风,拯救肌肤,留住时光</title>

    <style>
        .britain_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .britain_m_all .act_pic{ width:100%; text-align:center;}
        .britain_m_all .act_pic a{ display:block;}
        .britain_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="britain_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_03.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11200" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_04.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12031" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_05.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12077" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_06.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12050" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_07.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjMxOiLnvo7kvZPlsI/pk7rvvIhUaGUgQm9keSBTaG9w77yJIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ4MDM5MDY3MDt9" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_08.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_09.jpg" alt="" />


        <a href="http://www.wjike.com/mobile/goods.php?id=12069" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_10.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12072" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_11.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12053" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_12.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12070" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_13.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6Iua4heWmjSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0ODAzOTE3NzY7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_14.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_15.jpg" alt="" />



        <a href="http://www.wjike.com/mobile/goods.php?id=12037" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_16.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12030" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_17.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12034" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_18.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12032" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_19.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuWNmuWnvyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0ODAzOTE3ODk7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_20.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_21.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_22.jpg" alt="" />



        <div style="width:100%; float:left;">
            <ul>

                <li style="width:16.66%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_23.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12057" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_24.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12056" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_25.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12059" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_26.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12058" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_27.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_28.jpg" alt="" />
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/britain/britain_m_29.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















