<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客，万集客狂欢节，进口食品，进口零食，进口生活用品，进口母婴产品-万集客商城" />
    <meta name="Description" content="万集客商城狂欢节，进口食品、用品全场限时秒杀，满150立减50，超值秒杀价只要1元起，快给你平静的生活添加一点不一样的刺激吧。如果你想了解更多万集客狂欢节的优惠和秒杀活动，请登陆万集客商城seckill.wjike.com" />
    <title>万集客，万集客狂欢节，进口食品，进口零食，进口生活用品，进口母婴产品-万集客商城</title>
    <style>
        .carnival_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .carnival_m_all .act_pic{ width:100%; text-align:center;}
        .carnival_m_all .act_pic a{ display:block;}
        .carnival_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}
<!--start-->

<div class="carnival_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_02.jpg" />

        <a href="javascript:getbonus(5)">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_03.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_05.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_06.jpg" />

        <a href="http://www.wjike.com/mobile/category.php?c_id=782">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_07.jpg" />
        </a>

        <h2>
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_08.jpg" alt="更多推荐" />
        </h2>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=572">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_09.jpg" alt="食品" />
                        </h2>
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=717">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_10.jpg" alt="面膜" />
                        </h2>
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=710">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_11.jpg" alt="个护" />
                        </h2>
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=745">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_12.jpg" alt="生活护理" />
                        </h2>
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=754">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_13.jpg" alt="母婴用品" />
                        </h2>
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/category.php?c_id=120">
                        <h2>
                            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_14.jpg" alt="生活日用" />
                        </h2>
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_15.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_16.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/carnival/carnival_m_17.jpg" />

    </div>

</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















