<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>六一儿童节专场,满60立减20,全球专业母婴用品值得买</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .childrenday_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .childrenday_m_all .act_pic{ width:100%; text-align:center;}
        .childrenday_m_all .act_pic a{ display:block;}
        .childrenday_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="childrenday_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_26.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_04.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11195" title="美国香蕉宝宝（Baby Banana）香蕉硅胶婴儿牙胶牙刷">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_05.jpg" alt="美国香蕉宝宝（Baby Banana）香蕉硅胶婴儿牙胶牙刷" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10663" title="德国喜宝(HiPP)小鸭子婴儿无泪免敏泡泡洗手液洗脸液二合一 250ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_06.jpg" alt="德国喜宝(HiPP)小鸭子婴儿无泪免敏泡泡洗手液洗脸液二合一 250ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10670" title="德国维蕾德(weleda)金盏花婴儿护臀膏 预防湿疹缓解红肿痒痛 75ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_07.jpg" alt="德国维蕾德(weleda)金盏花婴儿护臀膏 预防湿疹缓解红肿痒痛 75ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10673" title="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_08.jpg" alt="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10854" title="美国Aveeno Baby宝宝二合一洗发沐浴露532ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_09.jpg" alt="美国Aveeno Baby宝宝二合一洗发沐浴露532ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11043" title="日本花王（KAO）婴儿湿巾（柔顺加厚型）54片×2">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_10.jpg" alt="日本花王（KAO）婴儿湿巾（柔顺加厚型）54片×2" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10700" title="德国Elmex儿童抗龋齿换牙牙膏 6-12岁 2只装 2*75ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_11.jpg" alt="德国Elmex儿童抗龋齿换牙牙膏 6-12岁 2只装 2*75ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11106" title="日本和光堂（Wakodo）360度超柔刷头婴儿专用牙刷">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_12.jpg" alt="日本和光堂（Wakodo）360度超柔刷头婴儿专用牙刷" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_13.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_14.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_15.jpg" />

        <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6Njoi6LSd5LqyIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ2MzY0NDA4ODt9#goods_list" title="日本贝亲(Pigeon) 贝亲是来自日本的著名母婴用品品牌，贝亲产品涵盖了母乳喂养、奶瓶奶嘴、宝宝肌肤护理、衣物清洗、水杯餐具等抚育宝宝的方方面面。2012获得中国孕婴童行业老百姓最信赖品牌。贝亲产品提升了妈妈们育儿生活的品质。">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_16.jpg" alt="日本贝亲(Pigeon) 贝亲是来自日本的著名母婴用品品牌，贝亲产品涵盖了母乳喂养、奶瓶奶嘴、宝宝肌肤护理、衣物清洗、水杯餐具等抚育宝宝的方方面面。2012获得中国孕婴童行业老百姓最信赖品牌。贝亲产品提升了妈妈们育儿生活的品质。" />
        </a>
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWmmeaAneS5kCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjM2NDM5NDE7fQ==" title="法国妙思乐(Mustela) 妙思乐是欧洲母婴护理领导品牌，专为新生儿、婴幼儿和儿童提供的专业护肤品，在全球80多个国家广受欢迎，是欧洲产科医师和妈妈们首选的母婴护理品牌。其低致敏性极为适合婴幼儿娇嫩易损的肌肤。欧洲药房销量NO.1品牌。">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_17.jpg" alt="法国妙思乐(Mustela) 妙思乐是欧洲母婴护理领导品牌，专为新生儿、婴幼儿和儿童提供的专业护肤品，在全球80多个国家广受欢迎，是欧洲产科医师和妈妈们首选的母婴护理品牌。其低致敏性极为适合婴幼儿娇嫩易损的肌肤。欧洲药房销量NO.1品牌。" />
        </a>
        <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6MTM6IkpBQ0sgTuKAmUpJTEwiO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNDYzNjQ0MTc1O30=#goods_list" title="澳大利亚JACK N’JILL">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_18.jpg" alt="澳大利亚JACK N’JILL 1949年JACK N’JILL 创立于澳大利亚，专业生产婴幼儿及儿童牙膏，采用有机原料，食用安全，可直接吞咽，己在全球热销。JACK N’JILL牙膏通过权威检测，作为始终被EWG危害评级为“0”的安全等级儿童牙膏。" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_19.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_20.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6Njoi576O5p6XIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ2MzY0NDEyMTt9#goods_list" title="意大利美林(Mellin)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_21.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6OToi5ZOI572X6ZeqIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ2MzY0NDA1Nzt9#goods_list" title="德国哈罗闪(SANOSAN)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_22.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6OToi5biV546b5rCPIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ2MzY0NDAyMTt9#goods_list" title="美国帕玛氏(Palmers)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_23.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_24.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/childrenday/childrenday_m_25.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















