<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>人生在世唯有巧克力与爱不可辜负</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .chocolateLove_all { width:100%; overflow:hidden; margin:0 auto; }
        .chocolateLove_all .act_pic{ width:100%; text-align:center;}
        .chocolateLove_all .act_pic a{ display:block;}
        .chocolateLove_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="chocolateLove_all">
    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_03.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10425">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_04.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10427">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_05.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10414">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_06.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10397">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_07.jpg" />
        </a>

        <div style="width:100%;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10422">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_08.jpg" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10424">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_09.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10404">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_10.jpg" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10394">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_11.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10402">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_12.jpg" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10420">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_13.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_14.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_15.jpg" />
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjEyOiLloZ7lsJTnu7TkupoiO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNDYwOTQ2NTY1O30=">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/chocolateLove/ChocolateLove_m_16.jpg" />
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















