<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本花王,资生堂,高丝,药师堂,美国凡士林,澳大利亚丽丝雅,澳芝曼,香娜露儿,德国莱唯德,韩国九朵云,祛斑霜,润肤乳,护手霜,脚气膏,面膜,防晒面霜-万集客商城wjike.com" />
<meta name="Description" content="山高水远,心系父母,无法陪伴在爸妈身边也要贴心送上好用的单品,祝天下父母永远年轻有活力,让那双牵着我的手的大手不要再粗糙下去了,滋润那张温柔而抚不平的脸庞-万集客商城wjike.com" />
<title>山高水远,心系父母,无法陪伴在爸妈身边也要贴心送上好用的单品,祝天下父母永远年轻有活力</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
.activity_all { width:100%; overflow:hidden; margin:0 auto; }
.activity_all .act_pic{ width:100%; text-align:center;}
.activity_all .act_pic a{ margin-bottom:10px; display:block;} 
.activity_all .act_pic .j_img_top{ max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
.activity_all .act_tit .j_img{ max-height: 25px;max-width: 640px;min-height: 15px;min-width: 320px;}

.activity_all .act_tit{ width:100%; text-align:center;}
.activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
.activity_all .act_tit img{ padding:15px 0 10px 0;}

.activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

.activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

.activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

</style>
</head>
<body>

<!--start--> 
 
<div class="activity_all">
	<div class="act_pic">
    	<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/chongyang/chongyang_12.jpg" />
    </div>
        
        
    <div class="act_list">
    	<ul>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10498">
                        <img src="http://www.wjike.com/images/201603/goods_img/10498_P_1457302076715.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10498">澳大利亚DU'IT急救修复护手霜150ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥53</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10498" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10499">
                        <img src="http://www.wjike.com/images/201603/goods_img/10499_P_1457302265772.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10499">澳大利亚DU'IT急救修复脚膜霜 50ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥53</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10499" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11019">
                        <img src="http://www.wjike.com/images/201605/goods_img/11019_P_1462316773013.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11019">澳大利亚Lamisil Cream 脚气膏15g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥89</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11019" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11118">
                        <img src="http://www.wjike.com/images/201605/goods_img/11118_P_1464116864074.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11118">日本花王（KAO）蒸汽肩贴无香14枚</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥73</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11118" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10734">
                        <img src="http://www.wjike.com/images/201603/goods_img/10734_P_1458169030041.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10734">德国THERMACARE热敷去疼贴（脊椎、手部、脚部适用）</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥112</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10734" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486">
                        <img src="http://www.wjike.com/images/201603/goods_img/10486_P_1457298050593.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486">澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥32</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10486" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10733">
                        <img src="http://www.wjike.com/images/201603/goods_img/10733_P_1458168977650.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10733">德国THERMACARE热敷去疼贴（腰部适用）</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥189</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10733" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11440">
                        <img src="http://www.wjike.com/images/201607/goods_img/11440_P_1467831939061.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11440">澳大利亚丽丝雅 黑发还原乳 超过90%天然成分 250ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥101</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11440" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11782">
                        <img src="http://www.wjike.com/images/201609/goods_img/11782_P_1472774164711.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11782">日本资生堂 美润护手霜（渗透滋养型）30g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥21</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11782" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10691">
                        <img src="http://www.wjike.com/images/201603/goods_img/10691_P_1458163336225.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10691">德国贺本清 小甘菊经典护手霜 保护肌肤 75ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥24</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10691" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10891">
                        <img src="http://www.wjike.com/images/201604/goods_img/10891_P_1461285795312.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10891">日本高丝 Q10美白滋润保湿护手霜80g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥39</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10891" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11081">
                        <img src="http://www.wjike.com/images/201605/goods_img/11081_P_1462748015359.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11081">日本花王（KAO）夜美容护手霜和手膜二合一98g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥58</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11081" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10329">
                        <img src="http://www.wjike.com/images/201602/goods_img/10329_P_1456429376867.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10329">日本高丝（KOSE）珍贵花园薰衣草味护手霜70g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥36</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10329" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10327">
                        <img src="http://www.wjike.com/images/201602/goods_img/10327_P_1456429262229.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10327">日本高丝（KOSE）珍贵花园玫瑰味护手霜70g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥36</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10327" class="buying">立即购买</a>
                </div>

            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10942">
                        <img src="http://www.wjike.com/images/201604/goods_img/10942_P_1461289702496.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10942">澳大利亚澳芝曼（G&M）绵羊油维E面霜250g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥40</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10942" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10331">
                        <img src="http://www.wjike.com/images/201602/goods_img/10331_P_1456429642812.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10331">日本高丝 Q10护手霜日用干燥肌用+夜用集中修护套装80g2支装</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥87</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10331" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11718">
                        <img src="http://www.wjike.com/images/201608/goods_img/11718_P_1472150929230.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11718">澳大利亚澳芝曼（G&M）绵羊油维E面霜250g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥39</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11718" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11596">
                        <img src="http://www.wjike.com/images/201608/goods_img/11596_P_1471290762817.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11596">澳大利亚香娜露儿 美白防晒面霜50g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥89</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11596" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11401">
                        <img src="http://www.wjike.com/images/201606/goods_img/11401_P_1466448095774.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11401">日本药师堂尊马油无添加型补水保湿润肤身体乳 70ML</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥131</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11401" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10678">
                        <img src="http://www.wjike.com/images/201603/goods_img/10678_P_1458157305112.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10678">德国莱唯德(lavera)真理Q10抗皱面膜 去皱紧致肌肤 10ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥20</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10678" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11855">
                        <img src="http://www.wjike.com/images/201609/goods_img/11855_P_1473205637965.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11855">日本药师堂(Son Bahyu)尊马油面霜 栀子花香味 75ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥106</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11855" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10667">
                        <img src="http://www.wjike.com/images/201603/goods_img/10667_P_1458155164180.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10667">德国维蕾德 杏仁舒缓滋养面部保湿乳 恢复活力增加弹性30ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥110</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10667" class="buying">立即购买</a>
                </div>

            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10311">
                        <img src="http://www.wjike.com/images/201602/goods_img/10311_P_1456427235217.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10311">韩国九朵云(cloud 9)祛斑霜50g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥109</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10311" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11853">
                        <img src="http://www.wjike.com/images/201609/goods_img/11853_P_1473205497128.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11853">日本药师堂(Son Bahyu)尊马油面霜 麝香味75ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥106</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11853" class="buying">立即购买</a>
                </div>
            </li>
            
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10679">
                        <img src="http://www.wjike.com/images/201603/goods_img/10679_P_1458157378156.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10679">德国莱唯德 天然野玫瑰润肤乳 保湿滋润舒缓修复 200ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥76</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10679" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10855">
                        <img src="http://www.wjike.com/images/201604/goods_img/10855_P_1461266124893.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10855">美国艾维诺（Aveeno）成人保湿润肤乳532ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥95</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10855" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10853">
                        <img src="http://www.wjike.com/images/201604/goods_img/10853_P_1461265994226.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10853">美国Lubriderm润肤乳709ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥95</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10853" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10859">
                        <img src="http://www.wjike.com/images/201604/goods_img/10859_P_1461266312542.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10859">加拿大丝塔芙(Cetaphil)润肤乳591ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥91</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10859" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11594">
                        <img src="http://www.wjike.com/images/201608/goods_img/11594_P_1471286982532.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11594">澳大利亚茱莉蔻 玫瑰身体滋润乳液 300ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥196</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11594" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11622">
                        <img src="http://www.wjike.com/images/201608/goods_img/11622_P_1471468106188.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11622">日本熊野油脂(KUMANO)DEVE玫瑰保湿液500ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥39</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11622" class="buying">立即购买</a>
                </div>

            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10849">
                        <img src="http://www.wjike.com/images/201604/goods_img/10849_P_1461265849925.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10849">美国凡士林(Vaseline）可可油润肤乳295ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥43</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10849" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10827">
                        <img src="http://www.wjike.com/images/201605/goods_img/10827_P_1462748870362.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10827">日本LOSHI马油保湿身体乳485ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥36</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10827" class="buying">立即购买</a>
                </div>
            </li>
            
        </ul>
    </div>
    
    
    
</div>	
<!--end--> 

    

</body>
</html>






















