<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>清洁总动员,一净到底,从新开始,全场15元起</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .cleannemo_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .cleannemo_m_all .act_pic{ width:100%; text-align:center;}
        .cleannemo_m_all .act_pic a{ display:block;}
        .cleannemo_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="cleannemo_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10829" title="日本小林制药（Kobayashiseiyaku）管道洗净丸无香12粒">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_05.jpg" alt="日本小林制药（Kobayashiseiyaku）管道洗净丸无香12粒" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10703" title="德国菲洛施（Frosch）柠檬高效浓缩洗洁精 无毒抗菌 750ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_06.jpg" alt="德国菲洛施（Frosch）柠檬高效浓缩洗洁精 无毒抗菌 750ml" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11122" title="日本花王（KAO）洁霸高活性酶深层去渍洗衣液900g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_26.jpg" alt="日本花王（KAO）洁霸高活性酶深层去渍洗衣液900g" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11053" title="日本宝洁（PnG）bold洗衣凝珠阳光香型 橙盒 18粒 437g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_27.jpg" alt="日本宝洁（PnG）bold洗衣凝珠阳光香型 橙盒 18粒 437g" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_09.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11129" title="日本贝亲（Pigeon）奶瓶果蔬清洗剂800ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_10.jpg" alt="日本贝亲（Pigeon）奶瓶果蔬清洗剂800ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11130" title="日本贝亲（Pigeon）奶瓶果蔬清洗剂替换装700ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_11.jpg" alt="日本贝亲（Pigeon）奶瓶果蔬清洗剂替换装700ml" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11051" title="日本贝亲（Pigeon）婴儿洗衣液900ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_12.jpg" alt="日本贝亲（Pigeon）婴儿洗衣液900ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10950" title="日本亲皙（arau）婴儿洗衣液替换装720ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_13.jpg" alt="日本亲皙（arau）婴儿洗衣液替换装720ml" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_14.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11128" title="日本狮王（LION）NANOX纳米净白超浓缩洗衣液450g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_15.jpg" alt="日本狮王（LION）NANOX纳米净白超浓缩洗衣液450g" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10917" title="日本花王（KAO）FLAIR柔顺剂甜香型570ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_16.jpg" alt="日本花王（KAO）FLAIR柔顺剂甜香型570ml" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11052" title="日本宝洁（PnG）bold洗衣凝珠甜花香型 粉盒 18粒 437g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_17.jpg" alt="日本宝洁（PnG）bold洗衣凝珠甜花香型 粉盒 18粒 437g" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11404" title="日本花王（Kao）酵素超全效洗衣粉 绿色 1kg">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_18.jpg" alt="日本花王（Kao）酵素超全效洗衣粉 绿色 1kg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_19.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10884" title="日本花王（KAO）Cucute果蔬餐具洗洁精葡萄240ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_20.jpg" alt="日本花王（KAO）Cucute果蔬餐具洗洁精葡萄240ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10828" title="日本花王（KAO）厨房用漂白剂600ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_21.jpg" alt="日本花王（KAO）厨房用漂白剂600ml" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10830" title="日本小林制药（Kobayashiseiyaku）管道洗净丸蜜桃香12粒">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_22.jpg" alt="日本小林制药（Kobayashiseiyaku）管道洗净丸蜜桃香12粒" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10704" title="德国菲洛施（Frosch）不锈钢陶瓷柠檬清洁乳膏 除菌清除残渍 500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_23.jpg" alt="德国菲洛施（Frosch）不锈钢陶瓷柠檬清洁乳膏 除菌清除残渍 500ml" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/category.php?c_id=84">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_24.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleannemo/cleannemo_m_25.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















