<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,德国菲洛施,日本宝洁,日本小林制药,日本花王,洗洁精,洗衣液,洁厕灵-万集客商城wjike.com" />
    <meta name="Description" content="节前大扫除,全家团圆的日子就在眼前啦！齐动手,把家里收拾得干干净净.回家的感觉,真好-万集客商城wjike.com" />
    <title>节前大扫除,全家团圆的日子就在眼前啦</title>

    <style>
        .cleaning_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .cleaning_m_all .act_pic{ width:100%; text-align:center;}
        .cleaning_m_all .act_pic a{ display:block;}
        .cleaning_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="cleaning_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11955" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_05_05.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_06.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:20%">

                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_07.jpg" alt="" />
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11926" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_08.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11927" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11929" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_11.jpg" alt="" />
                </li>
            </ul>
        </div>


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10848" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_12.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10847" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_14.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11744" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11744" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11750" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11749" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11748" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_19.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_20.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:20%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_21.jpg" alt="" />
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11813" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_22.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11814" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_23.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11815" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_24.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_25.jpg" alt="" />
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_26.jpg" />



        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_27.jpg" alt="" />
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11721" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_28.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11722" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_29.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_30.jpg" alt="" />
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=11122" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_31.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/category.php?c_id=44" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_32.jpg" />
        </a>


        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleaning/cleaning_m_33.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















