<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>洗护专场 夏季新品</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .cleansers_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .cleansers_m_all .act_pic{ width:100%; text-align:center;}
        .cleansers_m_all .act_pic a{ display:block;}
        .cleansers_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="cleansers_m_all">
<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_03.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10825">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_04.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10695">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_05.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/goods.php?id=10937">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_06.jpg" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10941">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_07.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10697">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_08.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10843">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_09.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10840">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_10.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_11.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10842">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_12.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10367">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_13.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/goods.php?id=10940">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_14.jpg" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11099">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_15.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10938">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_16.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10939">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_17.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10693">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_18.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_19.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10761">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_36.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10762">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_37.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/goods.php?id=10677">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_21.jpg" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10764">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_22.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10765">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_23.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10766">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_24.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10767">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_25.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_26.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10945">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_38.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10927">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_39.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/goods.php?id=10947">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_28.jpg" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10943">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_29.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10944">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_30.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10948">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_31.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10949">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_32.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_33.jpg" />

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_34.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleansers/cleansers_m_35.jpg" />

</div>

</div>

<!--end-->
</body>
</html>






















