<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本花王,日本资生堂,英国博资,日本宝洁,洗涤剂,护手霜,护手霜,洗衣球-万集客商城wjike.com" />
<meta name="Description" content="聪明女人,做得家务,守得纤手;知名大品牌,从洗护到贴身私密物品,花王无时不刻体贴照顾着现代女性-万集客商城wjike.com" />
<title>聪明女人,做得家务,守得纤手_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.cleverwomen_m_all { width:100%; overflow:hidden; margin:0 auto; }
.cleverwomen_m_all .act_pic{ width:100%; text-align:center;}
.cleverwomen_m_all .act_pic a{ display:block;} 
.cleverwomen_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="cleverwomen_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_04.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12222" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_05.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12219" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_06.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12221" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12220" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_09.jpg" /> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12165" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12168" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:12.5%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_12.jpg" alt="" />
                </li>
                <li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12164" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_13.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12167" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12166" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12160" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12161" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_17.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:12.5%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12162" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:12.5%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_19.jpg" alt="" />
                </li>
            </ul>
        </div>
      
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_20.jpg" /> 
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12106" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_21.jpg" alt="" />
        </a>
      
        <a href="http://www.wjike.com/mobile/goods.php?id=12169" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_22.jpg" alt="" />
        </a>      
      
      	<a href="http://www.wjike.com/mobile/goods.php?id=12062" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_23.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_24.jpg" alt="" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12217" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_25.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12216" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_26.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12215" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_27.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12214" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_28.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
      
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cleverwomen/cleverwomen_m_29.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















