<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,苏芊,极美肌,花王,小林制药,参天,狮王,雪本诗,乐敦,韩国AHC,MeltyWink,white pixie,眼霜,眼霜,滴眼液,眼药水,洗眼液-万集客商城wjike.com" />
    <meta name="Description" content="由万集客商城发起的/告别黑眼圈,拒绝红血丝,眼值大作战/的活动,为您准备来自日本韩国优质的,科学的眼部护理产品,让眼睛闪亮出自信光芒,全场8元起-万集客商城wjike.com" />
    <title>告别黑眼圈,拒绝红血丝,眼值大作战,全场8元起</title>
    <style>
        .colorvalue_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .colorvalue_m_all .act_pic{ width:100%; text-align:center;}
        .colorvalue_m_all .act_pic a{ display:block;}
        .colorvalue_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="colorvalue_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11030" title="澳大利亚苏芊（Sukin）天然抗氧化眼霜30ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_05.jpg" alt="澳大利亚苏芊（Sukin）天然抗氧化眼霜30ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10237" title="台湾极美肌 透白明亮黑眼膜(7入/盒)">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_06.jpg" alt="台湾极美肌 透白明亮黑眼膜(7入/盒)" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11202" title="日本花王（KAO）蒸汽眼罩玫瑰香5片">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_07.jpg" alt="日本花王（KAO）蒸汽眼罩玫瑰香5片" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11217" title="日本小林制药（Kobayashiseiyaku）洗眼液绿色0度低刺激适合初次使用 500ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_08.jpg" alt="日本小林制药（Kobayashiseiyaku）洗眼液绿色0度低刺激适合初次使用 500ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11345" title="日本参天（Santen）FX银装滴眼液12ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_09.jpg" alt="日本参天（Santen）FX银装滴眼液12ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11143" title="日本狮王(LION)SMILE 40EX 维他命眼药水温和型抗疲劳祛血丝15ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_10.jpg" alt="日本狮王(LION)SMILE 40EX 维他命眼药水温和型抗疲劳祛血丝15ml" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_11.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_12.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10683" title="德国雪本诗（Schaebens）眼睛嘴唇去皱面膜 减少皱纹深度缓解干燥">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_13.jpg" alt="德国雪本诗（Schaebens）眼睛嘴唇去皱面膜 减少皱纹深度缓解干燥" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10237" title="台湾极美肌 透白明亮黑眼膜(7入/盒)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_14.jpg" alt="台湾极美肌 透白明亮黑眼膜(7入/盒)" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10234" title="台湾极美肌保湿水润黑眼膜(7入/盒)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_15.jpg" alt="台湾极美肌保湿水润黑眼膜(7入/盒)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10274" title="台湾极美肌金箔水漾黑眼膜（7入/盒）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_16.jpg" alt="台湾极美肌金箔水漾黑眼膜（7入/盒）" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_17.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_18.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11030" title="澳大利亚苏芊（Sukin）天然抗氧化眼霜30ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_19.jpg" alt="澳大利亚苏芊（Sukin）天然抗氧化眼霜30ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10319" title="韩国AHC第三代修复抗皱水润眼霜30ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_20.jpg" alt="韩国AHC第三代修复抗皱水润眼霜30ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11066" title="日本MeltyWink大眼立显眼部精华美容液17ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_21.jpg" alt="日本MeltyWink大眼立显眼部精华美容液17ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11067" title="日本white pixie熊猫眼霜去黑眼圈眼袋细纹眼部精华25g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_22.jpg" alt="日本white pixie熊猫眼霜去黑眼圈眼袋细纹眼部精华25g" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_23.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11218" title="日本小林制药（Kobayashiseiyaku）洗眼液深蓝色2-3度消炎止痒去红血丝 500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_24.jpg" alt="日本小林制药（Kobayashiseiyaku）洗眼液深蓝色2-3度消炎止痒去红血丝 500ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11219" title="日本小林制药（Kobayashiseiyaku）洗眼液粉色3-4度双倍维生素保护眼角膜 500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_25.jpg" alt="日本小林制药（Kobayashiseiyaku）洗眼液粉色3-4度双倍维生素保护眼角膜 500ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11221" title="日本小林制药（Kobayashiseiyaku）洗眼液深绿色4度花粉季节雾霾天专用 500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_26.jpg" alt="日本小林制药（Kobayashiseiyaku）洗眼液深绿色4度花粉季节雾霾天专用 500ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11220" title="日本小林制药（Kobayashiseiyaku）洗眼液浅蓝色5度爽快刺激超清凉 500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_27.jpg" alt="日本小林制药（Kobayashiseiyaku）洗眼液浅蓝色5度爽快刺激超清凉 500ml" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_28.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_29.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11142" title="日本狮王(LION)SMILE 40EX 维他命眼药水清凉型抗疲劳祛血丝15ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_30_1.jpg" alt="日本狮王(LION)SMILE 40EX 维他命眼药水清凉型抗疲劳祛血丝15ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11215" title="日本乐敦（Rohto）Lycee小红花隐形眼镜用滴眼液8ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_31_1.jpg" alt="日本乐敦（Rohto）Lycee小红花隐形眼镜用滴眼液8ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11214" title="日本乐敦（Rohto）夜间修复养润水滴眼液13ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_32_1.jpg" alt="日本乐敦（Rohto）夜间修复养润水滴眼液13ml" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_33.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_34.jpg"/>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/colorvalue/colorvalue_m_35.jpg"/>
        </a>

    </div>


</div>

<!--end-->
</body>
</html>