<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,德国哈罗闪,澳大利亚生物岛,澳大利亚GAIA,液体钙软胶囊,润肤霜,天然DHA海藻油胶囊,爽身粉,洗发露-万集客商城wjike.com"/>
<meta name="Description" content="小baby的清凉一夏,国际母婴用品全场39元起,baby的去痱法宝-万集客商城wjike.com"/>
<title>小baby的清凉一夏,国际母婴用品全场39元起_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.cool_m_all { width:100%; overflow:hidden; margin:0 auto; }
.cool_m_all .act_pic{ width:100%; text-align:center;}
.cool_m_all .act_pic a{ display:block;} 
.cool_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="cool_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10809" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_05.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_06.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12268" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_07.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_08.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12267" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_09.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_10.jpg" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12269" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10476" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10816" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10815" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10808" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12272" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_17.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12278" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_18.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_19.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12277" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_20.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_21.jpg" />                     
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/cool/cool_m_22.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















