<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,日本怡丽,日本花王,韩国贵爱娘,德国Always,日本尤妮佳,卫生巾,苏菲超熟睡护翼卫生巾,乐而雅-万集客商城wjike.com" />
    <meta name="Description" content="万集客推出'姨妈巾-夏日清凉配'的活动,女性护理馆,解救大姨妈,立体设计,透气防漏,超强吸收,远离闷热,量大夜用,整晚安心睡-万集客商城wjike.com" />
    <title>姨妈巾-夏日清凉配方,女性护理馆,解救大姨妈_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>
    <style>
        .coolness_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .coolness_m_all .act_pic{ width:100%; text-align:center;}
        .coolness_m_all .act_pic a{ display:block;}
        .coolness_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="coolness_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_04.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11327" title="日本怡丽（elis）新素肌感护翼日用卫生巾20.5cm22片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_05.jpg" alt="日本怡丽（elis）新素肌感护翼日用卫生巾20.5cm22片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="日本花王（KAO）乐而雅F系列绵柔护翼卫生巾25cm日用18片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_06.jpg" alt="日本花王（KAO）乐而雅F系列绵柔护翼卫生巾25cm日用18片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11387" title="韩国贵爱娘韩方卫生巾日用29cm*18片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_07.jpg" alt="韩国贵爱娘韩方卫生巾日用29cm*18片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11546" title="日本尤妮佳（Unicharm）苏菲温柔肌极薄型护翼卫生巾超量时日用25cm19片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_08.jpg" alt="日本尤妮佳（Unicharm）苏菲温柔肌极薄型护翼卫生巾超量时日用25cm19片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10701" title="德国Always超薄超长有护翼卫生巾无荧光剂夜用28.4CM9片（6滴水）">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_09.jpg" alt="德国Always超薄超长有护翼卫生巾无荧光剂夜用28.4CM9片（6滴水）" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10886" title="日本尤妮佳（Unicharm）苏菲Kiyora香水系列Happy Floral幸福茉莉香超薄护垫72片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_10.jpg" alt="日本尤妮佳（Unicharm）苏菲Kiyora香水系列Happy Floral幸福茉莉香超薄护垫72片" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_11.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11389" title="韩国贵爱娘韩方卫生巾日用21cm*18片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_12.jpg" alt="韩国贵爱娘韩方卫生巾日用21cm*18片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10932" title="日本尤妮佳（Unicharm）苏菲温柔肌极薄型无护翼卫生巾量多日用21cm31片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_13.jpg" alt="日本尤妮佳（Unicharm）苏菲温柔肌极薄型无护翼卫生巾量多日用21cm31片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11331" title="日本怡丽（elis）Megami棉柔护翼日用32cm11片加1片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_14.jpg" alt="日本怡丽（elis）Megami棉柔护翼日用32cm11片加1片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10926" title="日本花王（KAO）乐而雅零触感超薄S系列护翼卫生巾普通日用20.5cm28片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_15.jpg" alt="日本花王（KAO）乐而雅零触感超薄S系列护翼卫生巾普通日用20.5cm28片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10702" title="德国Always Ultra系列有护翼卫生巾无荧光剂日用24CM14片(4滴水)">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_16.jpg" alt="德国Always Ultra系列有护翼卫生巾无荧光剂日用24CM14片(4滴水)" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10900" title="日本尤妮佳（Unicharm）苏菲温柔肌敏感肌亲肤型有护翼卫生巾超量时长时间日用25cm16片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_17.jpg" alt="日本尤妮佳（Unicharm）苏菲温柔肌敏感肌亲肤型有护翼卫生巾超量时长时间日用25cm16片" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_18.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11386" title="韩国贵爱娘韩方卫生巾夜用33CM*12片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_19.jpg" alt="韩国贵爱娘韩方卫生巾夜用33CM*12片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10925" title="日本花王（KAO）乐而雅零触感超薄S系列护翼卫生巾量多夜用30cm 15片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_20.jpg" alt="日本花王（KAO）乐而雅零触感超薄S系列护翼卫生巾量多夜用30cm 15片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10871" title="日本尤妮佳（Unicharm）苏菲超熟睡极上贴身系列贴身超薄型370有护翼卫生巾超量时夜用37cm11片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_21.jpg" alt="日本尤妮佳（Unicharm）苏菲超熟睡极上贴身系列贴身超薄型370有护翼卫生巾超量时夜用37cm11片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10892" title="日本尤妮佳（Unicharm）苏菲超熟睡护翼卫生巾42cm夜用10">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_22.jpg" alt="日本尤妮佳（Unicharm）苏菲超熟睡护翼卫生巾42cm夜用10" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11340" title="日本怡丽（elis）朝超安心护翼夜用立体围卫生巾33cm16片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_23.jpg" alt="日本怡丽（elis）朝超安心护翼夜用立体围卫生巾33cm16片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11332" title="日本怡丽（elis）CLINICS瞬吸5倍量护翼夜用卫生巾40cm10片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_24.jpg" alt="日本怡丽（elis）CLINICS瞬吸5倍量护翼夜用卫生巾40cm10片" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_25.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11385" title="韩国贵爱娘韩方卫生护垫15.5cm*38片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_26.jpg" alt="韩国贵爱娘韩方卫生护垫15.5cm*38片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11112" title="日本花王（KAO）乐而雅100%天然棉无香型护垫14CM50片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_27.jpg" alt="日本花王（KAO）乐而雅100%天然棉无香型护垫14CM50片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11110" title="日本花王（KAO）乐而雅治愈花香护垫14CM72片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_28.jpg" alt="日本花王（KAO）乐而雅治愈花香护垫14CM72片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10901" title="日本花王（KAO）乐而雅Airy敏感肌护垫超薄透气花香型14CM54片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_29.jpg" alt="日本花王（KAO）乐而雅Airy敏感肌护垫超薄透气花香型14CM54片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10876" title="日本尤妮佳（Unicharm）苏菲Fuwagokochi天然空气棉护垫儿茶素消臭14CM52片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_30.jpg" alt="日本尤妮佳（Unicharm）苏菲Fuwagokochi天然空气棉护垫儿茶素消臭14CM52片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10930" title="日本尤妮佳（Unicharm）苏菲Kiyora香水系列premium玫瑰香护垫14cm72片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_31.jpg" alt="日本尤妮佳（Unicharm）苏菲Kiyora香水系列premium玫瑰香护垫14cm72片" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_32.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWNq%2beUn%2bW3viI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NzE0Mjc3NjI7fQ==" >
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_33.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWNq%2beUn%2bW3viI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NzE0Mjc3NjI7fQ==" >
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_34.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWNq%2beUn%2bW3viI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NzE0Mjc3NjI7fQ==" >
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_35.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWNq%2beUn%2bW3viI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NzE0Mjc3NjI7fQ==" >
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_36.jpg" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/coolness/coolness_m_37.jpg"/>
</a>

</div>


</div>

<!--end-->
</body>
</html>






















