<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,美国柯克兰,塞尔维亚,Premier,Adore,日本Marutai,美国乐家,夹心巧克力,黑巧克力,坚果,拉面,杏仁糖,腰果糖,咖啡糖,蔓越莓干-万集客商城wjike.com" />
    <meta name="Description" content="那些欲罢不能的美食被带进2017年,优质坚果,健康零食,百余年来皇室、贵族馈赠常选Premier手工巧克力;拉面爱好者的天堂;杏仁和奶油的舞蹈-万集客商城wjike.com" />
    <title>用美食告别,用美食迎新</title>
    <style>
        .deliciousfood_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .deliciousfood_m_all .act_pic{ width:100%; text-align:center;}
        .deliciousfood_m_all .act_pic a{ display:block;}
        .deliciousfood_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="deliciousfood_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_04.jpg" />


<div style="width:100%; float:left;">
    <ul>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10865" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_05.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10866" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_06.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10864" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_07.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10863" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_08.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_09.jpg" alt="" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_10.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10392" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_11.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10390" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_12.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10411" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_13.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10410" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_14.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_15.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10401" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_16.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10425" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_17.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10396" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_18.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10391" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_19.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_20.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11971" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_21.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11970" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_22.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11972" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_23.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11973" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_24.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11974" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_25.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11975" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_26.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11977" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_27.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_28.jpg" alt="" />


<a href="http://www.wjike.com/mobile/goods.php?id=10831" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_29.jpg" alt="" />
</a>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10839" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_30.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10837" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_31.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10838" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_32.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_33.jpg" alt="" />


<div style="width:100%; float:left;">
    <ul>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11599" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_34.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11719" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_35.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10993" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_36.jpg" alt="" />
            </a>
        </li>
        <li style="width:25%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11348" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_37.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/deliciousfood/deliciousfood_m_38.jpg">
</a>

</div>

</div>

<!--end-->
</body>
</html>






















