<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,花王,澳大利亚Lucas,泡沫染发剂,眼霜,润唇膏,护手霜,滋润霜-万集客商城wjike.com"/>
<meta name="Description" content="DIY让生活更有趣,有些事亲自动手去做,反倒更有趣味-万集客商城wjike.com"/>
<title>DIY让生活更有趣,有些事亲自动手去做,反倒更有趣味_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.diyspecial_m_all { width:100%; overflow:hidden; margin:0 auto; }
.diyspecial_m_all .act_pic{ width:100%; text-align:center;}
.diyspecial_m_all .act_pic a{ display:block;} 
.diyspecial_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="diyspecial_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_01_1.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_02_1.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_03_1.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_04_1.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12225" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_05_1.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_06_1.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11168" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_07_1.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_08_1.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10834" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_09_1.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_10_1.jpg" />
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/diyspecial/diyspecial_m_11_1.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















