<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>健康生活,从心开始-德国双心-将顾客的健康放在我们心中</title>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .doppelherz_all { width:100%; overflow:hidden; margin:0 auto; }
        .doppelherz_all .act_pic{ width:100%; text-align:center;}
        .doppelherz_all .act_pic a{ display:block;}
        .doppelherz_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="doppelherz_all">
    <div class="act_pic">
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_03.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10706">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_04.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10708">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_05.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10710">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_06.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10725">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_07.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10728">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_08.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10707">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_09.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10709">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_10.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10715">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_11.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_12.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_13.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/doppelherz/doppelherz_m_14.jpg" />
    </div>

</div>

<!--end-->

</body>
</html>






















