<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,提姆亚当斯,魅客先生,台湾森田药妆,台湾极美肌,红酒,葡萄酒,桃红葡萄酒,赤霞珠红酒,雷司令白葡萄酒,弗戈斯红酒,面膜,洗衣液-万集客商城wjike.com" />
<meta name="Description" content="端午聚惠,珍相聚,共举杯-澳大利亚红酒专场,2017年5月24日-5月31日,全场满200元包邮,全场45元起-万集客商城wjike.com" />
<title>端午聚惠,珍相聚,共举杯-澳大利亚红酒专场_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.duanwu_m_all { width:100%; overflow:hidden; margin:0 auto; }
.duanwu_m_all .act_pic{ width:100%; text-align:center;}
.duanwu_m_all .act_pic a{ display:block;} 
.duanwu_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="duanwu_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12231" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_05.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12239" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_06.jpg" alt="" />
        </a>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_07.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12238" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_08_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12237" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12236" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12235" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_11_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_12.jpg" alt="" />
                </li>
            </ul>
        </div> 
          
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_13.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12230" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_14_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12231" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12232" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_16.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12233" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_17_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_18.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_19.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12248" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_20.jpg" alt="" />
        </a>        
          
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_21.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12250" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_22_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12249" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_23.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10240" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_24.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10232" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_25_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_26.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_27.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10226" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_28_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10229" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_29.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10230" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_30.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10212" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_31_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_32.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_33.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12188" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_34.jpg" alt="" />
        </a>        
         
        <a href="http://www.wjike.com/mobile/goods.php?id=12180" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_35.jpg" alt="" />
        </a>  
              
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_36.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12184" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_37_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12192" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_38.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12190" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_39.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12193" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_40_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_41.jpg" alt="" />
                </li>
            </ul>
        </div>   
        
        
             
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_42.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12187" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_43_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12189" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_44.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12185" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_45.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12183" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_46_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_47.jpg" alt="" />
                </li>
            </ul>
        </div>   
        
             
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_48.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12195" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_49_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12186" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_50.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12182" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_51.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12191" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_52_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_53.jpg" alt="" />
                </li>
            </ul>
        </div>   
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_54.jpg" />
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_55.jpg" />
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/duanwu/duanwu_m_56.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















