<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,台湾杏昕,膳魔师,日本惠百施,锦化成,吸管杯,奶嘴杀菌器,空气净化器,儿童牙刷,连衣架-万集客商城wjike.com" />
<meta name="Description" content="六一儿童节快乐,宝贝,你纯真的眼神和幸福的童年,由我来守护,5月25日-6月1日,儿童节优惠专场,全场10元起-万集客商城wjike.com" />
<title>六一儿童节快乐_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.ertongjie_m_all { width:100%; overflow:hidden; margin:0 auto; }
.ertongjie_m_all .act_pic{ width:100%; text-align:center;}
.ertongjie_m_all .act_pic a{ display:block;} 
.ertongjie_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="ertongjie_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_04.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_05_1.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10252" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_06_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10251" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_07_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_08_1.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_09_1.jpg" alt="" />
                </li>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_10_1.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_06.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9849" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_12_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9848" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_13_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10033" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_14_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
                
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_08.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10248" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10250" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10249" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_12.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11784" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11786" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_14.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11783" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11785" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_17.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9788" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9787" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_19.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_20.jpg" />                     
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/ertongjie/ertongjie_m_21.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















