<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>我和面膜有个约会,每一片都能让肌肤再美一点,森田,极美肌,高丝,高丽雅娜,雪本诗,我的美丽日记-万集客商城</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .activity_all { width:100%; overflow:hidden; margin:0 auto; }
        .activity_all .act_pic{ width:100%; text-align:center;}
        .activity_all .act_pic a{ margin-bottom:10px; display:block;}
        .activity_all .act_pic .j_img_top{ max-height: 215px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
        .activity_all .act_pic .j_img{ max-height: 200px;max-width: 640px;min-height: 100px;min-width: 320px;}

        .activity_all .act_tit{ width:100%; text-align:center;}
        .activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
        .activity_all .act_tit img{ padding:5px 0 20px 0;}

        .activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

        .activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

        .activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

    </style>
</head>
<body>

<!--start-->
<div class="activity_all">
<div class="act_pic">
    <img style="width:100%; padding-bottom:10px;" src="http://www.wjike.com/images/upload/Image/activity/facialmask/facialmask_06.jpg"/>
</div>


<div class="act_list">
<ul>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10243">
            <img src="http://www.wjike.com/images/201601/goods_img/10243_P_1452464947616.jpg" width="180px" height="180px" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10243">台湾欣兰DMC 黑里透白冻膜</a>
    </div>
    <div class="al_pri">
        会员价<span>￥95</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10243" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11024">
            <img src="http://www.wjike.com/images/201605/goods_img/11024_P_1462317540279.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11024">新西兰皇家花蜜（Royal Nectar）蜂毒面膜50ml(无香味)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥221</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11024" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11196">
            <img src="http://www.wjike.com/images/201605/goods_img/11196_P_1463960453127.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11196">英国博姿（BOOTS）小黄瓜三分钟保湿面膜50ml(有香味)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥29</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11196" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406">
            <img src="http://www.wjike.com/images/201606/goods_img/11406_P_1466638755301.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406">韩国伊思(Its Skin)红参蜗牛精华面膜5片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥98</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10678">
            <img src="http://www.wjike.com/images/201603/goods_img/10678_P_1458157305112.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10678">德国莱唯德(lavera)真理Q10抗皱面膜 去皱紧致肌肤 10ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥20</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10678" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10241">
            <img src="http://www.wjike.com/images/201601/goods_img/10241_P_1452464898922.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10241">台湾森田药妆动物造型补水保湿面膜(老虎)3片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10241" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10206">
            <img src="http://www.wjike.com/images/201603/goods_img/10206_P_1457028831841.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10206">台湾森田药妆抗黑净白面膜</a>
    </div>
    <div class="al_pri">
        会员价<span>￥66</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10206" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10223">
            <img src="http://www.wjike.com/images/201601/goods_img/10223_P_1452463698421.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10223">台湾森田药妆保湿水漾透润面膜8片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥51</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10223" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10239">
            <img src="http://www.wjike.com/images/201601/goods_img/10239_P_1452464823222.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10239">台湾森田药妆综合维他命极保湿面膜8片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥55</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10239" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210">
            <img src="http://www.wjike.com/images/201601/goods_img/10210_P_1452461581386.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210">台湾森田药妆蜗牛赋活水润面膜10片入 </a>
    </div>
    <div class="al_pri">
        会员价<span>￥66</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10684">
            <img src="http://www.wjike.com/images/201603/goods_img/10684_P_1458157736765.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10684">德国雪本诗（Schaebens）香滑巧克力净肤细肤面膜 紧致深度滋养</a>
    </div>
    <div class="al_pri">
        会员价<span>￥10</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10684" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10688">
            <img src="http://www.wjike.com/images/201603/goods_img/10688_P_1458163108200.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10688">德国雪本诗（Schaebens）逆时抗衰老面膜 深层滋养维持肌肤弹性</a>
    </div>
    <div class="al_pri">
        会员价<span>￥8</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10688" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10685">
            <img src="http://www.wjike.com/images/201603/goods_img/10685_P_1458157803998.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10685">德国雪本诗（Schaebens）茶树祛痘净肤面膜 平衡油脂</a>
    </div>
    <div class="al_pri">
        会员价<span>￥8</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10685" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10681">
            <img src="http://www.wjike.com/images/201603/goods_img/10681_P_1458157552361.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10681">德国雪本诗（Schaebens）芦荟保湿面膜 保湿调节水油平衡 2*5ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥8</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10681" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10690">
            <img src="http://www.wjike.com/images/201603/goods_img/10690_P_1458163226956.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10690">德国雪本诗（Schaebens）男士洋参保湿修复面膜 补水白皙毛孔救星</a>
    </div>
    <div class="al_pri">
        会员价<span>￥11</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10690" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10226">
            <img src="http://www.wjike.com/images/201603/goods_img/10226_P_1457030118619.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10226">台湾极美肌水白净豆纯棉黑面膜(5入/盒)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10226" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10234">
            <img src="http://www.wjike.com/images/201601/goods_img/10234_P_1452464649167.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10234">台湾极美肌保湿水润黑眼膜(7入/盒)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10234" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10231">
            <img src="http://www.wjike.com/images/201603/goods_img/10231_P_1457029958149.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10231">台湾极美肌 全效金箔水润黑颈颜面膜(5入/盒)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10231" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10274">
            <img src="http://www.wjike.com/images/201601/goods_img/10274_P_1453313953455.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10274">台湾极美肌金箔水漾黑眼膜（7入/盒）</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10274" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10229">
            <img src="http://www.wjike.com/images/201603/goods_img/10229_P_1457030267197.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10229">台湾极美肌 全效保湿黑颈颜面膜(5入/盒)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥44</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10229" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405">
            <img src="http://www.wjike.com/images/201606/goods_img/11405_P_1466638602284.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405">韩国伊思(Its Skin)晶钻蜗牛原液面膜5片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥84</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11435">
            <img src="http://www.wjike.com/images/201606/goods_img/11435_P_1466984596448.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11435">台湾我的美丽日记纳豆面膜 10片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥43</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11435" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11425">
            <img src="http://www.wjike.com/images/201606/goods_img/11425_P_1466984408596.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11425">台湾我的美丽日记红酒多酚面膜 10片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥43</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11425" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11432">
            <img src="http://www.wjike.com/images/201606/goods_img/11432_P_1466984541283.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11432">台湾我的美丽日记柠檬果C面膜 10片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥52</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11432" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11438">
            <img src="http://www.wjike.com/images/201606/goods_img/11438_P_1466984656831.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11438">台湾我的美丽日记玻尿酸保湿白金面膜 4片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥43</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11438" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11078">
            <img src="http://www.wjike.com/images/201605/goods_img/11078_P_1462747777832.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11078">日本高丝（Kose）clear turn传明酸药用美白面膜30片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥58</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11078" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11073">
            <img src="http://www.wjike.com/images/201605/goods_img/11073_P_1462747315870.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11073">日本高丝（Kose）Clear Turn Babyish美白面膜弹力亮肤型7片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥22</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11073" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10923">
            <img src="http://www.wjike.com/images/201607/goods_img/10923_P_1467933778061.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10923">日本曼丹（Mandom）超滋润胶原蛋白弹力补水面膜5片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥47</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10923" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10310">
            <img src="http://www.wjike.com/images/201602/goods_img/10310_P_1456427122958.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10310">日本葵缇亚(Kracie)肌美精 玻尿酸祛皱保湿滋养抗干燥 抽取式面膜 30片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥86</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10310" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11070">
            <img src="http://www.wjike.com/images/201605/goods_img/11070_P_1462747123167.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11070">日本嘉娜宝（kracie）肌美精超渗透3D面膜胶原蛋白透明弹力4片装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥48</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11070" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10350">
            <img src="http://www.wjike.com/images/201602/goods_img/10350_P_1456686976827.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10350">韩国高丽雅娜（Coreana）肉毒杆菌精华美白面膜10片美白淡斑抗皱</a>
    </div>
    <div class="al_pri">
        会员价<span>￥110</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10350" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10338">
            <img src="http://www.wjike.com/images/201602/goods_img/10338_P_1456430087258.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10338">韩国可莱丝(clinie)竹炭碳酸泡泡面膜 10片(无香味)</a>
    </div>
    <div class="al_pri">
        会员价<span>￥88</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10338" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10351">
            <img src="http://www.wjike.com/images/201602/goods_img/10351_P_1456686807515.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10351">韩国高丽雅娜（Coreana）肉毒杆菌精华 补水面膜10片紧致美白补水</a>
    </div>
    <div class="al_pri">
        会员价<span>￥110</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10351" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10353">
            <img src="http://www.wjike.com/images/201602/goods_img/10353_P_1456687262498.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10353">韩国自然晨露（Dewytree）竹炭蜂蜜保湿黑面膜10片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥77</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10353" class="buying">立即购买</a>
    </div>
</li>

</ul>
</div>
<!--end-->

</div>
<!--end-->

</body>
</html>






















