<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>万集客,万集客父亲节优惠,进口男士产品特价促销,爆款推荐,全场商品11元起-万集客商城</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .fatherday_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .fatherday_m_all .act_pic{ width:100%; text-align:center;}
        .fatherday_m_all .act_pic a{ display:block;}
        .fatherday_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="fatherday_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_02.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10690" title="德国雪本诗（Schaebens）男士洋参保湿修复面膜">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_03.jpg" alt="德国雪本诗（Schaebens）男士洋参保湿修复面膜" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11143" title="日本狮王(LION)SMILE 40EX 维他命眼药水温和型抗疲劳祛血丝15ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_04.jpg" alt="日本狮王(LION)SMILE 40EX 维他命眼药水温和型抗疲劳祛血丝15ml" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10949" title="日本皓乐齿（ora2）亮白净色牙膏天然薄荷味140g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_05.jpg" alt="日本皓乐齿（ora2）亮白净色牙膏天然薄荷味140g" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10695" title="德国阿佩辛（Alpecin）咖啡因C1洗发水 止脱育发 250ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_06.jpg" alt="德国阿佩辛（Alpecin）咖啡因C1洗发水 止脱育发 250ml" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11001" title="新西兰康维他(Comvita)UMF15+纯天然麦卢卡蜂蜜250g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_07.jpg" alt="新西兰康维他(Comvita)UMF15+纯天然麦卢卡蜂蜜250g" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11139" title="泰国康馥莉（Comfleep）天然乳胶高低护颈枕">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_08.jpg" alt="泰国康馥莉（Comfleep）天然乳胶高低护颈枕" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_09.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10091" title="博朗欧乐B/oral-b 成人电动牙刷充电式美白自动">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_10.jpg" alt="博朗欧乐B/oral-b 成人电动牙刷充电式美白自动" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10163" title="德国老工艺原装进口VH唯豪烟盒18支装仿皮烟盒">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_11.jpg" alt="德国老工艺原装进口VH唯豪烟盒18支装仿皮烟盒" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10092" title="博朗/Braun 电动剃须刀 往复式刮胡刀 3020s">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_12.jpg" alt="博朗/Braun 电动剃须刀 往复式刮胡刀 3020s" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10117" title="米技/Miji 德国进口炉芯 家用静音茶炉 泡茶电热炉">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_13.jpg" alt="米技/Miji 德国进口炉芯 家用静音茶炉 泡茶电热炉" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fatherday/fatherday_m_14.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















