<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>我的面膜时代,一起珍惜陪在你身边敷面膜的人</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .baojianpin_all { width:100%; overflow:hidden; margin:0 auto; }
        .baojianpin_all .act_pic{ width:100%; text-align:center;}
        .baojianpin_all .act_pic a{ margin-bottom:0px; display:block;}
        .baojianpin_all .act_pic .j_img_top{ width:100%;}
    </style>
</head>
<body>
<!--start-->

<div class="baojianpin_all">
    <div class="act_pic">
        <img class="j_img_top" src="../images/film_m_01.jpg" />
        <img class="j_img_top" src="../images/film_m_02.jpg" />
        <img class="j_img_top" src="../images/film_m_03.jpg" />
        <img class="j_img_top" src="../images/film_m_04.jpg" />
        <img class="j_img_top" src="../images/film_m_05.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10216"><img class="j_img_top" src="../images/film_m_06.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10332"><img class="j_img_top" src="../images/film_m_07.jpg" /></a>
        <img class="j_img_top" src="../images/film_m_08.jpg" />

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10368"><img class="j_img_top" src="../images/film_m_09.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10243"><img class="j_img_top" src="../images/film_m_10.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/film_m_11.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10225"><img class="j_img_top" src="../images/film_m_12.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10213"><img class="j_img_top" src="../images/film_m_13.jpg" /></a>

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10334"><img class="j_img_top" src="../images/film_m_14.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10351"><img class="j_img_top" src="../images/film_m_15.jpg" /></a></td>
            </tr>
        </table>

        <img class="j_img_top" src="../images/film_m_16.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10221"><img class="j_img_top" src="../images/film_m_17.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10239"><img class="j_img_top" src="../images/film_m_18.jpg" /></a>

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10211"><img class="j_img_top" src="../images/film_m_19.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10212"><img class="j_img_top" src="../images/film_m_20.jpg" /></a></td>
            </tr>
        </table>

        <a href="http://www.wjike.com/mobile/goods.php?id=10227"><img class="j_img_top" src="../images/film_m_21.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10232"><img class="j_img_top" src="../images/film_m_22.jpg" /></a>

        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10336"><img class="j_img_top" src="../images/film_m_23.jpg" /></a></td>
                <td><a href="http://www.wjike.com/mobile/goods.php?id=10350"><img class="j_img_top" src="../images/film_m_24.jpg" /></a></td>
            </tr>
        </table>

        <a href="http://www.wjike.com/mobile/goods.php?id=10347"><img class="j_img_top" src="../images/film_m_25.jpg" /></a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10207"><img class="j_img_top" src="../images/film_m_26.jpg" /></a>


    </div>

</div>

<!--end-->
</body>
</html>






















