<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>万物复苏,五一宜出行</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .fiveone_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .fiveone_m_all .act_pic{ width:100%; text-align:center;}
        .fiveone_m_all .act_pic a{ display:block;}
        .fiveone_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="fiveone_m_all">
    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_03.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10303">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_04.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10687">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_05.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10822">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_06.jpg" />
        </a>

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10698">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_07.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10677">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_08.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10699">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_09.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_10.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10256">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_11.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10415">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_12.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10608">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_13.jpg" />
        </a>

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10634">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_27.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10531">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_28.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10616">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_29.jpg" />
                    </a>
                </li>
            </ul>
        </div>


        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_15.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10185">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_16.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10272">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_17.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10089">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_18.jpg" />
        </a>

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10033">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_19.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=3826">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_20.jpg" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=1076">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_21.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_22.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_23.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fiveone/fiveone_m_24.jpg" />

    </div>

</div>

<!--end-->
</body>
</html>






















