<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,美国水宝宝,澳大利亚意高,日本花王,日本狮王,洗面奶,脚气膏,维生素D片,澳佳宝,防晒霜,芹菜籽精华片-万集客商城wjike.com" />
<meta name="Description" content="致我的父亲,2017年6月14--6月20日,父亲节快乐专场部分9.2折-万集客商城wjike.com" />
<title>致我的父亲_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.fuqinjie_m_all { width:100%; overflow:hidden; margin:0 auto; }
.fuqinjie_m_all .act_pic{ width:100%; text-align:center;}
.fuqinjie_m_all .act_pic a{ display:block;} 
.fuqinjie_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="fuqinjie_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_03.jpg" />
        
    	<a href="http://www.wjike.com/mobile/goods.php?id=12254" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_04.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=12253" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_05.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11163" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_06.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11034" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_07.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11019" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_08.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=12201" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_09.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11689" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_10.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11159" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_11.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10841" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_12.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11107" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_13.jpg" alt="" />
        </a>
    	<a href="http://www.wjike.com/mobile/goods.php?id=11345" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_14.jpg" alt="" />
        </a>

    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_15.jpg" />
    	<a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuiRoeiQhOmFkiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0OTczNDQzODY7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_16.jpg" alt="" />
        </a>

    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_17.jpg" />
       
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/fuqinjie/fuqinjie_m_18.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















