<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,德国雪本诗,施华蔻,乔那,喜宝,雪本诗,维蕾德,汉高泰瑞美,菲洛施,面膜,牙膏,洗衣液,保湿洗发水-万集客商城wjike.com" />
<meta name="Description" content="德国品质周,全场85折!再续11.11狂欢！超高性价比回馈新老会员,2016年11月11日 10:00--2016年11月20日17:00" />
<title>德国品质周,全场85折!</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.germanquality_m_all { width:100%; overflow:hidden; margin:0 auto; }
.germanquality_m_all .act_pic{ width:100%; text-align:center;}
.germanquality_m_all .act_pic a{ display:block;} 
.germanquality_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="germanquality_m_all">

	<div class="act_pic">
    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_01_1.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_02_1.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_04.jpg" />
        
        
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11952" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_05.jpg">
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11950" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_06.jpg">
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10699" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_07.jpg">
        </a>
        
      	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_08.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10662" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_09.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10681" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10688" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11953" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_12.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11944" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_13.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11945" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
    	
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11946" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11947" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_16.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11948" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_17.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
    	
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11949" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_18.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11951" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_19.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11954" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
    	
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11955" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_21.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11956" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_22.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11957" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_23.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
    	
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_24.jpg">
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germanquality/germanquality_m_25.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















