<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,德国,Alpecin阿佩辛,Always,雪本诗,Lavera,莱唯德,HiPP,喜宝,佩尔维斯,乳霜,沐浴啫哩,洗发水,卫生巾,蜂胶面膜,洗发水-万集客商城wjike.com" />
<meta name="Description" content="见证品质的力量,德国生活馆金秋大促,实力保障来自Made In Germany,全场最低至9元(活动期间不得与其他优惠券同时使用)-万集客商城wjike.com" />
<title>见证品质的力量,德国生活馆金秋大促！实力保障来自Made In Germany,全场最低至9元!</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.germany_m_all { width:100%; overflow:hidden; margin:0 auto; }
.germany_m_all .act_pic{ width:100%; text-align:center;}
.germany_m_all .act_pic a{ display:block;} 
.germany_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="germany_m_all">

	<div class="act_pic">
    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_03.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10696" title="德国阿佩辛（Alpecin）润黑咖啡因防脱洗发水 养发保湿呵护头皮 200ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_04.jpg" alt="德国阿佩辛（Alpecin）润黑咖啡因防脱洗发水 养发保湿呵护头皮 200ml" />
        </a>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10695" title="德国阿佩辛（Alpecin）咖啡因C1洗发水 止脱育发 250ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_05_01.jpg" alt="德国阿佩辛（Alpecin）咖啡因C1洗发水 止脱育发 250ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10692" title="德国阿佩辛（Alpecin）药用防脱头皮营养液洗发水 舒缓头皮防脱消除头屑 200ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_05_02.jpg" alt="德国阿佩辛（Alpecin）药用防脱头皮营养液洗发水 舒缓头皮防脱消除头屑 200ml" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_06.jpg">
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11770" title="德国Facelle超薄绵柔网面护翼加长夜用卫生巾32厘米10片(5滴水)">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_07.jpg" alt="德国Facelle超薄绵柔网面护翼加长夜用卫生巾32厘米10片(5滴水)" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10702" title="德国Always Ultra系列有护翼卫生巾无荧光剂日用24CM14片(4滴水)">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_08.jpg" alt="德国Always Ultra系列有护翼卫生巾无荧光剂日用24CM14片(4滴水)" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10689" title="德国雪本诗（Schaebens）埃及艳后蜂胶马乳面膜 补水锁水增加弹性">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_09.jpg" alt="德国雪本诗（Schaebens）埃及艳后蜂胶马乳面膜 补水锁水增加弹性" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10684" title="德国雪本诗（Schaebens）香滑巧克力净肤细肤面膜 紧致深度滋养">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_10.jpg" alt="德国雪本诗（Schaebens）香滑巧克力净肤细肤面膜 紧致深度滋养" />
                    </a>
                </li>
            </ul>
        </div>
         
        <a href="http://www.wjike.com/mobile/goods.php?id=10678" title="德国莱唯德(lavera)真理Q10抗皱面膜 去皱紧致肌肤 10ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_11.jpg" alt="德国莱唯德(lavera)真理Q10抗皱面膜 去皱紧致肌肤 10ml" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_12.jpg">
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11773" title="德国intima liasan女性私处护理液抗过敏清洁500ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_13_1.jpg" alt="德国intima liasan女性私处护理液抗过敏清洁500ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10671" title="德国维蕾德(weleda)金盏花婴幼儿护肤乳 滋养敏感肌肤 75ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_14_1.jpg" alt="德国维蕾德(weleda)金盏花婴幼儿护肤乳 滋养敏感肌肤 75ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10679" title="德国莱唯德(lavera)天然野玫瑰润肤乳 保湿滋润舒缓修复 200ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_15_1.jpg" alt="德国莱唯德(lavera)天然野玫瑰润肤乳 保湿滋润舒缓修复 200ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10677" title="德国莱唯德(lavera)天然有机野玫瑰沐浴啫哩 美白保湿 200ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_16_1.jpg" alt="德国莱唯德(lavera)天然有机野玫瑰沐浴啫哩 美白保湿 200ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10676" title="德国贝娜婷（Penaten）万用护臀膏 防治尿疹隔离湿气不含激素 50ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_17_1.jpg" alt="德国贝娜婷（Penaten）万用护臀膏 防治尿疹隔离湿气不含激素 50ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10675" title="德国贝娜婷（Penaten）婴儿爽肤沐浴洗发露 无泪配方温不含香料 400ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_18_1.jpg" alt="德国贝娜婷（Penaten）婴儿爽肤沐浴洗发露 无泪配方温不含香料 400ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10673" title="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_19_1.jpg" alt="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10672" title="德国维蕾德(weleda)金盏花婴儿洗发沐浴2合1乳液 无泪配方 200ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_20_1.jpg" alt="德国维蕾德(weleda)金盏花婴儿洗发沐浴2合1乳液 无泪配方 200ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10667" title="德国维蕾德(weleda)杏仁舒缓滋养面部保湿乳 恢复活力增加弹性30ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_21_1.jpg" alt="德国维蕾德(weleda)杏仁舒缓滋养面部保湿乳 恢复活力增加弹性30ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10661" title="德国喜宝(HiPP)婴幼儿二合一洗发乳沐浴露 无泪配方免清洗 200ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_22_1.jpg" alt="德国喜宝(HiPP)婴幼儿二合一洗发乳沐浴露 无泪配方免清洗 200ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10665" title="德国维蕾德(weleda)金盏花婴儿腹部按摩油 缓解新生儿腹胀 50ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_23_1.jpg" alt="德国维蕾德(weleda)金盏花婴儿腹部按摩油 缓解新生儿腹胀 50ml" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11771" title="德国佩尔维斯(Perl Weiss)特效去咖啡茶渍美白牙齿牙膏50ml">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germanys_m_24_1.jpg" alt="德国佩尔维斯(Perl Weiss)特效去咖啡茶渍美白牙齿牙膏50ml" />
                    </a>
                </li>
            </ul>
        </div>
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/germany/germany_m_25.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body></html>






















