<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,澳大利亚美可卓,澳佳宝,西芹籽胶囊,月见草油胶囊,咀嚼奶片,婴儿益生菌粉,胶原蛋白营养液,护眼片,护肝片,血糖平衡片-万集客商城wjike.com" />
<meta name="Description" content="飘洋过海来送健康,国外保健品大汇集,全场89元起-万集客商城wjike.com" />
<title>飘洋过海来送健康,国外保健品大汇集,全场89元起_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.healthproducts_m_all { width:100%; overflow:hidden; margin:0 auto; }
.healthproducts_m_all .act_pic{ width:100%; text-align:center;}
.healthproducts_m_all .act_pic a{ display:block;} 
.healthproducts_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="healthproducts_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_03.jpg" />        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_04.jpg" />
        
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12270" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_05.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11605" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_06.jpg" alt="" />
        </a>
              
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_07.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10500" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_08.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10514" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_09_1.jpg" alt="" />
        </a>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10523" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11032" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11034" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12274" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12273" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11163" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_15.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10496" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10491" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10521" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>               
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/healthproducts/healthproducts_m_19.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















