<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,Premier,塞尔维亚,日本花王,日本药师堂,美国菲奈诗,日本狮王,滋养乳霜,手工巧克力,洗面奶,洗发水,牙膏-万集客商城wjike.com" />
<meta name="Description" content="万集客第一季度囤货节,许不了三生三世，只有两两相给，给你足够囤货的理由2017年3月28日10:00-3月31日17:30日-万集客商城wjike.com" />
<title>万集客第一季度囤货节,许不了三生三世，只有两两相给，给你足够囤货的理由_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.hoarding_m_all { width:100%; overflow:hidden; margin:0 auto; }
.hoarding_m_all .act_pic{ width:100%; text-align:center;}
.hoarding_m_all .act_pic a{ display:block;} 
.hoarding_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="hoarding_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_04.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_05.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10411" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10410" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_07.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
                
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_08.jpg" />
                
       <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10411&package_detail=34" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10410&package_detail=35" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10410&package_detail=36" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10410&package_detail=37" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_13.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12175" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12171" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_15.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_16.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11852" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10840" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_19.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11107" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_20.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11757" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_21.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_22.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_23.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_24.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11553" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_25.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_26.jpg" alt="" />
        </a>
        
        
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_27.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12058" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_28.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9769" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_29.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_30.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_31.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10158&package_detail=43" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_32.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10158&package_detail=44" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_33.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?act=view_img&id=10159&package_detail=45" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_34.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/hoarding/hoarding_m_35.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















