<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本花王,德国菲洛施,日本小林制药,消臭元,厨房泡沫油污清洁剂,重油污清洁喷雾-万集客商城wjike.com" />
<meta name="Description" content="学会小妙招,家务变轻松,多点套路,家务分分钟搞定;让地板成为宝宝游乐园的绝招-万集客商城wjike.com" />
<title>学会小妙招,家务变轻松,多点套路,家务分分钟搞定_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />


<style>
.housework_m_all { width:100%; overflow:hidden; margin:0 auto; }
.housework_m_all .act_pic{ width:100%; text-align:center;}
.housework_m_all .act_pic a{ display:block;} 
.housework_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="housework_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_03.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12158" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_04.jpg" alt="" />
        </a>
                
        <a href="http://www.wjike.com/mobile/goods.php?id=12159" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_05.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11955" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_06.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12160" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_07.jpg" alt="" />
        </a>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12162" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_08.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12161" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_09.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_10.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11748" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_11.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11744" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_12.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11750" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>    
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_14.jpg" />     
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/housework/housework_m_15.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















