<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,日本贝印,惠百施,味之素,贝亲,韩国思亲肤,德国NUK,喜宝,吸管杯,滴眼液,沐浴露,牙刷,面包干,意大利面,修眉刀,洗洁精,乳液-万集客商城wjike.com" />
    <meta name="Description" content="凑单小单品页面,产品以价格区分,价格分为'0-20','20-50','50-100',三个层次-万集客商城wjike.com" />
    <title>凑单小单品页面,产品以价格区分</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .activity_all { width:100%; overflow:hidden; margin:0 auto; }
        .activity_all .act_pic{ width:100%; text-align:center;}
        .activity_all .act_pic a{ margin-bottom:10px; display:block;}
        .activity_all .act_pic .j_img_top{ max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
        .activity_all .act_tit .j_img{ max-height: 25px;max-width: 640px;min-height: 15px;min-width: 320px;}

        .activity_all .act_tit{ width:100%; text-align:center;}
        .activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
        .activity_all .act_tit img{ padding:15px 0 10px 0;}

        .activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

        .activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

        .activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

    </style>
</head>
<body>

<!--start-->

<div class="activity_all">
<div class="act_pic">
    <img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/joinsingle/joinsingle_3.jpg" />
</div>


<div class="act_list">
<ul>
<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11787">
            <img src="http://www.wjike.com/images/201609/goods_img/11787_P_1473028407309.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11787">日本惠百施(EBISU)白金美白牙刷超细毛 61号（颜色随机发货）</a>
    </div>
    <div class="al_pri">
        会员价<span>￥17</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11787" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11636">
            <img src="http://www.wjike.com/images/201608/goods_img/11636_P_1471544235358.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11636">意大利Bocconcini番茄牛至风味面包干</a>
    </div>
    <div class="al_pri">
        会员价<span>￥6</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11636" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10980">
            <img src="http://www.wjike.com/images/201604/goods_img/10980_P_1461624699939.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10980">意大利RAVAZZI 啾啾软糖100克</a>
    </div>
    <div class="al_pri">
        会员价<span>￥9</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10980" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10755">
            <img src="http://www.wjike.com/images/201604/goods_img/10755_P_1459447877110.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10755">意大利Granaria意大利面小熊面500g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥14</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10755" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10761">
            <img src="http://www.wjike.com/images/201604/goods_img/10761_P_1459448376252.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10761">意大利ITERITALIA植物性香皂含牛油果精华100g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥11</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10761" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11684">
            <img src="http://www.wjike.com/images/201608/goods_img/11684_P_1471976708233.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11684">日本贝印(KAI)专业安全修眉刀蓝色有防护网款5支装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥15</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11684" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11654">
            <img src="http://www.wjike.com/images/201608/goods_img/11654_P_1471894142662.jpg" style="height:180px;" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11654">日本LEC99.9%纯水婴儿湿巾系列(屁屁专用)无酒精无香料无荧光剂80枚</a>
    </div>
    <div class="al_pri">
        会员价<span>￥10</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11654" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11494">
            <img src="http://www.wjike.com/images/201608/goods_img/11494_P_1469988427039.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11494">德国NUK8字型练牙器牙胶PP材质(不含BPA)2个装3-12个月</a>
    </div>
    <div class="al_pri">
        会员价<span>￥16</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11494" class="buying">立即购买</a>
    </div>
</li>
<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11653">
            <img src="http://www.wjike.com/images/201608/goods_img/11653_P_1471820240692.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11653">日本贝亲（Pigeon）婴幼儿植物通鼻棒疏通鼻塞6月+</a>
    </div>
    <div class="al_pri">
        会员价<span>￥29</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11653" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11729">
            <img src="http://www.wjike.com/images/201608/goods_img/11729_P_1472420089166.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11729">日本味之素零胆固醇菜籽油1.35L</a>
    </div>
    <div class="al_pri">
        会员价<span>￥49</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11729" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10970">
            <img src="http://www.wjike.com/images/201604/goods_img/10970_P_1461624100229.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10970">意大利BARONI 全麦曲奇400克</a>
    </div>
    <div class="al_pri">
        会员价<span>￥22</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10970" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11146">
            <img src="http://www.wjike.com/images/201607/goods_img/11146_P_1467678642905.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11146">日本小林制药（Kobayashiseiyaku）儿童润喉型口罩草莓味 3套装（口罩3个、保湿片3包）3-9岁适用</a>
    </div>
    <div class="al_pri">
        会员价<span>￥26</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11146" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10661">
            <img src="http://www.wjike.com/images/201603/goods_img/10661_P_1458154562196.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10661">德国喜宝(HiPP)婴幼儿二合一洗发乳沐浴露 无泪配方免清洗 200ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥32</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10661" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10447">
            <img src="http://www.wjike.com/images/201603/goods_img/10447_P_1457049226946.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10447">澳大利亚晨逸（Morning Fresh）天然浓缩洗洁精原味型400ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥24</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10447" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11489">
            <img src="http://www.wjike.com/images/201608/goods_img/11489_P_1469987972889.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11489">德国NUK多彩半圆安抚奶嘴储存盒1个装可高温消毒黄色/绿色/紫色随机发货</a>
    </div>
    <div class="al_pri">
        会员价<span>￥29</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11489" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10829">
            <img src="http://www.wjike.com/images/201604/goods_img/10829_P_1461282530214.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10829">日本小林制药（Kobayashiseiyaku）管道洗净丸无香12粒</a>
    </div>
    <div class="al_pri">
        会员价<span>￥28</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10829" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11214">
            <img src="http://www.wjike.com/images/201605/goods_img/11214_P_1464288062802.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11214">日本乐敦（Rohto）夜间修复养润水滴眼液13ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥56</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11214" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11704">
            <img src="http://www.wjike.com/images/201608/goods_img/11704_P_1472084878160.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11704">韩国九朵云(Cloud 9)奇迹马油霜改善皱纹淡印淡斑70g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥79</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11704" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10837">
            <img src="http://www.wjike.com/images/201604/goods_img/10837_P_1461265278626.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10837">美国乐家(ALMOND ROCA)腰果糖284g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥63</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10837" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11420">
            <img src="http://www.wjike.com/images/201607/goods_img/11420_P_1467683742815.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11420">韩国爱茉莉（ Amore）美妆仙护发精油 免洗保湿修复干枯毛躁 70ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥52</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11420" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11121">
            <img src="http://www.wjike.com/images/201605/goods_img/11121_P_1462816707052.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11121">日本妮飘（Nepia)鼻子贵族柔肤纸巾3盒</a>
    </div>
    <div class="al_pri">
        会员价<span>￥51</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11121" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11263">
            <img src="http://www.wjike.com/images/201606/goods_img/11263_P_1465251740650.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11263">美国兰思诺(Lansinoh)防溢乳垫轻薄柔软透气 60片/盒</a>
    </div>
    <div class="al_pri">
        会员价<span>￥65</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11263" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11647">
            <img src="http://www.wjike.com/images/201608/goods_img/11647_P_1471888790787.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11647">日本贝亲（Pigeon）magmag婴儿学饮吸管杯加通气孔200ml8月+</a>
    </div>
    <div class="al_pri">
        会员价<span>￥66</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11647" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11506">
            <img src="http://www.wjike.com/images/201608/goods_img/11506_P_1469988967292.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11506">德国NUK防滑食物研磨碗黄色1套（含1个研磨碗和1个研磨棒）300ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥69</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11506" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11307">
            <img src="http://www.wjike.com/images/201606/goods_img/11307_P_1465321085959.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11307">日本Reveur SCALP无硅护发素粉色头皮护理500ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥55</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11307" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10499">
            <img src="http://www.wjike.com/images/201603/goods_img/10499_P_1457302265772.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10499">澳大利亚DU'IT急救修复脚膜霜 50ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥53</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10499" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11104">
            <img src="http://www.wjike.com/images/201605/goods_img/11104_P_1462754686219.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11104">日本资生堂(SHISEIDO)丝蓓绮10周年限定紫椿套装</a>
    </div>
    <div class="al_pri">
        会员价<span>￥79</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11104" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832">
            <img src="http://www.wjike.com/images/201609/goods_img/11832_P_1473121001663.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832">韩国思亲肤(SKIN FOOD)莴苣黄瓜沁颜乳液140ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥79</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832" class="buying">立即购买</a>
    </div>
</li>



</ul>
</div>



</div>
<!--end-->



</body>
</html>