<!DOCTYPE html>
<html>
<head>
<title>特价会员1元尊享90天会员服务 - {$shop_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="style/base.css?v=ecdaddy" />
    {insert_scripts files='common.js,../js/transport.js'}
</head>
<body>
{include file='head3.html'}
<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_01.jpg" />
<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_02.jpg" />
<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_03.jpg" />
<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_04.jpg" />

<a href="javascript:addToCart(11441, 'quk_buy');">
    <img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_05.jpg" />
</a>

<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_06.jpg" />
<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/julyvipbuy/julyvipbuy_07.jpg" />

{include file='foot.html'}
</body>
</html>