<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本花王,日本宝洁,日本美洁卫,soapnut,洗衣球,洗衣液,洗衣粉,洗涤液-万集客商城wjike.com" />
<meta name="Description" content="万集客洁衣专场,为你挑选好的,9.16-9.31领券购买更优惠-万集客商城wjike.com" />
<title>万集客洁衣专场,为你挑选好的,9.16-9.31领券购买更优惠_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>
<script src="http://www.wjike.com/mobile/js/common.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.laundry_m_all { width:100%; overflow:hidden; margin:0 auto; }
.laundry_m_all .act_pic{ width:100%; text-align:center;}
.laundry_m_all .act_pic a{ display:block;} 
.laundry_m_all .act_pic li{ float:left;}
</style>
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}
<!--start-->
 
<div class="laundry_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_01_1.jpg" />
        <a href="javascript:getbonus(13)">
    		<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_02_1.jpg" />
        </a>
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12217" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_03.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12214" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_04.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_05.jpg" />                
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12245" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11122" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_07.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_08.jpg" />   
                
        <a href="http://www.wjike.com/mobile/goods.php?id=12188" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_09_1.jpg" alt="" />
        </a>
                  
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11721" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11722" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_12.jpg" />  
                  
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12194" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12192" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_15.jpg" />      
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/laundry/laundry_m_16.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

{include file='foot.html'}
</body>
</html>






















