<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,塞尔维亚,Premier,手工巧克力,黑巧克力,白巧克力,牛奶巧克力-万集客商城wjike.com" />
    <meta name="Description" content="欧洲人眼里的「求爱供应商」-塞尔维亚Premier手工巧克力,助力情人节表白,祝福爱情长长久久!2月10-14日期间，购买巧克力满99立减10元!-万集客商城wjike.com" />
    <title>巧克力的魔法时刻,表白要趁早,情人节才能不孤单</title>

    <style>
        .loverday_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .loverday_m_all .act_pic{ width:100%; text-align:center;}
        .loverday_m_all .act_pic a{ display:block;}
        .loverday_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}

<!--start-->

<div class="loverday_m_all">
    <div class="act_pic">
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_03.jpg" />

        <a href="javascript:getbonus(11)" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_04.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_05.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_06.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_07.jpg" />


        <a href="http://www.wjike.com/mobile/goods.php?id=10392" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_08.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10390" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_09.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_10.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=10425" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_11.jpg" alt="" />
        </a>
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_12.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_13.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10401" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10396" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10391" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10399" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10385" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_19.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10411" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_20.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10410" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_21.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_22.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/loverday/loverday_m_23.jpg">
        </a>

    </div>

</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















