<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>免费领取90天会员体验--万集客,生活优选量贩店</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>

        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .lqvip_all { width:100%; overflow:hidden; margin:0 auto; }
        .lqvip_all .act_pic{ width:100%; text-align:center;}
        .lqvip_all .act_pic a{ margin-bottom:0px; display:block;}
        .lqvip_all .act_pic .j_img_top{ max-height: 328px;max-width: 640px;min-height: 164px;min-width: 320px;}

    </style>
</head>
<body>

<!--start-->

<div class="lqvip_all">
    <div class="act_pic">
        <a href="http://wjike.com/mobile/user.php?act=register#"><img class="j_img_top" src="../images/lqvip_01.jpg" /></a>
        <img class="j_img_top" src="../images/lqvip_02.jpg" />
        <img class="j_img_top" src="../images/lqvip_03.jpg" />
        <a href="http://wjike.com/mobile/user.php?act=register"><img class="j_img_top" src="../images/lqvip_04.jpg" /></a>
    </div>

</div>
<!--end-->
</body>
</html>






















