<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,澳大利亚瑞思,澳大利亚Life Space,澳佳宝,日本纯药,日本花王,魅客先生,葡萄酒,成人益生菌,护眼片,碳洁面皂,洗面奶-万集客商城wjike.com" />
<meta name="Description" content="关爱男人健康,社会赋予他们共同的名字——亚里山大-万集客商城wjike.com" />
<title>关爱男人健康,社会赋予他们共同的名字——亚里山大_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.manday_m_all { width:100%; overflow:hidden; margin:0 auto; }
.manday_m_all .act_pic{ width:100%; text-align:center;}
.manday_m_all .act_pic a{ display:block;} 
.manday_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="manday_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10521" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_05.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12271" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_06.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12273" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_07.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_08.jpg" />               
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12281" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11660" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_10.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12201" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12202" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_13.jpg" />
                        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12253" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12209" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11440" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_17.jpg" />         
                
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuS6muW9k%2baWryI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE1MDE4NDI1MTg7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_18.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjEyOiLprYXlrqLlhYjnlJ8iO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNTAxODQyNTUzO30=" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_19.jpg" alt="" />
        </a>        
                                            
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/manday/manday_m_20.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















