<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>做白又美女神,美一夏,全场8元起</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .masksunscreen_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .masksunscreen_m_all .act_pic{ width:100%; text-align:center;}
        .masksunscreen_m_all .act_pic a{ display:block;}
        .masksunscreen_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="masksunscreen_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_01.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11341" title="日本资生堂（SHISEIDO）安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_02.jpg" alt="日本资生堂（SHISEIDO）安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11070" title="日本嘉娜宝（kracie）肌美精超渗透3D面膜胶原蛋白透明弹力4片装">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_03.jpg" alt="日本嘉娜宝（kracie）肌美精超渗透3D面膜胶原蛋白透明弹力4片装" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10241" title="台湾森田药妆动物造型补水保湿面膜(老虎)3片入">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_04.jpg" alt="台湾森田药妆动物造型补水保湿面膜(老虎)3片入" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_05.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10822" title="美国帕玛氏（Palmers）天然可可防晒倍润护唇膏">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_06.jpg" alt="美国帕玛氏（Palmers）天然可可防晒倍润护唇膏" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11342" title="日本资生堂（SHISEIDO）安耐晒防晒乳 防水防汗银瓶60ml SPF50+/PA++++">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_07.jpg" alt="日本资生堂（SHISEIDO）安耐晒防晒乳 防水防汗银瓶60ml SPF50+/PA++++" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11208" title="日本资生堂（SHISEIDO）uno三合一护肤乳防晒型160ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_08.jpg" alt="日本资生堂（SHISEIDO）uno三合一护肤乳防晒型160ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11271" title="美国加州宝宝（California Baby）婴儿保湿防晒霜SPF30+ 82g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_09.jpg" alt="美国加州宝宝（California Baby）婴儿保湿防晒霜SPF30+ 82g" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToxMTp7czo4OiJjYXRlZ29yeSI7czoxOiIwIjtzOjc6ImRpc3BsYXkiO3M6NDoiZ3JpZCI7czo1OiJicmFuZCI7czowOiIiO3M6OToicHJpY2VfbWluIjtzOjA6IiI7czo5OiJwcmljZV9tYXgiO3M6MDoiIjtzOjExOiJmaWx0ZXJfYXR0ciI7czowOiIiO3M6NDoicGFnZSI7czowOiIiO3M6NDoic29ydCI7czoxMDoic2hvcF9wcmljZSI7czo1OiJvcmRlciI7czozOiJBU0MiO3M6ODoia2V5d29yZHMiO3M6Njoi6Ziy5pmSIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTQ2NTg3NTUxOTt9#goods_list" >
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_10.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_11.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10686" title="德国雪本诗（Schaebens）草莓清洁嫩白面膜 吸收皮肤垃圾美白祛斑">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_12.jpg" alt="德国雪本诗（Schaebens）草莓清洁嫩白面膜 吸收皮肤垃圾美白祛斑" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10231" title="台湾极美肌 全效金箔水润黑颈颜面膜(5入/盒)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_13.jpg" alt="台湾极美肌 全效金箔水润黑颈颜面膜(5入/盒)" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10224" title="台湾森田药妆玻尿酸酵母青春露保湿面膜9片入">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_14.jpg" alt="台湾森田药妆玻尿酸酵母青春露保湿面膜9片入" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10243" title="台湾欣兰DMC 黑里透白冻膜">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_15.jpg" alt="台湾欣兰DMC 黑里透白冻膜" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10336" title="韩国可莱丝(clinie)美白面膜10片(有香味)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_16.jpg" alt="韩国可莱丝(clinie)美白面膜10片(有香味)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11078" title="日本高丝（Kose）clear turn传明酸药用美白面膜30片装">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_17.jpg" alt="日本高丝（Kose）clear turn传明酸药用美白面膜30片装" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11071" title="日本高丝（Kose）Clear Turn Babyish美白面膜清爽美白型7片装">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_18.jpg" alt="日本高丝（Kose）Clear Turn Babyish美白面膜清爽美白型7片装" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10350" title="韩国高丽雅娜（Coreana）肉毒杆菌精华美白面膜10片美白淡斑抗皱(无香味)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_19.jpg" alt="韩国高丽雅娜（Coreana）肉毒杆菌精华美白面膜10片美白淡斑抗皱(无香味)" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/masksunscreen/masksunscreen_m_20.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















