<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,英国清妍,德国哈罗闪,日本资生堂,花王,虎牌,美体小铺,护手霜,纸尿裤,润肤乳,蜂蜜,洗衣液,奶瓶,唇膏-万集客商城wjike.com" />
    <meta name="Description" content="圣诞节狂欢或许只是借口,我想做的其实是年末尽情扫货,12月21日-12月23日 12月26-12月27日 共五天 每天三款单品超值惠,数量有限,抢完为止-万集客商城wjike.com" />
    <title>圣诞节狂欢或许只是借口,我想做的其实是年末尽情扫货</title>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .merrychristmas_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .merrychristmas_m_all .act_pic{ width:100%; text-align:center;}
        .merrychristmas_m_all .act_pic a{ display:block;}
        .merrychristmas_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start--> 
 
<div class="merrychristmas_m_all">

	<div class="act_pic">
    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m5_05.jpg" />
        
       	<div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11720" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m5_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12086" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m5_07.jpg" alt="" width="401px" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12006" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m5_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_09.jpg" />
       
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12063" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11415" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_11.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11565" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_12.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10859" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11847" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11821" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_15.jpg" alt="" width="301px" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10318" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_16.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10808" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_17.jpg" alt="" width="301px" />
                    </a>
                </li>
            </ul>
        </div> 
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_18.jpg" alt="" />
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11722" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_19.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12066" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_20.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_21.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_22.jpg" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11605" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_23.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11719" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_24.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11975" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_25.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11958" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_26.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=572" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_27.jpg" />
        </a>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12051" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_28.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11687" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_29.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11695" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_30.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10699" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_31.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=710" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_32.jpg" />
        </a>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10778" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_33.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11253" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_34.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9762" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_35.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11276" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_36.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=754" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_37.jpg" />
        </a>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11403" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_38.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11955" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_39.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10249" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_40.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11986" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_41.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=44" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_42.jpg" />
        </a>
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_43.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_44.jpg" />
       
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/merrychristmas/merrychristmas_m1_45.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> </body>
</html>






















