<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,日本金鸟,日本未来,日本阿斯,悬挂式防虫驱蚊器,防虫驱蚊贴片,儿童驱蚊喷雾,除蚊器,电子驱蚊器,蟑螂药,防螨除螨喷雾-万集客商城wjike.com" />
    <meta name="Description" content="万集客推出'全面防蚊,今夏无忧,向蚊虫困扰,Say NO!'的活动,无毒无害,轻松防蚊,随时随地喷一喷,让蚊子离得远远的;不放过任何蟑螂,从而消灭整窝蟑螂;速干性除螨用杀虫剂,己通过过敏测试-万集客商城wjike.com" />
    <title>向蚊虫困扰,Say NO!全面防蚊,今夏无忧-全场29元起_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

    <style>
        .mosquito_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .mosquito_m_all .act_pic{ width:100%; text-align:center;}
        .mosquito_m_all .act_pic a{ display:block;}
        .mosquito_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="mosquito_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11474" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_05.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11472" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_06.jpg" alt="" />
        </a>
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_07.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=11444" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_08.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11446" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_09.jpg" alt="" />
        </a>
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_10.jpg" />
        <a href="http://www.wjike.com/mobile/goods.php?id=11447" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_11.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11471" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_12.jpg" alt="" />
        </a>
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_13.jpg" />


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11470" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11468" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11466" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11475" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_17.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11473" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11449" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11162" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_20.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11445" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_21.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>


        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjM6IuiaiiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NzA5ODU4MDc7fQ==">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_22.jpg"/>
        </a>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/mosquito/mosquito_m_23.jpg"/>
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















