<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本尤妮佳,德国哈罗闪,日本花王,日本贝亲,德国贝娜婷,奶瓶,润肤乳液,婴儿湿巾,婴儿纸尿裤,婴儿洗衣液-万集客商城wjike.com" />
<meta name="Description" content="新春到,吉祥来,国际大牌母婴祝宝宝快乐健康成长!-万集客商城wjike.com" />
<title>「鸡」祥如意！新春到,吉祥来,国际大牌母婴祝宝宝快乐健康成长!</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.motherchild_m_all { width:100%; overflow:hidden; margin:0 auto; }
.motherchild_m_all .act_pic{ width:100%; text-align:center;}
.motherchild_m_all .act_pic a{ display:block;} 
.motherchild_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="motherchild_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12100" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_05.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10807" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_06.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11565" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_07.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=9848" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_08.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=12109" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_09.jpg" alt="" />
        </a>
        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_10.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_11.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_12.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11809" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_13.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10788" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11810" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12101" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_16.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_17.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_18.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_19.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11570" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_20.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11568" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_21_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11575" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_22.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11316" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_23.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_24.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWwpOWmruS9syI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0ODUwNTI3NDk7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_25.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_26.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_27.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11564" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_28.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11461" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_29.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11460" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_30.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11563" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_31.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_32.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuiKseeOiyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0ODUwNTI4MDU7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_33.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_34_1.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_35_1.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11456" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_36_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11459" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_37_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11458" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_38_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11457" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_39_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_40_1.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_41_1.jpg" alt="" />
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_42.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10676" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_43.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10791" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_44.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11454" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_45.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11944" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_46.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12096" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_47.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11275" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_48.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9762" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_49.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11268" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_50.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=756" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_51.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_52.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_53.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_54.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11252" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_55_1.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11779" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_56.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11651" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_57.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11781" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_58.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_59.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_60.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10919" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_61.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10033" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_62.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11267" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_63.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11647" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_64.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_65.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_66.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11804" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_67.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11667" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_68.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11669" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_69.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11643" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_70.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_71.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=760" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_72.jpg" alt="" />
        </a>
        
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_73.jpg" alt="" />
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11645" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_74.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10489" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_75.jpg" alt="" />
                    </a>
                </li>
                <li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9768" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_76.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10782" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_77.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:16.66%">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_78.jpg" alt="" />
                </li>
            </ul>
        </div> 
        
        
        <a href="http://www.wjike.com/mobile/category.php?c_id=755" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_79.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springbaby/motherchild_m_80.jpg" alt="" />
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_16.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















