<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,膳魔师,THERMOS,美国帕玛氏,日本贝亲,日本尤妮佳,双耳吸管杯,胸部护理霜,防溢乳垫,婴儿拉拉裤-万集客商城wjike.com" />
<meta name="Description" content="母婴用品大促,给相亲相爱的宝妈和妈宝的关爱,2017年4月5日-4月7日,订单满200元送绿之源鞋用高效除臭活性炭一盒(价值31.2元)-万集客商城wjike.com" />
<title>母婴用品大促,给相亲相爱的宝妈和妈宝的关爱_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.myyp_m_all { width:100%; overflow:hidden; margin:0 auto; }
.myyp_m_all .act_pic{ width:100%; text-align:center;}
.myyp_m_all .act_pic a{ display:block;} 
.myyp_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="myyp_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_03.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=9788" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_04.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_05.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10033" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9848" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9849" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_09.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10818" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10817" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_11_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10823" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_12.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11796" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_14.jpg" />
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11571" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11258" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10780" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12117" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_18_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_19.jpg" />
        
        <a href="http://www.wjike.com/mobile/category.php?cat_id=754" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_20.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_21.jpg" />
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/myyp/myyp_m_22.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















