<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
<meta name="Keywords" content="万集客,日本花王,日本莎娜,英国清妍,日本马油,德国哈罗闪,洗面奶,润肤乳液,润肤霜,女性私密处洗液-万集客商城wjike.com" />
<meta name="Description" content="这世间值得你温柔对待的都是你心心念念无私热爱的，也包括你易受伤的敏感肌肤-万集客商城wjike.com" />
<title>敏感肌肤护理专区_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
.activity_all { width:100%; overflow:hidden; margin:0 auto; }
.activity_all .act_pic{ width:100%; text-align:center; margin-bottom:5px;}
.activity_all .act_pic a{ margin-bottom:10px; display:block;} 
.activity_all .act_pic .j_img_top{ max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
.activity_all .act_tit .j_img{ max-height: 25px;max-width: 640px;min-height: 15px;min-width: 320px;}

.activity_all .act_tit{ width:100%; text-align:center;}
.activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
.activity_all .act_tit img{ padding:15px 0 10px 0;}

.activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

.activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

.activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

</style>
</head>
<body>
<!--start--> 
 
<div class="activity_all">
	<div class="act_pic">
    	<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/nursing/nursing_03.jpg" />
    </div>
        
        
    <div class="act_list">
    
    	<ul>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12170">
                        <img src="http://www.wjike.com/images/201701/goods_img/12170_P_1484256865935.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12170">日本花王珂润卸妆啫喱润浸保湿干燥敏感肌 130g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥79</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12170" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12171">
                        <img src="http://www.wjike.com/images/201701/goods_img/12171_P_1484257106554.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12171">日本花王珂润洁面泡沫润浸保湿洁颜洗面奶 150ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥89</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12171" class="buying">立即购买</a>
                </div>
            </li>
            
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12105">
                        <img src="http://www.wjike.com/images/201701/goods_img/12105_P_1483467944002.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12105">日本莎娜豆乳美肌洗面奶 150g 滋润保湿</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥52</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12105" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12029">
                        <img src="http://www.wjike.com/images/201611/goods_img/12029_P_1479836134247.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12029">英国清妍洗面奶 150ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥49</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12029" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11592">
                        <img src="http://www.wjike.com/images/201608/goods_img/11592_P_1471285857557.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11592">澳大利亚星期四农庄芦荟凝胶 30g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥42</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11592" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10827">
                        <img src="http://www.wjike.com/images/201605/goods_img/10827_P_1462748870362.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10827">日本马油天然保湿润肤乳液 485ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10827" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11401">
                        <img src="http://www.wjike.com/images/201606/goods_img/11401_P_1466448095774.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11401">日本药师堂尊马油无添加型补水保湿润肤身体乳 70ML</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥151</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11401" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11593">
                        <img src="http://www.wjike.com/images/201608/goods_img/11593_P_1471286497011.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11593">澳大利亚茱莉蔻玫瑰沐浴露 300ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥172</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11593" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10671">
                        <img src="http://www.wjike.com/images/201603/goods_img/10671_P_1458155475372.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10671">德国维蕾德金盏花婴幼儿护肤乳 滋养敏感肌肤 75ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥85</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10671" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10815">
                        <img src="http://www.wjike.com/images/201604/goods_img/10815_P_1459799993708.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10815">德国哈罗闪婴儿敏感皮肤系列沐浴油200ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥110</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10815" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10814">
                        <img src="http://www.wjike.com/images/201604/goods_img/10814_P_1459799915460.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10814">德国哈罗闪婴儿敏感皮肤系列润肤霜100ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥98</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10814" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10813">
                        <img src="http://www.wjike.com/images/201604/goods_img/10813_P_1459799858203.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10813">德国哈罗闪婴儿敏感皮肤系列护臀霜100ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥110</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10813" class="buying">立即购买</a>
                </div>
            </li>
            
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11112">
                        <img src="http://www.wjike.com/images/201607/goods_img/11112_P_1467933973091.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11112">日本花王乐而雅绵柔透气卫生护垫 50片 无荧光剂零敏肌</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥29</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11112" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11550">
                        <img src="http://www.wjike.com/images/201608/goods_img/11550_P_1470619002866.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11550">日本花王乐而雅F系列超薄护翼日用20.5cm24片</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥33</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11550" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10904">
                        <img src="http://www.wjike.com/images/201701/goods_img/10904_P_1484170012220.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10904">日本花王乐而雅F系列护翼夜用卫生巾30cm10片</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥33</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10904" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10905">
                        <img src="http://www.wjike.com/images/201604/goods_img/10905_P_1461286583210.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10905">日本花王乐而雅F系列超薄护翼日用卫生巾22.5cm20片</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥33</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10905" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12057">
                        <img src="http://www.wjike.com/images/201611/goods_img/12057_P_1479753683376.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12057">英国芳芯女性私密处洗液 温和无皂 250ml 甘菊款</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12057" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12058">
                        <img src="http://www.wjike.com/images/201611/goods_img/12058_P_1479753589777.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12058">英国芳芯女性私密处洗液 温和无皂 250ml 清新无味款</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12058" class="buying">立即购买</a>
                </div>
            </li>
        
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12059">
                        <img src="http://www.wjike.com/images/201611/goods_img/12059_P_1479753469279.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12059">英国芳芯女性私密处洗液 温和无皂 250ml 蔓越莓款</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12059" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12056">
                        <img src="http://www.wjike.com/images/201611/goods_img/12056_P_1479753734969.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12056">英国芳芯女性私密处洗液 温和无皂 250ml 白百合款</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12056" class="buying">立即购买</a>
                </div>
            </li>
            
            
        </ul>
    </div>
    
    
    
</div>	
<!--end--> 

</body>
</html>























