<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,日本蝶翠诗,熊野油脂,药师堂,韩国九朵云,马油,头发头皮护理油,马油精华液,马油面膜,马油精华水-万集客商城wjike.com" />
    <meta name="Description" content="橄榄油,迄今所发现的油脂中最适合人体营养的油脂;山茶花油,含有与皮脂相似的成分与肌肤自然吻合易吸收;马油,含有与肌肤相近的成分极易渗透,滋润且让毛孔自由呼吸-万集客商城wjike.com" />
    <title>神奇"油"世界,徜徉在"油"的海洋,美丽又健康</title>

    <style>
        .oilworld_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .oilworld_m_all .act_pic{ width:100%; text-align:center;}
        .oilworld_m_all .act_pic a{ display:block;}
        .oilworld_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="oilworld_m_all">
    <div class="act_pic">
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_05.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11609" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11613" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_07_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=11610" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_08.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_09.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11626" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11623" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11614" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_12.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11607" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_14.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11617" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_15.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_16.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11628" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11619" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11627" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11618" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_21.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11850" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_22.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11852" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_23.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_24.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11704" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_25.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12082" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_26.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11343" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_27.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11611" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_28.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11857" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_29.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11855" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_30.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11848" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_31.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11849" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_32.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_33.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/oilworld/oilworld_m_34.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















