<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,英国 Strepsils,清妍,博姿,日本熊野油脂,资生堂,宝洁,台湾极美肌,蔓越莓干,洗面奶,面膜,卫生巾,护发素,漱口水,牙膏-万集客商城wjike.com" />
    <meta name="Description" content="学生时代或许没有太多钱,却没有阻挡我爱生活的心,我知道好物的衡量标准不是钱,而是效果.与你共同分享——这些年,我们追过的平价大碗好物-万集客商城wjike.com" />
    <title>这些年,我们追过的平价大碗好物</title>
    <style>
        .parity_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .parity_m_all .act_pic{ width:100%; text-align:center;}
        .parity_m_all .act_pic a{ display:block;}
        .parity_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="parity_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_03.jpg" />


        <a href="http://www.wjike.com/mobile/goods.php?id=11971" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_04.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11719" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_05.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11199" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_06.jpg" alt="" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12036" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12037" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>


        <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_09.jpg" alt="" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11628" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_10.jpg" alt="" />
        </a>


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11782" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=12063" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_13.jpg" alt="" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12084" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10226" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_15.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11153" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11107" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_17.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11948" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11936" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_19.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/parity/parity_m_20.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















