<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>舒适睡眠从泰国康馥莉乳胶枕开始</title>
    <style>
        .pillow_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .pillow_m_all .act_pic{ width:100%; text-align:center;}
        .pillow_m_all .act_pic a{ display:block;}
        .pillow_m_all .act_pic li{ float:left;}
    </style>
<link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="pillow_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_05.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_06.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_07.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_08.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_09.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_10.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_11.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_12.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_13.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_14.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_15.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11140">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_16.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11141">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_17.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11138">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_18.jpg" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11139">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_19.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_20.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_21.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_22.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pillow/pillow_m_23.jpg" />

    </div>


</div>

<!--end-->
</body>
</html>






















