<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,新西兰红印,博资,资生堂,高丝,KOSE,Boots,花王,英国芳芯,护手霜,卫生巾,女性私密处洗液-万集客商城wjike.com" />
    <meta name="Description" content="姐妹们，这个世界上你最应该爱的人是你自己！自然安全呵护女性私处健康;解决手部肌肤问题;生理期要选'对'的卫生巾-万集客商城wjike.com" />
    <title>粉红色的爱,关爱女性健康</title>


    <style>
        .pink_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .pink_m_all .act_pic{ width:100%; text-align:center;}
        .pink_m_all .act_pic a{ display:block;}
        .pink_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="pink_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_05.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_06.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12058" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12057" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_08.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12056" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12059" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_10.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_11.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_12.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_13.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10481" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_14.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_15.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_16.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12062" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11782" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10333" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10498" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_21.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuaKpOaJi%2bmcnCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0ODE3MDYyNzY7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_22.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_23.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_24.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10702" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_25.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11770" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_26.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11553" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_27.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_28.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/category.php?c_id=779" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_29.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_30.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/category.php?c_id=745" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_31.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_32.jpg" alt="" />


        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/pink/pink_m_33.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















