<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,资深买手,保税区直发,全程海关监管,美妆,食品,家居,母婴,国内保税区仓库,国外仓库-万集客商城wjike.com" />
    <meta name="Description" content="买手团队覆盖亚洲、欧洲、澳新、北美等地。专业的供应链团队全程服务，确保产品来源，批量采购，降低成本。产品平进平出，让利于会员-万集客商城wjike.com" />
    <title>全球臻选,会员专享,专业资深买手,保税区直发,全程海关监管,底价专供,用户购物省钱省心</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .purchaser_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .purchaser_m_all .act_pic{ width:100%; text-align:center;}
        .purchaser_m_all .act_pic a{ display:block;}
        .purchaser_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="purchaser_m_all">

    <div class="act_pic">
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_05.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_06.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_07.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_08.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_09.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_10.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_11.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_12.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_13.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_14.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/purchaser/purchaser_m_15.jpg" />
    </div>

</div>

<!--end-->

</body>
</html>