<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,澳大利亚茱莉蔻,澳佳宝,日本资生堂,洗手液,香娜露儿,freezeframe,月见草油胶囊,眼霜,葡萄酒-万集客商城wjike.com" />
<meta name="Description" content="七夕—中国人的情人节,情深爱亦浓,活动时间:2017年8月19日--2017年8月28日;全场满200包邮-万集客商城wjike.com" />
<title>七夕—中国人的情人节,情深爱亦浓_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.qixi_m_all { width:100%; overflow:hidden; margin:0 auto; }
.qixi_m_all .act_pic{ width:100%; text-align:center;}
.qixi_m_all .act_pic a{ display:block;} 
.qixi_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="qixi_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_03_1.jpg" />        
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11595" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_04_1.jpg" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11688" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_05.jpg" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11598" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_06.jpg" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_07.jpg" />  
        
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuiRoeiQhOmFkiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE1MDI5NTE1NzE7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_08.jpg" />
        </a>  
         
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_09.jpg" />    
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10500" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10523" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_11.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12271" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_12.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10496" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11305" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11308" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11023" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_16.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12265" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_17.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12257" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12183" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_19.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11622" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_20.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11819" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_21.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12058" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_22.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10493" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_23.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11544" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_24.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:25%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11216" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_25.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>                
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/qixi/qixi_m_26.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















