<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>新人大红包,180元现金券</title>
    <style>
        .redbags_m_all { width:100%; overflow:hidden; margin:0 auto; background-color:#d2333e; }
        .redbags_m_all .act_pic{ width:100%; text-align:center;}
        .redbags_m_all .act_pic a{ display:block;}
        .redbags_m_all .act_pic li{ float:left;}

        .redbags_m_all .fenlei_all{ width:100%; height:auto; position:fixed; bottom:0;}
        .redbags_m_all .fenlei_all li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}

<!--start-->

<div class="redbags_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_01.jpg" />

<a href="javascript:getbonus(6)">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_02.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_04.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_05.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_06.jpg" />

<!--健康食品宴-->
<a name="1F"></a>
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_07.jpg" alt="健康食品宴" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10771" title="意大利金岛牌（L'ISOLA D'ORO）蛤蜊贝肉彩虹贝肉海鲜番茄意面酱270g瓶装">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_08.jpg" alt="意大利金岛牌（L'ISOLA D'ORO）蛤蜊贝肉彩虹贝肉海鲜番茄意面酱270g瓶装" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10799" title="意大利Papa Dolceamaro 糖衣杏仁黑巧克力豆100g">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_09.jpg" alt="意大利Papa Dolceamaro 糖衣杏仁黑巧克力豆100g" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10866" title="美国柯克兰（Kirkland Signature）盐焗综合坚果1130g">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_10.jpg" alt="美国柯克兰（Kirkland Signature）盐焗综合坚果1130g" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11116" title="日本日清零胆固醇色拉油1.5L">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_11.jpg" alt="日本日清零胆固醇色拉油1.5L" />
            </a>
        </li>
    </ul>
</div>

<!--品质个护区-->
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_12.jpg" alt="品质个护区" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11202" title="日本花王（KAO）蒸汽眼罩玫瑰香5片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_13.jpg" alt="日本花王（KAO）蒸汽眼罩玫瑰香5片" />
            </a>
        </li>
        <a name="2F"></a>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10698" title="德国Guhl全天然温泉小麦胚芽油保湿平衡修复洗发水 舒缓洁净软化角质保湿润泽 200ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_14.jpg" alt="德国Guhl全天然温泉小麦胚芽油保湿平衡修复洗发水 舒缓洁净软化角质保湿润泽 200ml" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10363" title="日本资生堂（SHISEIDO）洗颜专科柔澈泡沫洗面奶150ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_15.jpg" alt="日本资生堂（SHISEIDO）洗颜专科柔澈泡沫洗面奶150ml" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11213" title="日本参天（Santen）FX金装滴眼液12ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_16.jpg" alt="日本参天（Santen）FX金装滴眼液12ml" />
            </a>
        </li>
    </ul>
</div>

<!--面膜分会场-->
<a name="3F"></a>
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_17.jpg" alt="面膜分会场" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10682" title="德国雪本诗（Schaebens）Peeloff撕拉式果萃净肤面膜 提亮去黄去黑头增强弹性">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_18.jpg" alt="德国雪本诗（Schaebens）Peeloff撕拉式果萃净肤面膜 提亮去黄去黑头增强弹性" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11196" title="英国博姿（BOOTS）小黄瓜三分钟保湿面膜50ml(有香味)">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_19.jpg" alt="英国博姿（BOOTS）小黄瓜三分钟保湿面膜50ml(有香味)" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10223" title="台湾森田药妆保湿水漾透润面膜8片入">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_20.jpg" alt="台湾森田药妆保湿水漾透润面膜8片入" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10368" title="韩国悦诗风吟(innisfree)火山岩泥毛孔清洁多效面膜100ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_21.jpg" alt="韩国悦诗风吟(innisfree)火山岩泥毛孔清洁多效面膜100ml" />
            </a>
        </li>
    </ul>
</div>

<!--海外姨妈巾-->
<a name="4F"></a>
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_22.jpg" alt="海外姨妈巾" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10902" title="日本花王（KAO）乐而雅清爽瞬吸护翼卫生巾30cm夜用10片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_23.jpg" alt="日本花王（KAO）乐而雅清爽瞬吸护翼卫生巾30cm夜用10片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10701" title="德国Always夜用超薄超长护翼卫生巾 无荧光剂 6滴水 9片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_24.jpg" alt="德国Always夜用超薄超长护翼卫生巾 无荧光剂 6滴水 9片" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10897" title="日本尤妮佳（Unicharm）苏菲贴身超薄护翼卫生巾17.5cm日用30片">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_25.jpg" alt="日本尤妮佳（Unicharm）苏菲贴身超薄护翼卫生巾17.5cm日用30片" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10375" title="日本苏菲（Sofy）夜用卫生巾29CM 10片/2包">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_26.jpg" alt="日本苏菲（Sofy）夜用卫生巾29CM 10片/2包" />
            </a>
        </li>
    </ul>
</div>

<!--欢乐母婴购-->
<a name="5F"></a>
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_27.jpg" alt="欢乐母婴购" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10919" title="日本贝亲（Pigeon）企鹅吸管杯330ml黄色">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_28.jpg" alt="日本贝亲（Pigeon）企鹅吸管杯330ml黄色" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10809" title="德国哈罗闪(SANOSAN)婴儿爽身粉 不含滑石粉 200g">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_29.jpg" alt="德国哈罗闪(SANOSAN)婴儿爽身粉 不含滑石粉 200g" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11051" title="日本贝亲（Pigeon）婴儿洗衣液900ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_30.jpg" alt="日本贝亲（Pigeon）婴儿洗衣液900ml" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10854" title="美国Aveeno Baby宝宝二合一洗发沐浴露532ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_31.jpg" alt="美国Aveeno Baby宝宝二合一洗发沐浴露532ml" />
            </a>
        </li>
    </ul>
</div>

<!--家居家电城-->
<a name="6F"></a>
<h2>
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_32.jpg" alt="家居家电城" />
</h2>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10847" title="美国Ajax芦荟味洗洁精372ml">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_33.jpg" alt="美国Ajax芦荟味洗洁精372ml" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11140" title="泰国康馥莉（Comfleep）天然乳胶颗粒按摩蝴蝶枕">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_34.jpg" alt="泰国康馥莉（Comfleep）天然乳胶颗粒按摩蝴蝶枕" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10087" title="FOREO LUNA™ ALL SKIN 净透舒缓洁面仪 樱桃红电动洁面仪 洗脸刷">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_35.jpg" alt="FOREO LUNA™ ALL SKIN 净透舒缓洁面仪 樱桃红电动洁面仪 洗脸刷" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10085" title="KENWOOD/凯伍德 榨汁机 家用果汁机电动水果机 渣汁分离 JE950">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_36.jpg" alt="KENWOOD/凯伍德 榨汁机 家用果汁机电动水果机 渣汁分离 JE950" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_m_37.jpg" />

</div>


<div class="fenlei_all">
    <ul>
        <li style="width:16.66%">
            <a href="#1F" name="1F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_01.jpg" width="100%" />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#2F" name="2F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_02.jpg" width="100%" />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#3F" name="3F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_03.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#4F" name="4F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_04.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#5F" name="5F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_05.jpg" width="100%"  />
            </a>
        </li>
        <li style="width:16.66%">
            <a href="#6F" name="6F">
                <img src="http://www.wjike.com/images/upload/Image/activity/redbags/redbags_dl_06.jpg" width="100%"  />
            </a>
        </li>
    </ul>
</div>

</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















