<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,台湾森田药妆,欣兰,DMC,资生堂,乐敦,澳大利亚Lucas,小林制药,花王,台湾鹿窑菇事,英国博姿,美国凡士林,新西兰趣乐活,韩国爱茉莉,比那氏,曼丹,面膜,防晒乳,滴眼液,卫生巾,洗衣液,护发精油,漱口水-万集客商城wjike.com" />
    <meta name="Description" content="万集客,多款化妆品界的面膜专家,击败沉闷毛孔,变身水润光泽的瓷娃娃;深层清洁肌肤的脏污,解决老废角质堆积问题.还有多款护发精油,耐晒防晒乳,以及洗衣液和卫生巾,打造一种你自己的专属时尚格调-万集客商城wjike.com" />
    <title>时尚达人都种草的实力尖货,人气爆款必囤系列,从此自带主角光环-全场23元起_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>
    <style>
        .rednet_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .rednet_m_all .act_pic{ width:100%; text-align:center;}
        .rednet_m_all .act_pic a{ display:block;}
        .rednet_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="rednet_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_01.jpg"  alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_02.jpg"  alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_03.jpg"  alt="" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10209" title="台湾森田药妆三重玻尿酸复合原液面膜10片入">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_04.jpg"  alt="台湾森田药妆三重玻尿酸复合原液面膜10片入" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10243" title="台湾欣兰DMC 黑里透白冻膜 225g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_05.jpg"  alt="台湾欣兰DMC 黑里透白冻膜 225g" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11341" title="日本资生堂(SHISEIDO)安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_06.jpg"  alt="日本资生堂(SHISEIDO)安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11216" title="日本乐敦（Rohto）Lycee小红花滴眼液8ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_07.jpg"  alt="日本乐敦（Rohto）Lycee小红花滴眼液8ml" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10486" title="澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_08.jpg"  alt="澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11220" title="日本小林制药（Kobayashiseiyaku）洗眼液浅蓝色5度爽快刺激超清凉 500ml ">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_09.jpg"  alt="日本小林制药（Kobayashiseiyaku）洗眼液浅蓝色5度爽快刺激超清凉 500ml " />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11145" title="日本资生堂(SHISEIDO)Fino7种美容液高效渗透发膜230g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_10.jpg"  alt="日本资生堂(SHISEIDO)Fino7种美容液高效渗透发膜230g" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="日本花王（KAO）乐而雅F系列绵柔护翼卫生巾25cm日用18片">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_11.jpg"  alt="日本花王（KAO）乐而雅F系列绵柔护翼卫生巾25cm日用18片" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11122" title="日本花王（KAO）洁霸高活性酶深层去渍洗衣液900g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_12.jpg"  alt="日本花王（KAO）洁霸高活性酶深层去渍洗衣液900g" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10246" title="台湾鹿窑菇事原味香菇饼干70g">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_13.jpg"  alt="台湾鹿窑菇事原味香菇饼干70g" />
        </a>


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11196" title="英国博姿（BOOTS）小黄瓜三分钟保湿面膜50ml(有香味)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_14.jpg" alt="英国博姿（BOOTS）小黄瓜三分钟保湿面膜50ml(有香味)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11203" title="日本花王（KAO）蒸汽眼罩柚子香5片">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_15.jpg" alt="日本花王（KAO）蒸汽眼罩柚子香5片" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10226" title="台湾极美肌水白净豆纯棉黑面膜(5入/盒)">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_16.jpg" alt="台湾极美肌水白净豆纯棉黑面膜(5入/盒)" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10849" title="美国凡士林(Vaseline）可可油润肤乳295ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_17.jpg" alt="美国凡士林(Vaseline）可可油润肤乳295ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11118" title="日本花王（KAO）蒸汽肩贴无香14枚">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_18.jpg" alt="日本花王（KAO）蒸汽肩贴无香14枚" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11036" title="新西兰趣乐活（Trilogy)玫瑰果油20ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_19.jpg" alt="新西兰趣乐活（Trilogy)玫瑰果油20ml" />
                    </a>
                </li>
            </ul>
        </div>


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11420" title="韩国爱茉莉（ Amore）美妆仙护发精油 免洗保湿修复干枯毛躁 70ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_20.jpg" alt="韩国爱茉莉（ Amore）美妆仙护发精油 免洗保湿修复干枯毛躁 70ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11306" title="日本Reveur SCALP无硅洗发水绿色活化修复500ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_21.jpg" alt="日本Reveur SCALP无硅洗发水绿色活化修复500ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11417" title="韩国爱茉莉 吕（Amore RYOE）绿吕舒盈清润清爽控油洗发水400ml+180ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_22.jpg" alt="韩国爱茉莉 吕（Amore RYOE）绿吕舒盈清润清爽控油洗发水400ml+180ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10764" title="意大利ITERITALIA植物性香皂杏仁香型200g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_23.jpg" alt="意大利ITERITALIA植物性香皂杏仁香型200g" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11107" title="日本比那氏（Propolinse）漱口水（蜂胶味） 600ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_24.jpg" alt="日本比那氏（Propolinse）漱口水（蜂胶味） 600ml" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10297" title="日本曼丹（Mandom）BIFESTA卸妆水毛孔深层清洁混合型肌肤适用蓝色300ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_25.jpg" alt="日本曼丹（Mandom）BIFESTA卸妆水毛孔深层清洁混合型肌肤适用蓝色300ml" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/rednet/rednet_m_26.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















