<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,日本乐敦,盛田屋,膳魔师,花王,资生堂,台湾鹿窑菇事,雅乐思,菊正宗,尤妮佳,洗发露,洗发水,卫生巾,精华乳,洗面乳,滴眼液,洗衣液-万集客商城wjike.com" />
    <meta name="Description" content="开学装备大集合,整个暑假积攒的洪荒之力终于可以释放辣~滴眼液,面膜,洗衣液,洗面乳,卫生巾等进口生活用品应有尽有-万集客商城wjike.com" />
    <title>喜迎开学季-共庆教师节,整个暑假积攒的洪荒之力终于可以释放辣~</title>
    <style>
        .schoolopens_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .schoolopens_m_all .act_pic{ width:100%; text-align:center;}
        .schoolopens_m_all .act_pic a{ display:block;}
        .schoolopens_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="schoolopens_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_04.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11216" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_05.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11483" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_06.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11374" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_07.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11123" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_08.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10937" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_09.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11627" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_10.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_11.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10978" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_12.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11719" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_13.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10244" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_14.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11599" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_15.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11227" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_16.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11604" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_17.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_18.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11478" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_19.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11107" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_20.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10944" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_21.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10091" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_22.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11127" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_23.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11133" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_24.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_25.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10867" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_26.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10305" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_27.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11702" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_28.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11698" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_29.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11080" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_30.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10219" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_31.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_32.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11551" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_33.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11411" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_34.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11333" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_35.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10933" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_36.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10886" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_37.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11691" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_38.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopens/schoolopens_m_39.jpg"/>
</a>

</div>


</div>

<!--end-->
</body>
</html>






















