<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本狮王,澳大利亚茱莉蔻,英国美体小铺,澳大利亚苏芊,卸妆油,洗面乳,眼霜,爽肤水,护手霜,洗手液,漱口杯,牙刷,蓝牙音箱,牙膏-万集客商城wjike.com" />
<meta name="Description" content="开学住宿必备妙物推荐,离开爸妈在外住宿,我准备好了-万集客商城wjike.com" />
<title>开学住宿必备妙物推荐,离开爸妈在外住宿,我准备好了!_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.schoolopen_m_all { width:100%; overflow:hidden; margin:0 auto; }
.schoolopen_m_all .act_pic{ width:100%; text-align:center;}
.schoolopen_m_all .act_pic a{ display:block;} 
.schoolopen_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="schoolopen_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_04.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_05.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_06.jpg" />
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10197" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10196" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_08.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10195" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_09.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10198" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_10.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_11.jpg" />   
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_12.jpg" />    
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_13.jpg" />   
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11760" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11759" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_15.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11159" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>  
                 
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11763" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11761" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
                
         
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11789" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11588" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>    
        
         
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_21.jpg" />    
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_22.jpg" />  
         
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12181" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_23.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12183" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_24.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>    
        
        <a href="http://www.wjike.com/mobile/goods.php?id=12182" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_25.jpg" alt="" />
        </a>          
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_26.jpg" />  
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10498" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_27.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12279" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_28.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_29.jpg" />          
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_30.jpg" />  
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12065" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_31.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12064" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_32.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12066" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_33_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>          
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12050" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_34.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12077" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_35.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12075" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_36_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>         
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_37.jpg" />  
                
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11031" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_38.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11030" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_39.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11028" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_40.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>           
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11026" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_41.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11029" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_42.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
         
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_43.jpg" />  
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_44.jpg" />  
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11478" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_45.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12205" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_46.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11805" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_47.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10339" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_48.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12259" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_49.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12249" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_50.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>   
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11608" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_51_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11661" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_52.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>  
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_53.jpg" />   
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/schoolopen/schoolopen_m_54.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















