<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>开启肌肤,水润之旅-台湾第一药妆品牌</title>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .sentian_all { width:100%; overflow:hidden; margin:0 auto; }
        .sentian_all .act_pic{ width:100%; text-align:center;}
        .sentian_all .act_pic a{ display:block;}
        .sentian_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="sentian_all">
    <div class="act_pic">
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_03.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10242">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_04.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10239">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_05.jpg" /></a></li>
            </ul>
        </div>
        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10209">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_06.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10210">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_07.jpg" /></a></li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=10213">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_08.jpg" /></a>

        <div style="width:100%;">
            <ul>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10212">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_09.jpg" /></a></li>
                <li style="width:50%"><a href="http://www.wjike.com/mobile/goods.php?id=10215">
                    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_10.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/sentian/sentian_m_11.jpg" />
    </div>

</div>

<!--end-->

</body>
</html>