<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,膳魔师,象印,新西兰新溪岛,吸管杯,保冷瓶,蜂蜜-万集客商城wjike.com" />
<meta name="Description" content="中秋、国庆双节超值优惠专场-万集客商城wjike.com" />
<title>中秋、国庆双节超值优惠专场_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.shuangjie_m_all { width:100%; overflow:hidden; margin:0 auto; }
.shuangjie_m_all .act_pic{ width:100%; text-align:center;}
.shuangjie_m_all .act_pic a{ display:block;} 
.shuangjie_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="shuangjie_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_04.jpg" />
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10033" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_05.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=1455" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/guoqingshuangjie/guoqing_m_08_01.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=9804" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_07.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=9803" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_08.jpg" alt="" />
        </a>
        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_09.jpg" alt="" />
        
        
        
        
        
        
        
        
        
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11168" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_10.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11003" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11164" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_12.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10852" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11440" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9762" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_15.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11799" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11244" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11030" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11664" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10993" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_20.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10840" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_21.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
                           
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/shuangjie/shuangjie_m_22.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















