<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,雪本诗,资生堂,狮王,小林制药,花王,高丝,德国莱唯德,台湾极美肌,沐浴露,护手霜,LION,KAO,KOSE,lavera,牙膏,防晒喷雾,防晒乳,化妆水,面膜-万集客商城wjike.com" />
    <meta name="Description" content="万集客开启将美白进行到底的专场,为您准备了来自全球的美容水,面膜,防蛀牙膏,沐浴啫哩,沐浴露等,清新盛夏,任性白皙,全场8元起-万集客商城wjike.com" />
    <title>将美白进行到底,清新盛夏,任性白皙,全场8元起!_万集客 - 生活优选会员制商城 进口食品 美妆个护 日用居家 手机数码</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .skinwhitening_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .skinwhitening_m_all .act_pic{ width:100%; text-align:center;}
        .skinwhitening_m_all .act_pic a{ display:block;}
        .skinwhitening_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>

<!--start-->

<div class="skinwhitening_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10237">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_05.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10243">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_06.jpg" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10686" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_07_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10220" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_08_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_09.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11410">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_10.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11063">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_11.jpg" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10290" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_12_1.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10312" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_13_1.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_14.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11342">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_15.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11341">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_16.jpg" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11379" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11378" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_18.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_19.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11159">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_20.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10927">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_21.jpg" />
        </a>


        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10944" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_22.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10949" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_23.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_24.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=10333">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_25.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=11086">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_26.jpg" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10677" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_27.jpg" alt="" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10827" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_28.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_29.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/skinwhitening/skinwhitening_m_30.jpg" />
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















