<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,韩国伊思,悦诗风吟,思亲肤,日本肌研,澳大利亚茱莉蔻,台湾森田药妆,爽肤水,面膜,化妆水,防晒霜,玫瑰果油-万集客商城wjike.com" />
    <meta name="Description" content="孙晓美说:好的开始是成功的一半;选对护肤品你就马上美出一倍-万集客商城wjike.com" />
    <title>用对护肤品,必定美炸天</title>

    <style>
        h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
        .activity_all { width:100%; overflow:hidden; margin:0 auto; }
        .activity_all .act_pic{ width:100%; text-align:center;}
        .activity_all .act_pic a{ margin-bottom:10px; display:block;}
        .activity_all .act_pic .j_img_top{ max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
        .activity_all .act_tit .j_img{ max-height: 25px;max-width: 640px;min-height: 15px;min-width: 320px;}

        .activity_all .act_tit{ width:100%; text-align:center;}
        .activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
        .activity_all .act_tit img{ padding:15px 0 10px 0;}

        .activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

        .activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

        .activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
        .activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
        .activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
        .activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
        .activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
        .activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
        .activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

<!--start-->

<span class="act_pic"><img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/skincare/skincare_02_1.jpg" /></span>
<div class="activity_all">
<div class="act_pic"></div>


<div class="act_list">
<ul>
<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10360">
            <img src="http://www.wjike.com/images/201602/goods_img/10360_P_1456436711424.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10360">韩国伊思(It's skin)晶钻美肤蜗牛修复洗面奶150ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥106</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10360" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11410">
            <img src="http://www.wjike.com/images/201606/goods_img/11410_P_1466639430117.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11410">韩国伊思(Its Skin)晶钻美肤蜗牛再生乳液 2号滋润型 140ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥129</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11410" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11409">
            <img src="http://www.wjike.com/images/201606/goods_img/11409_P_1466639152497.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11409">韩国伊思(Its Skin)晶钻美肤蜗牛保湿爽肤水 2号滋润型 140ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥129</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11409" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405">
            <img src="http://www.wjike.com/images/201607/goods_img/11405_P_1468962860815.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405">韩国伊思(Its Skin)晶钻蜗牛原液面膜5片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥97</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11405" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406">
            <img src="http://www.wjike.com/images/201607/goods_img/11406_P_1468962652718.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406">韩国伊思(Its Skin)红参蜗牛精华面膜5片</a>
    </div>
    <div class="al_pri">
        会员价<span>￥113</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11406" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210">
            <img src="http://www.wjike.com/images/201601/goods_img/10210_P_1452461581386.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210">台湾森田药妆蜗牛赋活水润面膜10片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥76</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10210" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11835">
            <img src="http://www.wjike.com/images/201609/goods_img/11835_P_1473123641415.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11835">韩国自然晨露（Dewytree）竹炭蜗牛面膜美白保湿再生30g 10片/盒</a>
    </div>
    <div class="al_pri">
        会员价<span>￥96</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11835" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10208">
            <img src="http://www.wjike.com/images/201603/goods_img/10208_P_1457029459520.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10208">台湾森田药妆蜗牛弹润修护原液面膜10片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥76</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10208" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10222">
            <img src="http://www.wjike.com/images/201601/goods_img/10222_P_1452463562194.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10222">台湾森田药妆高纯度玻尿酸面膜8片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥59</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10222" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11710">
            <img src="http://www.wjike.com/images/201608/goods_img/11710_P_1472085247144.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11710">韩国AHC B5玻尿酸保湿精华原液 深层补水延展性好缓解干燥30ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥181</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11710" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11713">
            <img src="http://www.wjike.com/images/201608/goods_img/11713_P_1472085382345.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11713">韩国AHC B5玻尿酸洗面奶保湿深层清洁180ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥145</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11713" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10867">
            <img src="http://www.wjike.com/images/201604/goods_img/10867_P_1461283067407.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10867">日本肌研（HADA LABO）极润α玻尿酸紧致弹力3D超保湿化妆水滋润型170m...</a>
    </div>
    <div class="al_pri">
        会员价<span>￥74</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10867" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=10209">
            <img src="http://www.wjike.com/images/201603/goods_img/10209_P_1457028646667.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=10209">台湾森田药妆三重玻尿酸复合原液面膜10片入</a>
    </div>
    <div class="al_pri">
        会员价<span>￥76</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=10209" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11682">
            <img src="http://www.wjike.com/images/201608/goods_img/11682_P_1471976623906.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11682">日本佑天兰(Utena)黄金果冻面膜深层补水保湿3片装红色双重玻尿酸款</a>
    </div>
    <div class="al_pri">
        会员价<span>￥71</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11682" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11683">
            <img src="http://www.wjike.com/images/201608/goods_img/11683_P_1471976681890.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11683">日本佑天兰(Utena)黄金果冻面膜保湿润泽恢复肌肤饱满柔滑3片装金色蜂王浆和玻...</a>
    </div>
    <div class="al_pri">
        会员价<span>￥57</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11683" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11714">
            <img src="http://www.wjike.com/images/201608/goods_img/11714_P_1472085447106.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11714">韩国AHC B5玻尿酸精华润色隔离防晒霜50ml SPF50+/PA+++</a>
    </div>
    <div class="al_pri">
        会员价<span>￥145</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11714" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11833">
            <img src="http://www.wjike.com/images/201609/goods_img/11833_P_1473121140435.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11833">韩国思亲肤(SKIN FOOD)莴苣黄瓜沁颜化妆水180ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥91</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11833" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832">
            <img src="http://www.wjike.com/images/201609/goods_img/11832_P_1473121001663.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832">韩国思亲肤(SKIN FOOD)莴苣黄瓜沁颜乳液140ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥91</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11832" class="buying">立即购买</a>
    </div>
</li>


<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11820">
            <img src="http://www.wjike.com/images/201609/goods_img/11820_P_1473113446987.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11820">韩国悦诗风吟(innisfree)绿茶矿物质喷雾150ML</a>
    </div>
    <div class="al_pri">
        会员价<span>￥84</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11820" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11093">
            <img src="http://www.wjike.com/images/201605/goods_img/11093_P_1462748997657.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11093">日本naturie imju薏仁美白保湿防晒爽肤水500ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥57</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11093" class="buying">立即购买</a>
    </div>
</li>



<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11720">
            <img src="http://www.wjike.com/images/201608/goods_img/11720_P_1472154902264.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11720">澳大利亚娜迪奥(NATIO)香薰甘菊玫瑰爽肤水 补水保湿平衡油脂250ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥91</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11720" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11858">
            <img src="http://www.wjike.com/images/201609/goods_img/11858_P_1473209906253.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11858">日本盛田屋(moritaya)杜鹃花酵母药用豆乳洁面皂 纯天然无添加 50g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥122</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11858" class="buying">立即购买</a>
    </div>
</li>



<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11595">
            <img src="http://www.wjike.com/images/201608/goods_img/11595_P_1471288372132.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11595">澳大利亚茱莉蔻（Jurlique）玫瑰水喷雾100ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥264</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11595" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11824">
            <img src="http://www.wjike.com/images/201609/goods_img/11824_P_1473113767787.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11824">韩国悦诗风吟(innisfree)真萃鲜润面膜舒缓补水20ml香榧</a>
    </div>
    <div class="al_pri">
        会员价<span>￥13</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11824" class="buying">立即购买</a>
    </div>
</li>



<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11823">
            <img src="http://www.wjike.com/images/201609/goods_img/11823_P_1473113658118.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11823">韩国悦诗风吟(innisfree)真萃鲜润面膜舒缓补水20ml乳木果</a>
    </div>
    <div class="al_pri">
        会员价<span>￥133</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11823" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11822">
            <img src="http://www.wjike.com/images/201609/goods_img/11822_P_1473113562405.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11822">韩国悦诗风吟(innisfree)真萃鲜润面膜舒缓补水20ml芦荟</a>
    </div>
    <div class="al_pri">
        会员价<span>￥13</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11822" class="buying">立即购买</a>
    </div>
</li>



<li class="act_list_one">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11036">
            <img src="http://www.wjike.com/images/201605/goods_img/11036_P_1462323255424.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11036">新西兰趣乐活（Trilogy)玫瑰果油20ml</a>
    </div>
    <div class="al_pri">
        会员价<span>￥119</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11036" class="buying">立即购买</a>
    </div>
</li>

<li class="act_list_two">
    <div class="al_pic">
        <a href="http://www.wjike.com/mobile/goods.php?id=11592">
            <img src="http://www.wjike.com/images/201608/goods_img/11592_P_1471285857557.jpg" />
        </a>
    </div>
    <div class="al_txt">
        <a href="http://www.wjike.com/mobile/goods.php?id=11592">澳大利亚星期四农庄(Thursday Plantation) 芦荟凝胶30g</a>
    </div>
    <div class="al_pri">
        会员价<span>￥36</span>
    </div>
    <div class="al_btn">
        <a href="http://www.wjike.com/mobile/goods.php?id=11592" class="buying">立即购买</a>
    </div>
</li>


</ul>
</div>



</div>
<!--end-->
</body>
</html>






















