<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>春季不减肥,全年无休徒伤悲</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />

    <style>
        .slimming_all { width:100%; overflow:hidden; margin:0 auto; background-color:#000; }
        .slimming_all .act_pic{ width:100%; text-align:center;}
        .slimming_all .act_pic a{ display:block;}
        .slimming_all .act_pic li{ float:left;}
    </style>
</head>
<body>

<!--start-->

<div class="slimming_all">
    <div class="act_pic">
        <img style="width:100%" src="../images/slimming_m_01.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:33%"><a href="http://www.wjike.com/mobile/goods.php?id=10586"><img style="width:100%" src="../images/slimming_m_02.jpg" /></a></li>
                <li style="width:33%"><a href="http://www.wjike.com/mobile/goods.php?id=10589"><img style="width:100%" src="../images/slimming_m_03.jpg" /></a></li>
                <li style="width:33%"><a href="http://www.wjike.com/mobile/goods.php?id=10590"><img style="width:100%" src="../images/slimming_m_04.jpg" /></a></li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6Ium6pueJhyI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTkxMzA0ODE7fQ=="><img style="width:100%" src="../images/slimming_m_05.jpg" /></a>
        <img style="width:100%" src="../images/slimming_m_06.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%"><a href="http://www.wjike.com/mobile/goods.php?id=10490"><img style="width:100%" src="../images/slimming_m_07.jpg" /></a></li>
                <li style="width:33.33%"><a href="http://www.wjike.com/mobile/goods.php?id=10509"><img style="width:100%" src="../images/slimming_m_08.jpg" /></a></li>
                <li style="width:33.33%"><a href="http://www.wjike.com/mobile/goods.php?id=10515"><img style="width:100%" src="../images/slimming_m_09.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/slimming_m_10.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjEyOiLku6PppJDlpbbmmJQiO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNDU5MTMwNzMxO30=">
                        <img style="width:100%" src="../images/slimming_m_11.jpg" /></a></li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjEyOiLnmKbouqvku6PppJAiO3M6MTg6InNlYXJjaF9lbmNvZGVfdGltZSI7aToxNDU5MTMxMTExO30=">
                        <img style="width:100%" src="../images/slimming_m_12.jpg" /></a></li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuiDvemHj%2bajkiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTkxMzEyNzI7fQ==">
                        <img style="width:100%" src="../images/slimming_m_13.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/slimming_m_14.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuaenOmFsSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTkxMzE5MjU7fQ==">
                        <img style="width:100%" src="../images/slimming_m_15.jpg" /></a></li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuaenOazpSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTk0MTE2MjY7fQ==">
                        <img style="width:100%" src="../images/slimming_m_16.jpg" /></a></li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6IuiFsOaenCI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NTkxMzI2Mjk7fQ==">
                        <img style="width:100%" src="../images/slimming_m_17.jpg" /></a></li>
            </ul>
        </div>

        <img style="width:100%" src="../images/slimming_m_18.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vssip_info">
            <img style="width:100%" src="../images/slimming_m_19.jpg" />
        </a>

        <img style="width:100%" src="../images/slimming_m_20.jpg" />

    </div>

</div>

<!--end-->
</body>
</html>






















