<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,日本蝶翠诗,日本资生堂,日本盛田屋,日本牛乳石碱,蜂蜜滋养皂,洁面皂,羊奶皂,洁面香皂-万集客商城wjike.com" />
<meta name="Description" content="泡沫细密有强力,深入毛孔卷走细小污垢,享受泡泡浴般的洁面感;洗后留下淡淡的蜂蜜清香,肌肤不紧绷;每一块都是手工精心切块,打磨制造." />
<title>五款有型有款香皂大推荐,保证让你皂美不误</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.soap_m_all { width:100%; overflow:hidden; margin:0 auto; }
.soap_m_all .act_pic{ width:100%; text-align:center;}
.soap_m_all .act_pic a{ display:block;} 
.soap_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="soap_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_02.jpg" />
        
        
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11607" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_03.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10365" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_04.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11862" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_05.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10493" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_06.jpg" alt="" />
        </a>
        
        <a href="http://www.wjike.com/mobile/goods.php?id=11864" title="">
        	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_07.jpg" alt="" />
        </a>
        
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_08.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12179" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_09.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10674" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_10.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10356" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_11.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_12.jpg" alt="" />
        
        
        <div style="width:100%; float:left;">
        	<ul>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11008" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_13.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10497" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_14.jpg" alt="" />
                    </a>
                </li>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11006" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_15.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div> 
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/soap/soap_m_16.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















