<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,德国阿佩辛,Always,韩国兰芝,象印,膳魔师,日本菊正宗,诗留美屋,洗发水,不锈钢保冷瓶,便携空气净化器,面膜,卫生巾-万集客商城wjike.com" />
    <meta name="Description" content="因海关系统更新延迟发货终于结束啦！为庆贺恢复发货，万集客商城优惠活动开始啦！ 优惠活动：1 活动期间每天有三款热卖产品优惠价销售。 2 指定商品买就包邮，还送满百减X券一张，有效期至2016年11月2日。 3 众多商品折扣销售。" />
    <title>发货速度满血复活,优惠下单趁现在</title>
    <style>
        .speed_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .speed_m_all .act_pic{ width:100%; text-align:center;}
        .speed_m_all .act_pic a{ display:block;}
        .speed_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="speed_m_all">

<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_03.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10695" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_04.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10486" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_05.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11415" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_06.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11696" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_07.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11707" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_08.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11598" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_09.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_10.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9803" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_11.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9805" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_12.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9804" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_13.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9807" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_14.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9806" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_15.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10157" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_16.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10158" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_17.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10159" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_18.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9849" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_19.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9848" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_20.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_21.jpg">



<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11770" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_22.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10671" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_23.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10702" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_24.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10689" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_25.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10684" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_26.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10679" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_27.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10678" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_28.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10677" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_29.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10667" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_30.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10661" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_31.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11480" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_32.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10286" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_33.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11940" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_34.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11818" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_35.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11719" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_36.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11816" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_37.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11805" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_38.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11743" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_39.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11215" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_40.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10827" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_41.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/speed/speed_m_42.jpg">
</a>

</div>

</div>

<!--end-->

</body>
</html>






















