<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,美国柯克兰,美国乐家,韩国兰芝,韩国彩虹,面膜,眼霜,婴儿拉拉裤,腰果,杏仁糖,咖啡糖,唇膏,口红-万集客商城wjike.com" />
    <meta name="Description" content="聪明备年货，钱包不瘦身,你备年货我包邮！全场满289包邮！订单满488元立减50元-万集客商城wjike.com" />
    <title>春节年货节,备点洋货过春节,订单满488元立减50元</title>

    <style>
        .springfestival_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .springfestival_m_all .act_pic{ width:100%; text-align:center;}
        .springfestival_m_all .act_pic a{ display:block;}
        .springfestival_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="springfestival_m_all">
<div class="act_pic">
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_04.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_05.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_06.jpg" />

<a href="http://www.wjike.com/mobile/goods.php?id=10864" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_07.jpg" alt="" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10866" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_08.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10865" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_09.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10863" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_10.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_11.jpg" alt="" />

<a href="http://www.wjike.com/mobile/goods.php?id=10831" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_12.jpg" alt="" />
</a>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10839" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_13.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10838" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_14.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10837" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_15.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_16.jpg" alt="" />

<a href="http://www.wjike.com/mobile/goods.php?id=11693" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_17.jpg" alt="" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11695" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_18_1.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11014" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_19.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11015" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_20.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_21.jpg" alt="" />

<a href="http://www.wjike.com/mobile/goods.php?id=11406" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_22.jpg" alt="" />
</a>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11842" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_23.jpg" alt="" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11844" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_24.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/goods.php?id=10197" title="">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_25.jpg" alt="" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_26.jpg" alt="" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10982" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_27.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11958" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_28.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10993" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_29.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10433" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_30.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=12097" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_31.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=12051" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_32.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11450" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_33.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11598" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_34.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11687" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_35.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11839" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_36.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10350" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_37.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11415" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_38.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11574" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_39_1.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11264" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_40.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11252" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_41.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>



<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10779" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_42.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10808" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_43.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11268" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_44.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11809" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_45.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10676" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_46.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11997" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_47.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=9806" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_48.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10159" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_49.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11737" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_50.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11939" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_51.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11656" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_52.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11362" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_53.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>


<div style="width:100%; float:left;">
    <ul>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile/goods.php?id=11367" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_54.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_55.jpg" alt="" />
            </a>
        </li>
        <li style="width:33.33%">
            <a href="http://www.wjike.com/mobile" title="">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_56.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/springfestival/springfestival_m_57.jpg">
</a>

</div>

</div>

<!--end-->
</body>
</html>






















