<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,维蕾德,苏芊,菲奈诗,妙思乐,麦肯齐,日清,资生堂,乐敦,爱茉莉,森田药妆,高丝,贝亲,我的美丽日记,康馥莉,面膜,蜂蜜,乳胶枕,洁面乳,爽肤水,滋润霜,洗发露,滴眼液,沐浴露-万集客商城wjike.com" />
    <meta name="Description" content="万集客商城搭起鹊桥,七夕聚会,全场满减,先领券再购物,日韩商品/欧美商品秒杀专场,你送礼物我买单,搭起爱的鹊桥,全场77折,7.7元秒杀,数量有限，秒完为止-万集客商城wjike.com" />
    <title>搭起鹊桥,七夕聚会,先领券,再购物,全场77折,7.7元秒杀_万集客 - 生活优选会员制商城 进口食品 美妆个护 日用居家 手机数码</title>

    <link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .starfestival_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .starfestival_m_all .act_pic{ width:100%; text-align:center;}
        .starfestival_m_all .act_pic a{ display:block;}
        .starfestival_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}
<!--start-->

<div class="starfestival_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_04.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_05.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="javascript:getbonus(8)" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="javascript:getbonus(9)" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_07.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="javascript:getbonus(10)" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_08.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_09.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11438" title="台湾我的美丽日记玻尿酸保湿白金面膜 4片装">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_10.jpg" alt="台湾我的美丽日记玻尿酸保湿白金面膜 4片装" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10965" title="意大利SOTTOBOSCO PAOLI 百花蜂蜜260克">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_11.jpg" alt="意大利SOTTOBOSCO PAOLI 百花蜂蜜260克" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10734" title="德国THERMACARE镇痛带 3片">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_12.jpg" alt="德国THERMACARE镇痛带 3片" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11341" title="日本资生堂(SHISEIDO)安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_13.jpg" alt="日本资生堂(SHISEIDO)安耐晒防晒乳 防水防汗金瓶60ml SPF50+/PA++++" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11139" title="泰国康馥莉（Comfleep）天然乳胶高低护颈枕">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_14.jpg" alt="泰国康馥莉（Comfleep）天然乳胶高低护颈枕" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11382" title="日本Kissyou负离子牙刷（细毛）">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_15.jpg" alt="日本Kissyou负离子牙刷（细毛）" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_16.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10670" title="德国维蕾德(weleda)金盏花婴儿护臀膏 预防湿疹缓解红肿痒痛 75ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_17.jpg" alt="德国维蕾德(weleda)金盏花婴儿护臀膏 预防湿疹缓解红肿痒痛 75ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11031" title="澳大利亚苏芊（Sukin）有机泡沫洁面乳125ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_18.jpg" alt="澳大利亚苏芊（Sukin）有机泡沫洁面乳125ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11116" title="日本日清零胆固醇色拉油1.5L">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_19.jpg" alt="日本日清零胆固醇色拉油1.5L" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11129" title="日本贝亲（Pigeon）奶瓶果蔬清洗剂800ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_20.jpg" alt="日本贝亲（Pigeon）奶瓶果蔬清洗剂800ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11214" title="日本乐敦（Rohto）夜间修复养润水滴眼液13ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_21.jpg" alt="日本乐敦（Rohto）夜间修复养润水滴眼液13ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11420" title="韩国爱茉莉（ Amore）美妆仙护发精油 免洗保湿修复干枯毛躁 70ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_22.jpg" alt="韩国爱茉莉（ Amore）美妆仙护发精油 免洗保湿修复干枯毛躁 70ml" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=10239" title="台湾森田药妆综合维他命极保湿面膜8片入">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_23.jpg" alt="台湾森田药妆综合维他命极保湿面膜8片入" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_24.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11089" title="日本高丝（Kose）Savon de bouquet植物无硅保湿沐浴露粉色500ml幸福感花香">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_25.jpg" alt="日本高丝（Kose）Savon de bouquet植物无硅保湿沐浴露粉色500ml幸福感花香" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10790" title="法国妙思乐（Mustela）婴儿贝贝洗发露无泪配方200ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_26.jpg" alt="法国妙思乐（Mustela）婴儿贝贝洗发露无泪配方200ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11027" title="澳大利亚苏芊（Sukin）天然保湿喷雾爽肤水125ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_27.jpg" alt="澳大利亚苏芊（Sukin）天然保湿喷雾爽肤水125ml" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10832" title="美国凡士林(Vaseline）滋润霜368g">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_28.jpg" alt="美国凡士林(Vaseline）滋润霜368g" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10840" title="美国菲奈诗(Finesse)滋润洗发水207ml">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_29.jpg" alt="美国菲奈诗(Finesse)滋润洗发水207ml" />
                    </a>
                </li>
                <li style="width:33.33%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11270" title="美国麦肯齐(munchkin)吸盘碗不含BPA3件套">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_30.jpg" alt="美国麦肯齐(munchkin)吸盘碗不含BPA3件套" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/goods.php?id=10363" title="日本资生堂（SHISEIDO）洗颜专科柔澈泡沫洗面奶150ml">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_31.jpg" alt="日本资生堂（SHISEIDO）洗颜专科柔澈泡沫洗面奶150ml" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_32.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_33_1.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_34.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_35.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_36.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/starfestival/starfestival_m_37.jpg" alt="" />
        </a>

    </div>


</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















