<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="万集客,山本汉方,资生堂,参天,泰国康馥莉,乳胶按摩枕,棒棒冰,Mellin美林,牙刷,德国贝娜婷,日本虎牌,保温杯,膳魔师,蓝牙音箱,高丝KOSE,宝丽POLA,KENWOOD凯伍德,榨汁机-万集客商城" />
    <meta name="Description" content="万集客商城暑期活动,放暑假啦！考卷再见！阳光、海滩，我们来啦！舌尖上的暑假，旅行中的暑假，这是一个把自己变美的假期，让自己变美有更多选择！" />
    <title>放暑假啦！ 考卷再见！阳光、海滩，我们来啦-万集客商城_万集客 - 生活优选会员制商城 进口食品 美妆个护 日用居家 手机数码</title>
    <style>
        .summervacation_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .summervacation_m_all .act_pic{ width:100%; text-align:center;}
        .summervacation_m_all .act_pic a{ display:block;}
        .summervacation_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="summervacation_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_04.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11348" title="本山本汉方100%大麦若叶青汁粉 3g*44包 万集客会员价￥107.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_05.jpg" alt="本山本汉方100%大麦若叶青汁粉 3g*44包 万集客会员价￥107.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11206" title="日本资生堂（SHISEIDO）uno磨砂冰爽薄荷香洁面乳130g万集客会员价￥24.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_06.jpg" alt="日本资生堂（SHISEIDO）uno磨砂冰爽薄荷香洁面乳130g万集客会员价￥24.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11345" title="日本参天（Santen）FX银装滴眼液12ml万集客会员价￥41.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_07.jpg" alt="日本参天（Santen）FX银装滴眼液12ml万集客会员价￥41.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11138" title="泰国康馥莉（Comfleep）天然乳胶颗粒高低按摩枕万集客会员价￥398.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_08.jpg" alt="泰国康馥莉（Comfleep）天然乳胶颗粒高低按摩枕万集客会员价￥398.00" />
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjM6IuaelSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjY0OTY1NDY7fQ==">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_09.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_10.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11222" title="意大利FRUTTARELLI热带水果果汁棒棒冰10支装 万集客会员价￥18.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_11.jpg" alt="意大利FRUTTARELLI热带水果果汁棒棒冰10支装 万集客会员价￥18.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=3828" title="Zoku Slush and Shake Maker 奶昔/冰沙果昔杯 万集客会员价 ￥85.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_12.jpg" alt="Zoku Slush and Shake Maker 奶昔/冰沙果昔杯 万集客会员价 ￥85.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10804" title="意大利Aretina汽泡饮用水0.5L瓶装 万集客会员价￥4.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_13.jpg" alt="意大利Aretina汽泡饮用水0.5L瓶装 万集客会员价￥4.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10782" title="意大利美林(Mellin)婴儿洋甘菊菊花晶老少皆宜200g罐装万集客会员价￥41.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_14.jpg" alt="意大利美林(Mellin)婴儿洋甘菊菊花晶老少皆宜200g罐装万集客会员价￥41.00" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_15.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11378" title="日本资生堂（SHISEIDO）安耐晒防晒喷雾 防水防汗金瓶60ml SPF50+/PA++++万集客会员价">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_16.jpg" alt="日本资生堂（SHISEIDO）安耐晒防晒喷雾 防水防汗金瓶60ml SPF50+/PA++++万集客会员价" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10370" title="日本资生堂（SHISEIDO）保湿旅行4件套 蓝色万集客会员价￥98.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_17.jpg" alt="日本资生堂（SHISEIDO）保湿旅行4件套 蓝色万集客会员价￥98.00" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11382" title="日本Kissyou负离子牙刷（细毛）万集客会员价￥29.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_18.jpg" alt="日本Kissyou负离子牙刷（细毛）万集客会员价￥29.00" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486" title="澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g万集客会员价￥29.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_19.jpg" alt="澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g万集客会员价￥29.00" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10673" title="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml  万集客会员价￥22.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_20.jpg" alt="德国贝娜婷（Penaten）婴儿爽身粉 干爽舒适温和无刺激 100ml  万集客会员价￥22.00" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11367" title="日本虎牌(TIGER)儿童保温杯杯盖+吸管两用 小狮子 600ML万集客会员价￥489.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_21.jpg" alt="日本虎牌(TIGER)儿童保温杯杯盖+吸管两用 小狮子 600ML万集客会员价￥489.00" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11370" title="日本膳魔师(THERMOS)不锈钢保温杯STAR WARS星球大战限定版白色人物图案JNL502SW-SWH 500ML 万集客会员价￥259.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_22.jpg" alt="日本膳魔师(THERMOS)不锈钢保温杯STAR WARS星球大战限定版白色人物图案JNL502SW-SWH 500ML 万集客会员价￥259.00" />
                    </a>
                </li>
                <li style="width:50%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10198" title="MIFa F10户外无线蓝牙音箱 迷你运动便携音响 防水防尘 金刚灰 万集客会员价￥179.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_23.jpg" alt="MIFa F10户外无线蓝牙音箱 迷你运动便携音响 防水防尘 金刚灰 万集客会员价￥179.00" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_24.jpg" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10333" title="日本高丝（KOSE）Q10护手霜日用美白+夜用集中修护套装80g2支装万集客会员价￥87.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_25.jpg" alt="日本高丝（KOSE）Q10护手霜日用美白+夜用集中修护套装80g2支装万集客会员价￥87.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11076" title="日本高丝（Kose）clear turn薏仁美白面膜30片装">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_26.jpg" alt="日本高丝（Kose）clear turn薏仁美白面膜30片装" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11381" title="日本宝丽（POLA）美白丸 美白皮肤 祛黑色素 180粒（3个月服用量）万集客会员价￥1060.00">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_27.jpg" alt="日本宝丽（POLA）美白丸 美白皮肤 祛黑色素 180粒（3个月服用量）万集客会员价￥1060.00" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10083" title="KENWOOD/凯伍德 离心甩汁机榨汁机家用果汁机 FPP226">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_28.jpg" alt="KENWOOD/凯伍德 离心甩汁机榨汁机家用果汁机 FPP226" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_29.jpg" />

        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjY6Iue%2bjueZvSI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjY0OTY4MjA7fQ==">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_30.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/summervacation/summervacation_m_31.jpg" />
        </a>

    </div>


</div>

<!--end-->
</body>
</html>






















