<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>海外姨妈巾驾到! 全场26元起</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
    <style>
        .tampon_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .tampon_m_all .act_pic{ width:100%; text-align:center;}
        .tampon_m_all .act_pic a{ display:block;}
        .tampon_m_all .act_pic li{ float:left;}
    </style>
</head>
<body>
<!--start-->

<div class="tampon_m_all">
<div class="act_pic">

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_01.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_02.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_03.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_04.jpg" />
<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_05.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10377">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_06.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10702">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_07.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10905">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_08.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10926">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_09.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10895">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_10.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10897">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_11.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10900">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_12.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10915">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_13.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_14.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10376">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_15.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10379">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_16.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10375">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_17.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10701">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_18.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10902">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_19.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10925">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_20.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10868">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_21.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10890">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_22.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_23.jpg" />

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10901">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_24.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10885">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_25.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10882">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_26.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10888">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_27.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10886">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_28.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10880">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_29.jpg" />
            </a>
        </li>
    </ul>
</div>

<div style="width:100%; float:left;">
    <ul>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10878">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_30.jpg" />
            </a>
        </li>
        <li style="width:50%">
            <a href="http://www.wjike.com/mobile/goods.php?id=10876">
                <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_31.jpg" />
            </a>
        </li>
    </ul>
</div>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_32.jpg" />

<a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuWnqOWmiOW3viI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0NjI1MDQ2MjY7fQ==">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_33.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_34.jpg" />

<a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
    <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_35.jpg" />
</a>

<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/tampon/tampon_m_36.jpg" />

</div>

</div>

<!--end-->
</body>
</html>






















