<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,台湾鹿窑菇事,森田药妆,意大利RAVAZZ,德国阿佩辛,日本花王,和光堂,新西兰新溪岛,婴儿爽身粉,德国喜宝,宝宝退热贴,洗衣液,蜂蜜,洗发水,面膜,卫生巾,纸尿裤,儿童牙刷-万集客商城wjike.com" />
<meta name="Description" content="感恩的心,感谢有你,万集客商城感恩老会员,2016年11月24日10:00-2016年 11月25日14:00 全场满200元立减45元!活动期间不得使用优惠券!-万集客商城wjike.com" />
<title>感恩的心,感谢有你,万集客商城感恩老会员</title>


    <link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
h2{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
.activity_all { width:100%; overflow:hidden; margin:0 auto; }
.activity_all .act_pic{ width:100%; text-align:center;}
.activity_all .act_pic a{ margin-bottom:10px; display:block;} 
.activity_all .act_pic .j_img_top{ max-height: 240px;max-width: 640px;min-height: 132px;min-width: 320px; margin-bottom:10px;}
.activity_all .act_tit .j_img{ max-height: 25px;max-width: 640px;min-height: 15px;min-width: 320px;}

.activity_all .act_tit{ width:100%; text-align:center;}
.activity_all .act_tit h2{ font-size:18px; padding:10px 0; font-weight:normal;}
.activity_all .act_tit img{ padding:15px 0 10px 0;}

.activity_all .act_list{ width:100%; overflow:hidden; margin:0 auto; }

.activity_all .act_list .act_list_one{ width:48%; overflow:hidden; margin:0 auto; float:left; text-align:center; padding-left:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_one .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_one .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_one .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_one .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_one .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_one .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

.activity_all .act_list .act_list_two{ width:48%; overflow:hidden; margin:0 auto; float:right; text-align:center;  padding-right:5px; margin-bottom:5px;}
.activity_all .act_list .act_list_two .al_pic{ width:100%; text-align:center; background-color:#fff; padding:20px 0;}
.activity_all .act_list .act_list_two .al_pic img{ max-height:180px; max-width: 180px; min-height: 156px;min-width: 156px;}
.activity_all .act_list .act_list_two .al_txt{ height:30px; text-align:left; background-color:#fff; border-top:2px solid #f0f0f0; padding:10px 10px 5px 10px; overflow:hidden;}
.activity_all .act_list .act_list_two .al_pri{ width:100%; text-align:left; background-color:#fff; padding:0px 0 5px 10px; color:#d22147;}
.activity_all .act_list .act_list_two .al_pri span{ font-weight:bold; padding-left:10px;}
.activity_all .act_list .act_list_two .buying{ width:100%; height:36px; line-height:36px; background-color: #37af93; color:#fff; display:block;}

</style>
</head>
<body>

<!--start--> 
 
<div class="activity_all">
	<div class="act_pic">
    	<img style="width:100%;" src="http://www.wjike.com/images/upload/Image/activity/thanksgiving/thanksgiving_02_2.jpg" />
    </div>
        
        
    <div class="act_list">
    	<ul>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10247">
                        <img src="http://www.wjike.com/images/201605/goods_img/10247_P_1462325577468.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10247">台湾鹿窑菇事芥茉香菇饼干70g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥36</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10247" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10757">
                        <img src="http://www.wjike.com/images/201604/goods_img/10757_P_1459448016648.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10757">意大利Granaria意大利面细条直面500g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥11</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10757" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10752">
                        <img src="http://www.wjike.com/images/201604/goods_img/10752_P_1459447600113.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10752">意大利FATTORIE UMBRE原味番茄意面酱280g瓶装</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥15</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10752" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10755">
                        <img src="http://www.wjike.com/images/201604/goods_img/10755_P_1459447877110.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10755">意大利Granaria意大利面小熊面500g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥14</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10755" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10976">
                        <img src="http://www.wjike.com/images/201604/goods_img/10976_P_1461624486401.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10976">意大利RAVAZZI 可乐味软糖100克</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥9</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10976" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11116">
                        <img src="http://www.wjike.com/images/201605/goods_img/11116_P_1462816143394.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11116">日本日清零胆固醇色拉油1.5L</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥59</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11116" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11170">
                        <img src="http://www.wjike.com/images/201605/goods_img/11170_P_1463076280281.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11170">新西兰新溪岛（Streamland）柠檬蜂蜜500g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥85</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11170" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10433">
                        <img src="http://www.wjike.com/images/201603/goods_img/10433_P_1457047249901.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10433">澳大利亚水果尾巴（Fruittails）小黄人香蕉味夹心饼干160g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥34</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10433" class="buying">立即购买</a>
                </div>
            </li>
            
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10243">
                        <img src="http://www.wjike.com/images/201601/goods_img/10243_P_1452464947616.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10243">台湾欣兰DMC 黑里透白冻膜</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥110</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10243" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486">
                        <img src="http://www.wjike.com/images/201603/goods_img/10486_P_1457298050593.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10486">澳大利亚Lucas番木瓜膏保湿消炎修复万用膏25g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥37</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10486" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10210">
                        <img src="http://www.wjike.com/images/201601/goods_img/10210_P_1452461581386.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10210">台湾森田药妆蜗牛赋活水润面膜10片入</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥76</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10210" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11145">
                        <img src="http://www.wjike.com/images/201605/goods_img/11145_P_1463006576297.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11145">日本资生堂(SHISEIDO)Fino7种美容液高效渗透发膜230g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥59</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11145" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10695">
                        <img src="http://www.wjike.com/images/201603/goods_img/10695_P_1458163694429.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10695">德国阿佩辛（Alpecin）咖啡因C1洗发水 止脱育发 250ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥74</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10695" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11107">
                        <img src="http://www.wjike.com/images/201605/goods_img/11107_P_1462755033170.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11107">日本比那氏（Propolinse）漱口水（蜂胶味） 600ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥49</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11107" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11544">
                        <img src="http://www.wjike.com/images/201608/goods_img/11544_P_1470273553572.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11544">日本花王（KAO）乐而雅F系列绵柔护翼卫生巾25cm日用18片</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥28</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11544" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11946">
                        <img src="http://www.wjike.com/images/201609/goods_img/11946_P_1473634119062.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11946">德国汉高泰瑞美(Theramed)立式牙膏 超感美白(红色) 100ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥25</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11946" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10777">
                        <img src="http://www.wjike.com/images/201604/goods_img/10777_P_1459449664422.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10777">意大利美林(Mellin)婴儿辅食鳕鱼泥4月+80g罐装</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥17</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10777" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11278">
                        <img src="http://www.wjike.com/images/201606/goods_img/11278_P_1465253382751.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11278">美国世界最好（Earth's Best）婴儿二段有机高铁燕麦米粉 227g/盒 ...</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥33</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11278" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11050">
                        <img src="http://www.wjike.com/images/201605/goods_img/11050_P_1462744201838.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11050">日本和光堂（Wakodo）纯植物婴儿爽身粉红茶香120g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥46</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11050" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10818">
                        <img src="http://www.wjike.com/images/201604/goods_img/10818_P_1459805138533.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10818">美国帕玛氏（Palmers）舒缓止痒油缓解瘙痒滋润肌肤孕妇专用150ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥99</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10818" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10661">
                        <img src="http://www.wjike.com/images/201603/goods_img/10661_P_1458154562196.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10661">德国喜宝(HiPP)婴幼儿二合一洗发乳沐浴露 无泪配方免清洗 200ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥37</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10661" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11147">
                        <img src="http://www.wjike.com/images/201605/goods_img/11147_P_1463006783319.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11147">日本川西商事(Kawanishi)动物造型自然陶瓷防滑儿童牙刷0-5岁宝宝</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥14</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11147" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11397">
                        <img src="http://www.wjike.com/images/201606/goods_img/11397_P_1466125507801.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11397">日本花王(KAO)妙而舒merries系列婴儿纸尿裤中号M64片（6-11kg)</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥109</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11397" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9768">
                        <img src="http://www.wjike.com/images/201510/goods_img/9768_P_1446000055797.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9768">小林制药 宝宝退热贴 2岁以上 蓝色 12枚入</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥37</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=9768" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11122">
                        <img src="http://www.wjike.com/images/201605/goods_img/11122_P_1462817089152.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11122">日本花王（KAO）洁霸高活性酶深层去渍洗衣液900g</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥31</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11122" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10703">
                        <img src="http://www.wjike.com/images/201603/goods_img/10703_P_1458165243841.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10703">德国菲洛施（Frosch）柠檬高效浓缩洗洁精 无毒抗菌 750ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥31</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10703" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12046">
                        <img src="http://www.wjike.com/images/201611/goods_img/12046_P_1479411820601.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12046">日本兴和新药(Kowa)三次元口罩 防尘防雾霾PM2.5 12枚紫色</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥44</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12046" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11120">
                        <img src="http://www.wjike.com/images/201605/goods_img/11120_P_1462816591177.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11120">日本妮飘（Nepia)鼻子贵族柔肤纸巾16包无香型</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥27</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11120" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11358">
                        <img src="http://www.wjike.com/images/201606/goods_img/11358_P_1465771775138.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11358">日本象印(ZOJIRUSHI)不锈钢保温杯 SM-SA60-RW 600ML</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥239</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11358" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12040">
                        <img src="http://www.wjike.com/images/201611/goods_img/12040_P_1479412642626.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=12040">日本兴和新药(Kowa)三次元口罩 防尘防雾霾PM2.5 12枚粉色</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥44</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12040" class="buying">立即购买</a>
                </div>
            </li>
            <li class="act_list_one">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11986">
                        <img src="http://www.wjike.com/images/201609/goods_img/11986_P_1474321198908.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11986">德国碧然德(Brita)滤水壶marella金典系列3.5L(蓝色)</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥199</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11986" class="buying">立即购买</a>
                </div>
            </li>
            
            <li class="act_list_two">
                <div class="al_pic">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11955">
                        <img src="http://www.wjike.com/images/201609/goods_img/11955_P_1473639889821.jpg" />
                    </a>
                </div>
                <div class="al_txt">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11955">德国菲洛施（Frosch）重油污清洁喷雾(苏打）500ml</a>
                </div>
                <div class="al_pri">
                    会员价<span>￥49</span>
                </div>
                <div class="al_btn">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11955" class="buying">立即购买</a>
                </div>
            </li>
            
        </ul>
    </div>
    
    
    
</div>	
<!--end--> 

    

</body>
</html>






















