<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>购买万集客会员</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />
<style>
    .activity_all { width:100%; overflow:hidden; margin:0 auto; }
    .activity_all .act_pic{ width:100%; text-align:center;}
    .activity_all .act_pic a{ margin-bottom:0px; display:block;}
    .activity_all .act_pic .j_img_top{ width:100%;}
</style>
</head>
<body>

<!--购买万集客会员start-->
<div class="activity_all">
    <div class="act_pic">
        <img class="j_img_top" src="../images/vippay_01.jpg" />
        <img class="j_img_top" src="../images/vippay_02.jpg" />
        <img class="j_img_top" src="../images/vippay_03.jpg" />
        <img class="j_img_top" src="../images/vippay_04.jpg" />
        <img class="j_img_top" src="../images/vippay_05.jpg" />
        <img class="j_img_top" src="../images/vippay_06.jpg" />

    </div>
</div>
<!--购买万集客会员end-->
</body>
</html>






















