<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="Keywords" content="万集客,日本膳魔师,象印,虎牌,山水,不锈钢保温杯,保冷瓶,电炖盅,慢炖锅-万集客商城wjike.com" />
    <meta name="Description" content="时光是金黄色的，四季轮回间，流露出幸福的表情,是呢，秋冬的季节，有了它用一个晚上的时间，煲出香糯的粥;浓浓家的味道，喝到妈妈牌靓汤-万集客商城wjike.com" />
    <title>这个温暖刚刚好</title>

    <style>
        .warm_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .warm_m_all .act_pic{ width:100%; text-align:center;}
        .warm_m_all .act_pic a{ display:block;}
        .warm_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>
<!--start-->

<div class="warm_m_all">

    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_01.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_02.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_03.jpg" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_04.jpg" />

        <a href="http://www.wjike.com/mobile/goods.php?id=11368" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_05.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11369" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_06.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=3402" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_07.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=3410" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_08.jpg" alt="" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_09.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_10.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9803" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9804" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_12.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9805" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9806" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_15.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_16.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11367" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_17.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11366" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11365" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=9848" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_21.jpg" alt="" />
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_22.jpg" alt="" />

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11370" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_23.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11355" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_24.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11357" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_25.jpg" alt="" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=11359" title="">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_26.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_27.jpg" alt="" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/warm/warm_m_28.jpg">
        </a>

    </div>

</div>

<!--end-->
</body>
</html>






















