<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ecdaddy.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>樱桃爷爷牛轧糖-数量有限,限时抢购</title>
    <style>
        .yingtaoyeye_m_all { width:100%; overflow:hidden; margin:0 auto; }
        .yingtaoyeye_m_all .act_pic{ width:100%; text-align:center;}
        .yingtaoyeye_m_all .act_pic a{ display:block;}
        .yingtaoyeye_m_all .act_pic li{ float:left;}
    </style>
    <link rel="stylesheet" type="text/css" href="../style/base.css" />
</head>
<body>

{include file='head4.html'}
{insert_scripts files='common.js,../js/transport.js,../js/utils.js'}
<!--start-->

<div class="yingtaoyeye_m_all">
    <div class="act_pic">

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_01.jpg" />

        <a href="javascript:getbonus(3)">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_02.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10260">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_03.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10253">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_04.jpg" />
        </a>

        <a href="http://www.wjike.com/mobile/goods.php?id=10254">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_05.jpg" />
        </a>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10255">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_06.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10256">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_07.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10257">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_08_1.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10258">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_09.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; float:left;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10263">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_10.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10261">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_11.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10262">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_12_1.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10259">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_13.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10264">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_14.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10265">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_15.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10266">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_16_1.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10267">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_17.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_18.jpg" />

        <div style="width:100%;">
            <ul>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10246">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_19.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10244">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_20.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10245">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_21_1.jpg" />
                    </a>
                </li>
                <li style="width:25%">
                    <a href="http://www.wjike.com/mobile/goods.php?id=10247">
                        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_22.jpg" />
                    </a>
                </li>
            </ul>
        </div>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_23.jpg" />

        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_24.jpg" />
        </a>

        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/yingtaoyeye/yingtaoyeye_m_25.jpg" />


    </div>

</div>

<!--end-->
{include file='foot.html'}
</body>
</html>






















