<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,蒂姆亚当斯,魅客先生,红葡萄酒,白葡萄酒,空气净化器-万集客商城wjike.com" />
<meta name="Description" content="醉自然葡萄酒专场买即赠66元购空气净化器抵用券-万集客商城wjike.com" />
<title>醉自然葡萄酒专场_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.zuiziranputaojiu_m_all { width:100%; overflow:hidden; margin:0 auto; }
.zuiziranputaojiu_m_all .act_pic{ width:100%; text-align:center;}
.zuiziranputaojiu_m_all .act_pic a{ display:block;} 
.zuiziranputaojiu_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="zuiziranputaojiu_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_02.jpg" />
    	
       <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:20%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12232" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_03.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12233" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_04.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12230" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_05.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12234" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_06.jpg" alt="" />
                    </a>
                </li>
                <li style="width:20%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12231" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_07.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_08.jpg" /> 
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_09.jpg" /> 
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_10.jpg" /> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12235" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_11.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12238" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_12.jpg" alt="" />
                    </a>
                </li>
                  <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12236" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_13.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12239" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_14.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12240" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_15.jpg" alt="" />
                    </a>
                </li>
                  <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12237" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_16.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_17.jpg" /> 
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10249" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10248" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_19.jpg" alt="" />
                    </a>
                </li>
                  <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10250" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10157" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_21.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10158" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_22.jpg" alt="" />
                    </a>
                </li>
                  <li style="width:33.3%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=10159" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_23.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
                                         
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_24.jpg" /> 
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/zuiziranputaojiu/zuiziranputaojiu_m_25.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















