{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!--<div class="form-div">-->
    <!--<form action="lottery.php?act=list" method="post">-->
        <!--<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />-->
        <!--订单号<input name="order_sn" type="text" id="order_sn" size="15" value={$order_sn}>-->
        <!--用户名<input name="user_name" type="text" id="user_name" size="15" value={$user_name}>-->
        <!--<select name="reward_id" id="reward_id">-->
            <!--<option value="-1">请选择</option>-->
            <!--<option value="0" {if $reward_id==0 && $reward_id != null}selected="selected"{/if}>未中奖</option>-->
            <!--<option value="1" {if $reward_id==1}selected="selected"{/if}>一等奖</option>-->
            <!--<option value="2" {if $reward_id==2}selected="selected"{/if}>二等奖</option>-->
            <!--<option value="3" {if $reward_id==3}selected="selected"{/if}>三等奖</option>-->
            <!--<option value="4" {if $reward_id==4}selected="selected"{/if}>四等奖</option>-->
            <!--<option value="5" {if $reward_id==5}selected="selected"{/if}>五等奖</option>-->
        <!--</select>-->
        <!--<input type="submit" value="{$lang.button_search}" class="button" />-->
    <!--</form>-->
<!--</div>-->

<div class="list-div" id="listDiv">
{/if}
    <table cellpadding="3" cellspacing="1">
            <tr>
                <th>订单号</th>
                <th>跨境通订单号</th>
                <th>跨境通任务状态</th>
                <th>跨境通返回信息</th>
                <th>盛付通任务状态</th>
                <th>盛付通返回信息</th>
            </tr>
                {foreach from=$task_list item=task key=okey}
            <tr>
                <td align="center" valign="top" nowrap="nowrap"><a href="order.php?act=info&order_id={$task.order_id}" target="_blank">{$task.order_no}</a></td>
                <td align="center" valign="top" nowrap="nowrap">{$task.kjt_order_no}</td>
                <td align="center" valign="top" nowrap="nowrap">{$task.task_status}</td>
                <td align="center" valign="top" nowrap="nowrap">{$task.return_desc}</td>
                <td align="center" valign="top" nowrap="nowrap">{$task.sft_status}</td>
                <td align="center" valign="top" nowrap="nowrap">{$task.billing_desc}</td>
            </tr>
            {/foreach}
        </table>
    <table id="page-table" cellspacing="0">
            <tr>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>
{if $full_page}
</div>

<script language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
</script>
{include file="pagefooter.htm"}
{/if}