<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/base.css" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<meta name="Keywords" content="万集客,澳大利亚Fatblaster,日本山本汉方,新西兰红印,澳大利亚澳佳宝,日本花王,英国清妍,洗发水,卫生巾,排毒水,黑蔗糖,月见草油胶囊-万集客商城wjike.com" />
<meta name="Description" content="夏日特别推荐,瘦下来还原本真的美-万集客商城wjike.com" />
<title>女子夏の物鉴-夏日特别推荐_万集客-万集客商城_进口食品_进口美妆个护_进口母婴用品_进口家居家电_手机数码–万集客官网</title>

<link rel="stylesheet" type="text/css" href="../style/base.css" />

<style>
.xiazhiwujian_m_all { width:100%; overflow:hidden; margin:0 auto; }
.xiazhiwujian_m_all .act_pic{ width:100%; text-align:center;}
.xiazhiwujian_m_all .act_pic a{ display:block;} 
.xiazhiwujian_m_all .act_pic li{ float:left;}
</style>
</head>
<body>
<!--start--> 
 
<div class="xiazhiwujian_m_all">
	<div class="act_pic">    
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_01.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_02.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_03.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_04.jpg" />
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_05.jpg" />
        
        
        <a href="http://www.wjike.com/mobile/goods.php?id=10496" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_06.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11348" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_07.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10481" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_08.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=10500" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_09.jpg" alt="" />
        </a>
        <a href="http://www.wjike.com/mobile/goods.php?id=11544" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_10.jpg" alt="" />
        </a>
        
    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_11.jpg" />
     
        
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11162" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_12.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12074" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_13.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12260" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_14.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12253" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_15.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12257" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_16.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12258" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_17.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <div style="width:100%; float:left;">
        	<ul>
            	<li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12194" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_18.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=11689" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_19.jpg" alt="" />
                    </a>
                </li>
                <li style="width:33.33%">
                	<a href="http://www.wjike.com/mobile/goods.php?id=12241" title="">
                    	<img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_20.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_21.jpg" />          
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_22.jpg" />                             
        
        <a href="http://www.wjike.com/mobile/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjk6IuaykOa1tOmcsiI7czoxODoic2VhcmNoX2VuY29kZV90aW1lIjtpOjE0OTc1OTU2NjM7fQ==" title="">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_23.jpg" alt="" />
        </a>
        
        <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_24.jpg" />      
        
        <a href="http://www.wjike.com/mobile/vip.php?act=vip_info">
            <img style="width:100%" src="http://www.wjike.com/images/upload/Image/activity/xiazhiwuyu/xiazhiwujian_m_25.jpg">
        </a>
        
    </div>
    
</div>	

<!--end--> 

</body>
</html>






















